<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: spc or Data Sheet | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="product-name-reason" id="back-link">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to what is the reason for changing the product name</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="spc-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        <span class="nhsuk-caption-l" id="product-name-title">
                Submit a product change
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
        Have you got an authorised SmPC?
      </h1>
    </legend>
    <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="spc-hint">
      An authorised SmPC is a summary of product characteristics for licensed medicines with Parts 8 and 9 completed. The product license number needs to begin with PL or PLGB.
    </div>
    

    <div class="nhsuk-radios" id="data-spc-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="data-yes" name="data-spc" type="radio" value="yes" />
        <label class="nhsuk-label nhsuk-radios__label" for="data-yes">
          Yes
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="data-no" name="data-spc" type="radio" value="no" />
        <label class="nhsuk-label nhsuk-radios__label" for="data-no">
          No
        </label>
      </div>

    </div>
  </fieldset>
</div>

<a class="nhsuk-button nhsuk-u-margin-top-3" onclick="storeSpcYesOrNo()"
   id="continue-button"
   href="product-no-spc"
   type="submit">
  Continue
</a>
<script>
  window.onload = function() {
    if (localStorage.getItem("product-change-reason") == 'product name') {
    document.getElementById("back-link").setAttribute('href', "reason-product-name/product-name-reason");
    document.getElementById("back-link").innerHTML = "<svg class='nhsuk-icon nhsuk-icon__chevron-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' height='24' width='24'><path d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'></path></svg>Go back to reason for change to product name";
    } else if (localStorage.getItem("product-change-reason") == 'licensing authority') {
    document.getElementById("back-link").setAttribute('href', "reason-licensing-authority/licensing-authority-reason");
    document.getElementById("back-link").innerHTML = "<svg class='nhsuk-icon nhsuk-icon__chevron-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' height='24' width='24'><path d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'></path></svg>Go back to detail the reason for changing the licensing authority";
    } else if (localStorage.getItem("product-change-reason") == 'market authorisation number') {
    document.getElementById("back-link").setAttribute('href', "reason-market-auth-number/market-auth-reason");
    document.getElementById("back-link").innerHTML = "<svg class='nhsuk-icon nhsuk-icon__chevron-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' height='24' width='24'><path d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'></path></svg>Go back to detail the reason for changing the market authorisation numbers";
    } else if (localStorage.getItem("product-change-reason") == 'licensed route') {
    document.getElementById("back-link").setAttribute('href', "reason-licensed-route/licensed-route");
    document.getElementById("back-link").innerHTML = "<svg class='nhsuk-icon nhsuk-icon__chevron-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' height='24' width='24'><path d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'></path></svg>Go back to manage licensed routes";
    }
  };


  let productChangeReason = localStorage.getItem("product-change-reason");

  let productTitle = document.getElementById("product-name-title");

  if (productChangeReason || productChangeReason != null || productChangeReason != "") {
    productTitle.innerHTML = '<span class="nhsuk-caption-l" id="product-change-reason">Submit a product change' + ': ' + productChangeReason +'<span class="nhsuk-u-visually-hidden"> - </span></span>';
  }
</script>
<script src="/js/newProduct.js"></script>

{% endblock %}


