<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: pack size and strength | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-width-container">
    <div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
        <a class="nhsuk-back-link__link" id="back-link" href="../submission-view-price-change-3.html#tab-action">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                 aria-hidden="true" height="24" width="24">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Go back to submission view</a>
    </div>
    <h1 class="app-page-heading">
        <span class="nhsuk-caption-l">
            AstraZeneca
          <span class="nhsuk-u-visually-hidden"> - </span>
        </span>
        Action price change submission
    </h1>
</div>

<h2>Submission detail</h2>

        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key update-width">
                    Reference number
                </dt>
                <dd class="nhsuk-summary-list__value">
                    123456789
                </dd>

            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Submitted by
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Jane Smith
                </dd>

            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Email contact
                </dt>
                <dd class="nhsuk-summary-list__value">
                    <a href="mailto:jane.smith@example.com">
                        jane.smith@example.com
                    </a>
                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Date received
                </dt>
                <dd class="nhsuk-summary-list__value">
                    01 May 2022
                </dd>

            </div>
        </dl>

<h2>Review price changes</h2>

<dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key update-width">
            Effective date
        </dt>
        <dd class="nhsuk-summary-list__value">
            01 June 2022
        </dd>

    </div>
</dl>

<p class="nhsuk-u-margin-bottom-5">To complete the submission, review the price change and zero price change summaries below.</p>
<!--<p>To complete the submission, review the summary below.</p>-->

<div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <strong class="nhsuk-tag nhsuk-tag--grey">
                    Not confirmed
                </strong>
                <h3 class="nhsuk-card__heading nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
                    Price change summary
                </h3>
                <h4 class="nhsuk-u-margin-bottom-0">Reimbursement dates</h4>
                <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key summary-width">
                            Generic products
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            not set
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Proprietary products
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            not set
                        </dd>
                    </div>
                </dl>
                <p><a class="nhsuk-link--no-visited-state nhsuk-u-margin-top-3" href="action-submission--check-prices">Review price changes and set reimbursement dates</a><span class="nhsuk-u-visually-hidden">AstraZeneca 100mg Paracetamol</span></p>
            </div>
        </div>
    </div>

    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <strong class="nhsuk-tag nhsuk-tag--grey">
                    Not confirmed
                </strong>
                <h3 class="nhsuk-card__heading nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
                    Zero price summary

                </h3>
                <h4 class="nhsuk-u-margin-bottom-0">Reimbursement date</h4>
                <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key summary-width">
                            Zero price products
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            not set
                        </dd>
                    </div>
                </dl>
                <p class="nhsuk-u-margin-top-9"><a class="nhsuk-link--no-visited-state" href="action-submission--check-zero-prices">Review zero price changes and set reimbursement date</a><span class="nhsuk-u-visually-hidden">AstraZeneca 100mg Paracetamol</span></p>
            </div>
        </div>
    </div>
</div>
<div class="nhsuk-inset-text nhsuk-u-margin-top-0">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>In order to complete this price change submission, you must confirm all price changes.</a></p>
</div>


{% endblock %}
