<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: pack size and strength | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" id="back-link" href="../dashboard">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path
          d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to meds dashboard</a>
</div>

<h1>Submissions</h1>

<p>From here, you can view existing submissions which are new or require action. You can also view any submission which was completed in the last 30 days.</p>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-0">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <span class="nhsuk-card__link">
            12
            <br>
            <a class="nhsuk-card__link nhsuk-u-font-size-19 nhsuk-link--no-visited-state"
               href="../new-submissions/submissions">Existing submissions</a>
          </span>
        </h2>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-0">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <span class="nhsuk-card__link">
            32
            <br>
            <span class="nhsuk-u-font-size-19">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="../complete-submissions/submissions">Completed submissions</a>
              (last 30 days)
            </span>
          </span>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>Alternatively, you can view all submissions between <a class="nhsuk-link--no-visited-state" href="https://yellowcard.mhra.gov.uk/" title="External website">two dates</a>.</p>
</div>


<script src="/js/MOJ.js" defer></script>
<script src="../../js/dialog.js"></script>
<script>

  let captionTextElement = document.querySelector("#submission-caption");
  captionTextElement.innerHTML = "Summary of all submissions. Each heading in the table can be sorted in ascending or descending order. Selecting Enter or clicking the mouse on the heading button, or by touch if using a touch device, will achieve this.";

  window.addEventListener('resize', function (event) {
    console.log(window.innerWidth);
    if (window.innerWidth < 770) {
      captionTextElement.innerHTML = "Summary of all submissions."
    } else {
      captionTextElement.innerHTML = "Summary of all submissions. Each heading in the table can be sorted in ascending or descending order. Selecting Enter or clicking the mouse on the heading button, or by touch if using a touch device, will achieve this.";
    }
  }, true);

</script>


{% endblock %}