{% extends "base.html" %}
{% block title %}
Submit a new special product - Summary? |  Specials Profile Replacement | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-8">

    <a class="nhsuk-back-link__link" href="product-notes">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to add a message for the product enquiry</a>
</div>

        <div class="nhsuk-width-container">

            <span class="nhsuk-caption-l">
                Submit a product enquiry
</span>
            <h1>Summary
            </h1>
            
<dl class="nhsuk-summary-list">

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Enquiry reason
      </dt>
      <dd class="nhsuk-summary-list__value">
        Availability
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="edit-enquiry">
          Edit<span class="nhsuk-u-visually-hidden"> Enquiry reason</span>
        </a>
  
      </dd>
  
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Product name
      </dt>
      <dd class="nhsuk-summary-list__value">
        Product name 200mg tablets
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="edit-product-name">
          Edit<span class="nhsuk-u-visually-hidden"> Product name</span>
        </a>
  
      </dd>
  
    </div>
  
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Product enquiry message
      </dt>
      <dd class="nhsuk-summary-list__value">
        Message Title<br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
  
        <a href="edit-product-notes">
          Edit<span class="nhsuk-u-visually-hidden"> Product enquiry message </span>
        </a>
  
      </dd>
  
    </div>
  
    
</dl>
  

  <a class="nhsuk-button nhsuk-u-margin-top-4" data-module="nhsuk-button" type="submit" href="confirmation">
    Save and submit product enquiry
</a>
 
</div>
{% endblock %}  