{% extends "base.html" %}
{% block title %}
Portal dashboard | Medicines Management design prototype | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-8">

    <a class="nhsuk-back-link__link" href="summary">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
</div>

        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
                    <h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l">
                        Product enquiry
  <span class="nhsuk-u-visually-hidden"> - </span>
</span>

  
      <h1>
        Change the reason for the enquiry?
      </h1>
  
      <div class="nhsuk-hint nhsuk-u-margin-bottom-5" id="data-sheet-hint">
    
        Select one option
      </div>
  
      <div class="nhsuk-radios nhsuk-radios--conditional">
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
            Availability
          </label>
        </div>
  
        
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
            Stock level
          </label>
        </div>
  
        
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="contact-3" name="contact" type="radio" value="text" aria-controls="conditional-contact-3" aria-expanded="false">
          <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
            Other
          </label>
        </div>
  
        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-3">
  
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="mobile">
              Give reason
            </label>
            <input class="nhsuk-input nhsuk-u-width-two-thirds" id="mobile" name="mobile" type="text">
          </div>
  
        </div>
  
      </div>
    </fieldset>
  
  </div>


</fieldset>


<a href="summary" class="nhsuk-button nhsuk-u-margin-top-3"
value="Continue"
id="next"
>Save and continue
</a>
</div>
{% endblock %}
