<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Add market authorisation (MA) number | Submit a product change: market authorisation number | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="market-auth-number" id="market-auth-number">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to review market authorisation numbers</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" id="ma-number-fieldset" aria-describedby="example-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading" id="heading">
        Add market authorisation (MA) number
      </h1>
    </legend>
    <div class="nhsuk-hint nhsuk-u-margin-bottom-3" id="example-hint">
      A market authorisation (MA) number needs to be entered as shown in Part 8 of the SmPC. This may start with PL, PLGB, EU or MA.
    </div>


    <label class="nhsuk-label" for="ma-number">
      MA number
    </label>
    <input class="nhsuk-input nhsuk-u-margin-bottom-3" id="ma-number" name="strength" type="text" pattern="[0-9]*" inputmode="numeric" style="max-width: 30.8ex;">

    <div class="nhsuk-form-group nhsuk-u-margin-bottom-0" id="button-group" >
      <button class="govuk-button secondary-color" id="first-add-button">Add another MA number</button>
    </div>

    <div class="hide nhsuk-u-margin-top-2" id="second-ma-number">
      <label class="nhsuk-label" for="ma-number-2">
        MA number
      </label>
      <input class="nhsuk-input nhsuk-u-margin-bottom-3" id="ma-number-2" name="strength" type="text" pattern="[0-9]*" inputmode="numeric" style="max-width: 30.8ex;">

      <div class="nhsuk-form-group nhsuk-u-margin-bottom-0" id="button-group-2">
        <button class="govuk-button govuk-button--warning nhsuk-u-margin-right-2 nhsuk-u-margin-bottom-4" id="delete-ma-number2-button">Delete MA number</button>
        <button class="govuk-button secondary-color" id="second-add-button">Add another MA number</button>
      </div>
    </div>

    <div class="hide" id="third-ma-number">
      <label class="nhsuk-label" for="ma-number-3">
        MA number
      </label>
      <input class="nhsuk-input nhsuk-u-margin-bottom-3" id="ma-number-3" name="strength" type="text" pattern="[0-9]*" inputmode="numeric" style="max-width: 30.8ex;">

      <div class="nhsuk-form-group nhsuk-u-margin-bottom-0" id="button-group-3">
        <button class="govuk-button govuk-button--warning nhsuk-u-margin-right-2" id="delete-ma-number3-button">Delete MA number</button>
        <button class="govuk-button secondary-color" id="third-add-button">Add another MA number</button>
      </div>
    </div>

  </fieldset>
</div>






<a class="nhsuk-button" onclick="storeMANumbers()"
   href="market-auth-number" id="continue-button"
   type="submit">
  Add and review
</a>

<script src="/js/gov.min.js"></script>

<script>

        var maNumber = document.getElementById("ma-number");

     if (maNumber) {

    function storeMANumbers() {

    maNumber = document.getElementById("ma-number");
    localStorage.setItem("ma-number", maNumber.value);

    var maNumber2 = document.getElementById("ma-number-2");
    localStorage.setItem("ma-number-2", maNumber2.value);
    if (maNumber2.value == "") {
      localStorage.removeItem("ma-number-2");
    }

    var maNumber3 = document.getElementById("ma-number-3");
    localStorage.setItem("ma-number-3", maNumber3.value);
    if (maNumber3.value == "") {
      localStorage.removeItem("ma-number-3");
    }

    if (summaryPage) {
      buttonLink.href = "../summary";
    }
  }

  var getMaNumber = localStorage.getItem("ma-number");

  var maNum = document.querySelector("#ma-number");
  if (getMaNumber != null) {
    maNum.defaultValue = getMaNumber;
  }

  var getMaNumber2 = localStorage.getItem("ma-number-2");

  var maNum2 = document.querySelector("#ma-number-2");
  if (getMaNumber2 != null) {
    maNum2.defaultValue = getMaNumber2;
  }

  var getMaNumber3 = localStorage.getItem("ma-number-3");

  var maNum3 = document.querySelector("#ma-number-3");
  if (getMaNumber3 != null) {
    maNum3.defaultValue = getMaNumber3;
  }
}

        if (localStorage.getItem("ma-number-2") && !localStorage.getItem("ma-number-3")) {
          let buttonGroup = document.querySelector("#button-group");
          let secondMaNumber = document.querySelector("#second-ma-number");
          secondMaNumber.classList.remove("hide");
          buttonGroup.classList.add("hide");
        } else if (localStorage.getItem("ma-number-3") && !localStorage.getItem("ma-number-2")) {
          let buttonGroup = document.querySelector("#button-group");
          let thirdMaNumber = document.querySelector("#third-ma-number");
          buttonGroup.classList.add("hide");
          thirdMaNumber.classList.remove("hide");
        } else if (localStorage.getItem("ma-number-3") && localStorage.getItem("ma-number-2")) {
          let buttonGroup = document.querySelector("#button-group");
          let addButton2 = document.querySelector("#second-add-button");
          let thirdMaNumber = document.querySelector("#third-ma-number");
          let secondMaNumber = document.querySelector("#second-ma-number");
          secondMaNumber.classList.remove("hide");
          buttonGroup.classList.add("hide");
          thirdMaNumber.classList.remove("hide");
          addButton2.style.display = "none";
        } else if (!localStorage.getItem("ma-number-3") && !localStorage.getItem("ma-number-2")) {
          let buttonGroup = document.querySelector("#button-group");
          buttonGroup.classList.remove("hide");
        }

        let addAnotherMaNumber = document.querySelector("#first-add-button");

        addAnotherMaNumber.addEventListener("keydown", eventHandler, false);
        addAnotherMaNumber.addEventListener("click", eventHandler, false);

        function eventHandler(event) {
          let buttonGroup = document.querySelector("#button-group");
          let secondMaNumber = document.querySelector("#second-ma-number");
          secondMaNumber.classList.remove("hide");
          buttonGroup.classList.add("hide");
        };

        let deleteMaNumber2 = document.querySelector("#delete-ma-number2-button");

        deleteMaNumber2.addEventListener("keydown", eventHandlerDelete, false);
        deleteMaNumber2.addEventListener("click", eventHandlerDelete, false);

        function eventHandlerDelete(event) {
          let buttonGroup = document.querySelector("#button-group");
          let secondMaNumber = document.querySelector("#second-ma-number");
          let maNumber2Input = document.querySelector("#ma-number-2");
          let maNumber3Input = document.querySelector("#ma-number-3");
          secondMaNumber.classList.add("hide");
          maNumber2Input.value = "";
        if (maNumber3Input.value != "" || maNumber3Input.value != "") {
          let buttonGroup = document.querySelector("#button-group");
          buttonGroup.classList.add("hide");
        } else {
          buttonGroup.classList.remove("hide");
          }
        };

        let addAThirdMaNumber = document.querySelector("#second-add-button");

        addAThirdMaNumber.addEventListener("keydown", eventHandlerAdd, false);
        addAThirdMaNumber.addEventListener("click", eventHandlerAdd, false);

        function eventHandlerAdd(event) {
          let addButton2 = document.querySelector("#second-add-button");
          let thirdMaNumber = document.querySelector("#third-ma-number");
          thirdMaNumber.classList.remove("hide");
          addButton2.style.display = "none";
        };

        let deleteMaNumber3 = document.querySelector("#delete-ma-number3-button");

        deleteMaNumber3.addEventListener("keydown", eventHandlerDeleteLast, false);
        deleteMaNumber3.addEventListener("click", eventHandlerDeleteLast, false);

        function eventHandlerDeleteLast(event) {
          let addButton2 = document.querySelector("#second-add-button");
          let thirdMaNumber = document.querySelector("#third-ma-number");
          let packMaNumber3Input = document.querySelector("#ma-number-3");
          let packMaNumber2Input = document.querySelector("#ma-number-2");
          addButton2.style.display = "inline-block";
          thirdMaNumber.classList.add("hide");
          packMaNumber3Input.value = "";
        if (packGtin2Input.value == "") {
          let buttonGroup = document.querySelector("#button-group");
          buttonGroup.classList.remove("hide");
          }
        };

</script>
{% endblock %}