{% extends "base.html" %}
{% block title %}
Submit a new product: name | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
  <a class="nhsuk-back-link__link" href="add-container">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to add container</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-uom-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l">
                Submit a new special product
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
        Pack size and unit of measure (UOM)
      </h1>
    </legend>
    <p>
      For example, 28 tablets has a pack size of 28 and a UOM of tablet.
    </p>


    <label class="nhsuk-label" for="pack-size">
      Pack size
    </label>
    <input class="nhsuk-input nhsuk-u-margin-bottom-3" id="pack-size" name="size" type="text" pattern="[0-9]*" inputmode="numeric" style="max-width: 22.8ex;">

    <label class="nhsuk-label" for="pack-type">
      (UOM)
    </label>

    <div class="nhsuk-hint nhsuk-u-margin-bottom-3" id="example-uom-hint">
    If the UOM does not appear choose 'other' and continue to the next stage to capture this.
    </div>

    <select class="nhsuk-select" id="pack-type" name="type">
      <option value=""></option>
      <option value="ampoule">ampoule</option>
      <option value="bottle">bottle</option>
      <option value="capsule">capsule</option>
      <option value="dose">dose</option>
      <option value="gram">gram</option>
      <option value="litre">litre</option>
      <option value="ml">ml</option>
      <option value="tablet">tablet</option>
      <option value="vial">vial</option>
      <option value="other">other</option>
    </select>

  </fieldset>
</div>

<a class="nhsuk-button nhsuk-u-margin-top-2" onclick="storeSizeAndStrength()"
   href="pack-quantity" id="continue-button"
   type="submit">
  Continue
</a>

<script src="/js/MOJ.js" defer></script>
<script>
  console.log(localStorage);

let allSelectIds = document.querySelectorAll('select[id]');
let allInputIds = document.querySelectorAll('input[id]');


accessibleAutocomplete.enhanceSelectElement({
            defaultValue: "",
            autoselect: true,
            showAllValues: true,
            confirmOnBlur: false,
            showNoOptionsFound: true,
            selectElement: document.querySelector("#pack-type"),
        });

        let parentDiv = document.querySelector("#pack-type").parentNode;
        let newLabel = document.createElement("label");
        newLabel.innerHTML = "Company";
        newLabel.style.display = "none";
        newLabel.setAttribute("for", document.querySelector("#pack-type-select").id);
        parentDiv.appendChild(newLabel);


var packTy = document.querySelector("#pack-type");


  var getPackSize = localStorage.getItem("special-product-pack-size");

  var packSi = document.querySelector("#pack-size");
  if (getPackSize != null) {
    packSi.defaultValue = getPackSize;
  }

  var getPackType = localStorage.getItem("special-product-pack-type");

  if (getPackType != null) {
    packTy.value = getPackType;
  }

  function storeSizeAndStrength() {
    var packSize = document.getElementById("pack-size");
    localStorage.setItem("special-product-pack-size", packSize.value);

    var packType = document.getElementById("pack-type");
    localStorage.setItem("special-product-pack-type", packType.value);

    if (packType.value === "other") {
      document.getElementById("continue-button").setAttribute('href', "other-container");
    }
  }


</script>

{% endblock %}