{% extends "base.html" %}
{% block title %}
Submit a new product | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="../price-change-drafts">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to price change drafts</a>
</div>

<h1><span class="nhsuk-caption-l">
     Price change submission
       <span class="nhsuk-u-visually-hidden"> - </span>
    </span>
  Final summary</h1>

<p class="nhsuk-u-margin-bottom-5" id="pack-review">Your price change submission contains products with both price changes and zero price changes. This is your last chance to review both before submitting.</p>

<p><a href="price-change-draft" class="nhsuk-link nhsuk-link--no-visited-state">Review price changes</a></p>
<p class="nhsuk-u-margin-bottom-6"><a href="zero-prices-draft" class="nhsuk-link nhsuk-link--no-visited-state">Review zero price changes</a></p>

<a class="nhsuk-button nhsuk-u-margin-right-5" onclick="" href="price-change-confirmation" id="continue-button" type="submit">
  Confirm all changes and submit
</a>

<a href="draft-confirmation"><button class="nhsuk-button nhsuk-button--secondary">Save as draft</button></a>

<script>
localStorage.setItem("combination", "yes");

</script>



{% endblock %}