fill-red{
  fill: #d5281b !important;
}

fill-blue{
  fill: #005eb8 !important;
}

.temporal-not-eligible {
  background-color: #fff59d;
}
.temporal-not-eligible:hover {
  background-color: #ded373 !important;
}

.temporal-historic {
  background-color: #D1D5D7;
}
.temporal-historic:hover {
  background-color: #C0C7C9 !important;
}

.temporal-future-dated {
  background-color: #C1DCCB;
}

.temporal-future-dated:hover {
  background-color: #B2D2BC !important;
}

* Conditional */
.nhsuk-radios__conditional {
  margin-bottom: 16px;
  border-left: 4px solid #4c6272;
  margin-left: 18px;
  padding-left: 30px; }
  @media (min-width: 40.0625em) {
    .nhsuk-radios__conditional {
      margin-bottom: 24px; } }
  .nhsuk-radios__conditional > :last-child {
    margin-bottom: 0; }

.nhsuk-radios__conditional--hidden {
  display: none; }

  .govuk-file-upload {
      font-family: "GDS Transport",arial,sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
      color: #0b0c0c;
      max-width: 100%;
      margin-left: -5px;
      padding: 5px;

      @media (min-width: 40.0625em) {
      .govuk-file-upload {
          font-size: 19px;
          font-size: 1.1875rem;
          line-height: 1.31579;
      }
      }

      @media (min-width: 40.0625em) {
          .nhsuk-summary-list__key {
            width: 40% !important; } }

