<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Add market authorisation (MA) number | Submit a product change: market authorisation number | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="licensed-route" id="market-auth-number">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to manage licensed routes</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-uom-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        Add a licensed route
      </h1>
    </legend>

    <label class="nhsuk-label" for="licensed-route">
      Licensed route
    </label>

    <div class="nhsuk-hint nhsuk-u-margin-bottom-3" id="example-uom-hint">
      If the licensed route is not found choose 'Other' and continue to the next stage to capture this.
    </div>

    <select class="nhsuk-select" id="licensed-route" name="type">
      <option value=""></option>
      <option value="Auricular">Auricular</option>
      <option value="Body cavity">Body cavity</option>
      <option value="Buccal">Buccal</option>
      <option value="Cutaneous">Cutaneous</option>
      <option value="Dental">Dental</option>
      <option value="Endocervical">Endocervical</option>
      <option value="Nasal">Nasal</option>
      <option value="Oral">Oral</option>
      <option value="Subconjunctival">Subconjunctival</option>
      <option value="other">Other</option>
    </select>


  </fieldset>
</div>






<a class="nhsuk-button" onclick="storeLicensedRoute()"
   href="licensed-route" id="continue-button"
   type="submit">
  Save and continue
</a>

<script src="/js/gov.min.js"></script>

<script>
let allSelectIds = document.querySelectorAll('select[id]');
let allInputIds = document.querySelectorAll('input[id]');


accessibleAutocomplete.enhanceSelectElement({
            defaultValue: "",
            autoselect: true,
            showAllValues: true,
            confirmOnBlur: false,
            showNoOptionsFound: true,
            selectElement: document.querySelector("#licensed-route"),
        });

        let parentDiv = document.querySelector("#licensed-route").parentNode;
        let newLabel = document.createElement("label");
        newLabel.innerHTML = "Company";
        newLabel.style.display = "none";
        newLabel.setAttribute("for", document.querySelector("#licensed-route-select").id);
        parentDiv.appendChild(newLabel);

function storeLicensedRoute() {

        var licRoute = document.getElementById("licensed-route");
        localStorage.setItem("add-licensed-route", licRoute.value);

        if (licRoute.value == "Other") {
            document.getElementById("continue-button").setAttribute('href', "add-licensed-route-other");
        }
    };


</script>
{% endblock %}