<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Supplier submissions hub | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="pack-2-size">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to pack size</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading" id="heading">
        Is there any subpack information?
      </h1>
    </legend>
    <div class="nhsuk-hint" id="spc-hint">
      Subpack information is the breakdown of the pack. For example, a pack of 24 tablets may be split as 2 strips of 12 tablets.
    </div>

    <div class="nhsuk-radios nhsuk-u-margin-top-5" id="data-subpack-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="data-yes" name="data-subpack" type="radio" value="yes" />
        <label class="nhsuk-label nhsuk-radios__label" for="data-yes">
          Yes
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="data-no" name="data-subpack" type="radio" value="no" />
        <label class="nhsuk-label nhsuk-radios__label" for="data-yes">
          No
        </label>
      </div>

    </div>
  </fieldset>
</div>

<a class="nhsuk-button nhsuk-u-margin-top-3" onclick="store()"
   id="continue-button"
   href="pack-2-gtin"
   type="submit">
  Continue
</a>

<script>

var radioButtons = document.getElementsByName("data-subpack");

var getSubpack = localStorage.getItem("pack-2-subpack");
var getSize = localStorage.getItem("pack-2-size");

var heading = document.getElementById("heading");

if (getSize != null) {
heading.innerHTML = 'Is there any subpack information for ' + getSize + ' pack?';
}

if (getSubpack != null) {
for (var radio of radioButtons) {
if (getSubpack === radio.value) {
     radio.checked = true;
            }
          }
      };

      console.log(localStorage);


function store() {
  var radioButtons = document.getElementsByName("data-subpack");
  var buttonLink = document.getElementById("continue-button");

  for (var radio of radioButtons) {
      if (radio.checked) {
          localStorage.setItem("pack-2-subpack", radio.value);
         if (radio.value == 'yes') {
          buttonLink.href = "pack-2-subpack-extra";
          }
        }
     }
  }


</script>
{% endblock %}


