{% extends "base.html" %}
{% block title %}
Submit a new product | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="price-zero-reason">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to reason for zero price</a>
</div>

<h1>Zero price update review</h1>

<p>Review the zero price updates. If required you can edit the reason for changing the price to zero. </p>
<p class="nhsuk-u-margin-bottom-6">The effective date for this change is set as <strong>1st February 2023</strong>.</p>

    <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-3">
      <caption class="nhsuk-table__caption">Packs with price set at zero</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Product name
        </th>
        <th role="columnheader" class="" scope="col">
          Pack
        </th>
        <th role="columnheader" class="" scope="col">
          Subpack
        </th>
        <th role="columnheader" class="" scope="col">
          Reason for zero
        </th>
        <th role="columnheader" class="" scope="col">
          Action
        </th>
      </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
          <span class="nhsuk-table-responsive__heading">Product name </span>Aciclovir 200mg dispersible tablets
        </td>
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
          <span class="nhsuk-table-responsive__heading">Pack </span>25
        </td>
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
          <span class="nhsuk-table-responsive__heading">Subpack</span>10 &times; 2.5
        </td>
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
          <span class="nhsuk-table-responsive__heading">Reason for zero </span><span>Price match Part VIII in Drug Tariff</span>
        </td>
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle;">
          <span class="nhsuk-table-responsive__heading">Edit</span>
          <span><a href="#">Edit</a> | <span class="nhsuk-u-visually-hidden">or</span><a href="#">remove</a></span>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
          <span class="nhsuk-table-responsive__heading">Product name </span>Bromocriptine 2.5mg tablets
        </td>
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
          <span class="nhsuk-table-responsive__heading">Pack </span>100
        </td>
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
          <span class="nhsuk-table-responsive__heading">Subpack </span>
          <!--          need to make sure empty table cells announce something MPL 20/10/22-->
          <span class="nhsuk-u-visually-hidden">No Subpack information</span>
        </td>
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
          <span class="nhsuk-table-responsive__heading">Reason for zero </span><span>Price no longer agreed</span>
        </td>
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle;">
          <span class="nhsuk-table-responsive__heading">Edit</span>
          <span><a href="#">Edit</a> | <span class="nhsuk-u-visually-hidden">or</span><a href="#">remove</a></span>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
          <span class="nhsuk-table-responsive__heading">Product name </span>Diazepam 2mg tablets
        </td>
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
          <span class="nhsuk-table-responsive__heading">Pack </span>1000
        </td>
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
          <span class="nhsuk-table-responsive__heading">Subpack </span>
          <!--          need to make sure empty table cells announce something MPL 20/10/22-->
          <span class="nhsuk-u-visually-hidden">No Subpack information</span>
        </td>
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
          <span class="nhsuk-table-responsive__heading">Reason for zero </span><span>Example of a unique reason</span>
        </td>
        <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle;">
          <span class="nhsuk-table-responsive__heading">Edit</span>
          <span><a href="#">Edit</a> | <span class="nhsuk-u-visually-hidden">or</span><a href="#">remove</a></span>
        </td>
      </tr>
      </tbody>
    </table>

<a class="nhsuk-button nhsuk-u-margin-top-5" onclick="" href="prices-submitted" id="continue-button" type="submit">
  Confirm zero prices and submit
</a>




{% endblock %}