{% extends "base.html" %}
{% block title %}
Submit a new product: product confirmation | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-card" style="color: #ffffff; background-color: #005eb8;">
  <div class="nhsuk-card__content">
    <h1 class="nhsuk-card__heading" style="text-align: center">
      Your draft has been saved
    </h1>
  </div>
</div>

<h2>Next Steps</h2>
<p>Your pack has been saved as a draft and no submission has been made. You can return to the draft to edit and submit at any point through the dashboard.</p>

<div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link nhsuk-link--no-visited-state" href="../submit-new-price-zero/price-check-list">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="nhsuk-action-link__text">Submit a new price change</span>
  </a>
</div>

<p><a class="nhsuk-link nhsuk-link--no-visited-state" href="../dashboard">
  Return to the portal dashboard
</a></p>

<script>

var getProductName = localStorage.getItem("product-name");
var getProductStrength = localStorage.getItem("product-strength");
var getProductMeasurement = localStorage.getItem("product-measurement");
document.getElementById("product-name").innerHTML = getProductName;



</script>


{% endblock %}