{% extends "base.html" %}
{% block title %}
Submit a new product | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="product-list">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to product list</a>
</div>

<h1 id="skip-to-top">
  <span class="nhsuk-caption-l">
     Price change submission
     <span class="nhsuk-u-visually-hidden"> - </span>
   </span>Price input</h1>

<h2 id="product-name">Aciclovir 200mg dispersible tablets</h2>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-3">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Pack size and UOM
        </dt>
        <dd class="nhsuk-summary-list__value" id="pack-size">
          25 tablet
        </dd>

      </div>

      <div class="nhsuk-summary-list__row" id="show-subpack">
        <dt class="nhsuk-summary-list__key">
          Subpack
        </dt>
        <dd class="nhsuk-summary-list__value" id="subpack">
          10 &times; 2.5
        </dd>

      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Current price
        </dt>
        <dd class="nhsuk-summary-list__value">
          279p
        </dd>

      </div>

    </dl>
  </div>
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="example-with-hint-text-aciclovir">
        What is the new price?
      </label>
      <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="example-with-hint-text-aciclovir">
        Enter price in pence.
      </div>
      <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="new-price" name="weight" type="text" spellcheck="false">
        <div class="govuk-input__suffix" aria-hidden="true">pence</div>
      </div>
      <!--      <input class="nhsuk-input nhsuk-input&#45;&#45;width-10" id="example-with-hint-text" name="example-with-hint-text" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">-->
    </div>
  </div>
</div>

<a class="nhsuk-button nhsuk-u-margin-top-5" onclick="" href="check-prices" id="submit" type="submit">
  Save price and continue
</a>

<script>
  console.log(localStorage);

  if (localStorage.getItem("product-name")) {
  document.getElementById("product-name").innerHTML = localStorage.getItem("product-name");
  }

  if (localStorage.getItem("pack-size")) {
      if (localStorage.getItem("pack-size") == "1000") {
         document.getElementById("pack-size").innerHTML = localStorage.getItem("pack-size") + ' ampoule';
      } else {
         document.getElementById("pack-size").innerHTML = localStorage.getItem("pack-size") + ' tablet';
    }
  }

  if (localStorage.getItem("subpack")) {
     if (localStorage.getItem("subpack") == "No Subpack information") {
     document.getElementById("show-subpack").style.display = "none";
     } else {
     document.getElementById("subpack").innerHTML = localStorage.getItem("subpack");
  }
}


  if (localStorage.getItem("new-price")) {
  document.getElementById("new-price").value = localStorage.getItem("new-price");
  }
</script>

{% endblock %}