{% extends "base.html" %}
{% block title %}
Submit a new special product - Does the manufacturer have a Manufacturers/Importer's licence (MIA)? |  Specials Profile Replacement | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-8">

    <a class="nhsuk-back-link__link" href="../public-sector/nhs-manufacturers-directory">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
             aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to manufacturer directory</a>
</div>

        <div class="nhsuk-width-container">

            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
                        <h1 class="nhsuk-fieldset__heading">
                            <span class="nhsuk-caption-l">
                                     Add a manufacturer</span>
                            Does the manufacturer have a Manufacturer's/Importer's Licence (MIA)?
                        </h1>
                    </legend>
                    <div class="nhsuk-radios">

                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio"
                                   value="yes" aria-describedby="example-hints-1-item-hint">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
                                <strong>Yes</strong>
                            </label>
                            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                                The manufacturer has a valid MIA.
                            </div>
                        </div>

                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio"
                                   value="no" aria-describedby="example-hints-2-item-hint" checked="checked">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                                <strong>No</strong>
                            </label>
                            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
                                The manufacturer <strong>does not</strong> have a valid MIA.
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>

            <a class="nhsuk-button" href="summary-manufacturer" id="continue-button">Save and continue</a>


{% endblock %}

