{% extends "base.html" %}
{% block title %}
Submit a new special product - Product summary |  Specials Profile Replacement | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
  <a class="nhsuk-back-link__link" href="add-notes">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to product notes</a>
</div>

<h1><span class="nhsuk-caption-l">
                Submit a new special product
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>Summary</h1>

<p class="nhsuk-u-margin-bottom-5">Check your answers before completing your submission. If you are not ready to submit you can store the information to return later.</p>

<h2>Product detail</h2>

<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Product name
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-name">
      Test Product Name goes here
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="product-name">
        Edit <span class="nhsuk-u-visually-hidden">&nbsp;product name</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Alternative product name
    </dt>
    <dd class="nhsuk-summary-list__value" id="alternative-product-name">
      No alternative product name
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="alternative-product-name">
        Edit <span class="nhsuk-u-visually-hidden">&nbsp; alternative product name</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Category
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-category">
      Sterile
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="category">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp;category</span>
      </a>

    </dd>

  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Form
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-form">
      Lotion
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="form">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp; form</span>
      </a>

    </dd>

  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Product Specification Sheet upload
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-specification-sheet">
      product-spec-sheet.pdf
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="product-spec-sheet-upload-success">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp; the Product Specification Sheet</span>
      </a>

    </dd>

  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Recommended storage conditions
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-storage-conds">
      Ambient
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="add-recommended-storage-condition">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp; the recommended storage conditions</span>
      </a>

    </dd>

  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Product listed on the British National Formulary (BNF)
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-on-bnf">
      <strong class="nhsuk-tag nhsuk-tag--red" id="on-bnf">
        No
      </strong>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="has-BNF">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp; if product listed on the British National Formulary (BNF)</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Product has a British Pharmacopoeia (BP) monograph
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-has-BP">
      <strong class="nhsuk-tag nhsuk-tag--red" id="has-BP">
        No
      </strong>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="has-BP-monograph">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp; if product has a British Pharmacopoeia (BP) monograph</span>
      </a>

    </dd>

  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Product has an accreditation
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-has-accreditation">
      <strong class="nhsuk-tag nhsuk-tag--red" id="has-accreditation">
        No
      </strong>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="accreditation">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp; if product has an accreditation</span>
      </a>

    </dd>

  </div>
  <div class="nhsuk-summary-list__row nhsuk-u-visually-hidden" id="accreditation-body">
    <dt class="nhsuk-summary-list__key">
      Accreditation body
    </dt>
    <dd class="nhsuk-summary-list__value" id="accreditation-body-detail">
      British Association of Dermatologists
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="accreditation">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp; if product has an accreditation</span>
      </a>

    </dd>

  </div>
</dl>

<!-- will need to add in reference to pack on visually hidden -->

<h2 class="nhsuk-u-margin-top-8">Containers</h2>

<p>If you need to make changes to the containers you can <a href="container/manage-container-updated"> edit, add or remove containers here</a></p>

<table class="nhsuk-table nhsuk-table-responsive nhsuk-u-margin-bottom-8">
  <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Container information</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
  <tr role="row">
    <th role="columnheader" class="" scope="col">
      Container
    </th>
    <th role="columnheader" class="" scope="col">
      Pack
    </th>
    <th role="columnheader" class="" scope="col">
     Packs per box
    </th>
    <th role="columnheader" class="" scope="col">
      GTIN
    </th>
    <th role="columnheader" class="" scope="col">
      In stock?
    </th>
<!--    <th role="columnheader" class="" scope="col">-->
<!--      AMPPID-->
<!--    </th>-->
  </thead>
  <tbody class="nhsuk-table__body">
  <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Container</span>Bottle-Amber glass</td>
    <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Pack</span>10ml</td>
    <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">Packs per box</span>10</td>
    <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">GTIN</span>5020850100014</td>
    <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">In stock?</span>
      <strong class="nhsuk-tag nhsuk-tag--green" id="on-available-as-stock">
        Yes
      </strong>
    </td>
<!--    <td class="nhsuk-table__cell "><span class="nhsuk-table-responsive__heading">AMPPID</span>22369611000001102</td>-->
  </tr>
  </tbody>
</table>

<h2 class="nhsuk-u-margin-top-8">Routes</h2>

<!-- if no routes exist then add the following: -->

<!--<p>No routes exist. To change this you can <a href="#"> add routes to the product</a></p>-->

<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Routes
    </dt>
    <dd class="nhsuk-summary-list__value" id="route-name">
      Oral
      <!--      if more than 1 route then these to appear underneath in the same <dd> MPL 27FEB24   -->
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="route/manage-routes">
        Edit <span class="nhsuk-u-visually-hidden">&nbsp;routes</span>
      </a>

    </dd>

  </div>
</dl>

<h2 class="nhsuk-u-margin-top-8">Inventory</h2>

<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Is the product available?
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-available">
      <strong class="nhsuk-tag nhsuk-tag--red" id="has-availability">
        No
      </strong>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="available">
        Edit <span class="nhsuk-u-visually-hidden">&nbsp;if the product is available</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Unopened shelf life
    </dt>
    <dd class="nhsuk-summary-list__value" >
      <span id="product-shelf-life">365</span> days
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="shelf-life">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp;shelf life</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Is the opened shelf life the same?
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-opened-shelf-life">
      <strong class="nhsuk-tag nhsuk-tag--green" id="on-opened-shelf-life">
        Yes
      </strong>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="available-as-stock">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp; if product is available as stock</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Is the shelf life valid?
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-shelf-life-valid">
      <strong class="nhsuk-tag nhsuk-tag--red" id="has-shelf-life-valid">
        No
      </strong>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="shelf-life-validated">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp; if product shelf life is valid</span>
      </a>
    </dd>
  </div>
</dl>

<h2 class="nhsuk-u-margin-top-8">Free from preservatives</h2>
<!--            If there are no free from preservatives then just a paragraph advising 'No free from preservatives exist.'  MPL 15MAR24   -->

<p>If you need to make changes to the free from preservatives you can <a href="attributes"> edit, add or remove free from preservatives here</a></p>

<p>The following free from preservatives are listed.</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>Sugar free</li>
  <li>Colour free</li>
  <li>Preservative free</li>
</ul>


<h2 class="nhsuk-u-margin-top-6">Uploads</h2>

<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Is there a CoA upload
    </dt>
    <dd class="nhsuk-summary-list__value" >
      <strong class="nhsuk-tag nhsuk-tag--green" id="CoA-upload">
        Yes
      </strong>
    </dd>
    <dd class="nhsuk-summary-list__actions">

      <a href="product-name">
        Edit <span class="nhsuk-u-visually-hidden">&nbsp;if there is a CoA upload</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      CoA upload
    </dt>
    <dd class="nhsuk-summary-list__value" id="CoA-upload-detail">
      test-file.pdf
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="category">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp;CoA upload</span>
      </a>

    </dd>

  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Is there a label image upload
    </dt>
    <dd class="nhsuk-summary-list__value" >
      <strong class="nhsuk-tag nhsuk-tag--green" id="label-image-upload">
        Yes
      </strong>
    </dd>
    <dd class="nhsuk-summary-list__actions">

      <a href="product-name">
        Edit <span class="nhsuk-u-visually-hidden">&nbsp;if there is a label image upload</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Label image upload
    </dt>
    <dd class="nhsuk-summary-list__value" id="label-image-upload-detail">
      test-file.pdf
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="category">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp;CoA upload</span>
      </a>

    </dd>

  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Are there any other uploads
    </dt>
    <dd class="nhsuk-summary-list__value" >
      <strong class="nhsuk-tag nhsuk-tag--green" id="other-uploads">
        Yes
      </strong>
    </dd>
    <dd class="nhsuk-summary-list__actions">

      <a href="product-name">
        Edit <span class="nhsuk-u-visually-hidden">&nbsp;if there are any other uploads</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Other uploads
    </dt>
    <dd class="nhsuk-summary-list__value" id="other-uploads-detail">
      test-file.pdf
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="category">
        Edit<span class="nhsuk-u-visually-hidden">&nbsp;other upload</span>
      </a>

    </dd>

  </div>

</dl>

<!--Notes section-->

<h2>Notes</h2>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
</p>

<p><a href="edit-notes">Edit or remove notes</a></p>

<a class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-right-5" href="confirmation"
   type="submit">
  Submit new special product
</a>

<a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-4" href="draft-confirmation">
  Save as draft
</a>

<script>
let summaryPage = localStorage.getItem("summary-page");

if (!summaryPage) {
  localStorage.setItem("summary-page", "yes");
}

var getProductName = localStorage.getItem("special-product-name");
if (getProductName) {
  document.getElementById("product-name").innerHTML = getProductName;
}

var getHasAltProductName = localStorage.getItem("special-product-alt-name-advised");
var getAltProductName = localStorage.getItem("special-product-alt-name");

if (getHasAltProductName === "Yes") {
  document.getElementById("alternative-product-name").innerHTML = getAltProductName;
}

var getProductCategory = localStorage.getItem("special-product-category");
if (getProductCategory) {
  document.getElementById("product-category").innerHTML = getProductCategory;
}

var getProductForm = localStorage.getItem("special-product-form");
if (getProductForm) {
  document.getElementById("product-form").innerHTML = getProductForm;
}

var getOnBNF = localStorage.getItem("special-product-bnf");
if (getOnBNF === "Yes") {
   document.getElementById("on-bnf").classList.remove("nhsuk-tag--red");
   document.getElementById("on-bnf").classList.add("nhsuk-tag--green");
   document.getElementById("on-bnf").textContent = "Yes";
}

var getHasBP = localStorage.getItem("special-product-bp-monograph");
if (getHasBP === "Yes") {
   document.getElementById("has-BP").classList.remove("nhsuk-tag--red");
   document.getElementById("has-BP").classList.add("nhsuk-tag--green");
   document.getElementById("has-BP").textContent = "Yes";
}

var getHasAccreditation = localStorage.getItem("special-product-has-accreditation");
var getAccreditationBody = localStorage.getItem("special-product-accreditation");

if (getHasAccreditation === "Yes") {
  document.getElementById("accreditation-body-detail").innerHTML = getAccreditationBody;
  document.getElementById("has-accreditation").classList.remove("nhsuk-tag--red");
  document.getElementById("has-accreditation").classList.add("nhsuk-tag--green");
  document.getElementById("has-accreditation").textContent = "Yes";
  document.getElementById("accreditation-body").classList.remove("nhsuk-u-visually-hidden");
}

var getIsAvailable = localStorage.getItem("special-product-available");
if (getIsAvailable === "Yes") {
  document.getElementById("has-availability").classList.remove("nhsuk-tag--red");
  document.getElementById("has-availability").classList.add("nhsuk-tag--green");
  document.getElementById("has-availability").textContent = "Yes";
}

var getIsAvailableAsStock = localStorage.getItem("special-product-available-as-stock");
if (getIsAvailableAsStock === "Yes") {
  document.getElementById("on-available-as-stock").classList.remove("nhsuk-tag--red");
  document.getElementById("on-available-as-stock").classList.add("nhsuk-tag--green");
  document.getElementById("on-available-as-stock").textContent = "Yes";
}

var getShelfLife = localStorage.getItem("special-product-shelf-life");
if (getShelfLife) {
  document.getElementById("product-shelf-life").innerHTML = getShelfLife;
}

var getShelfLifeValidated = localStorage.getItem("special-product-shelf-life-valid");
if (getShelfLifeValidated === "Yes") {
  document.getElementById("has-shelf-life-valid").classList.remove("nhsuk-tag--red");
  document.getElementById("has-shelf-life-valid").classList.add("nhsuk-tag--green");
  document.getElementById("has-shelf-life-valid").textContent = "Yes";
}

console.log(localStorage);

</script>
{% endblock %}