{% extends "base.html" %}
{% block title %}
Submit a new product: product confirmation | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-card" style="color: #ffffff; background-color: #005eb8;">
  <div class="nhsuk-card__content">
    <h1 class="nhsuk-card__heading nhsuk-u-margin-bottom-7" style="text-align: center">
      We have received your submission for review
    </h1>
    <p class="nhsuk-body-l" id="product-name" style="text-align: center">Name: test name</p>
    <p class="nhsuk-body-l"style="text-align: center">Reference 123456</p>
  </div>
</div>

<h2>Next Steps</h2>
<p>You will receive a response via email once we have reviewed your submission. It can take up to 2 weeks to accept the product or pack submission. The Meds team may be in contact with you through email to verify imagery or contents.</p>

<p><a href="../dashboard">
  Return to portal dashboard
</a></p>

<script>

var getProductName = localStorage.getItem("product-name");
var getProductStrength = localStorage.getItem("product-strength");
var getProductMeasurement = localStorage.getItem("product-measurement");
document.getElementById("product-name").innerHTML = getProductName;



</script>


{% endblock %}