{% extends "base.html" %}
{% block title %}
Submit a new product: product confirmation | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-card" style="color: #ffffff; background-color: #005eb8; text-align: center">
  <div class="nhsuk-card__content">
    <h1 class="nhsuk-card__heading nhsuk-u-margin-bottom-7">
      New product submission sent
    </h1>
    <p class="nhsuk-body-l" id="product-name" >Name: test name</p>
    <p class="nhsuk-body-l">Reference 123456</p>
  </div>
</div>

<p>Next Steps</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>You should receive a response within 7 working days.</li>
</ul>




<p><a href="dashboard">
  Return to portal dashboard
</a></p>

<script>

var getProductName = localStorage.getItem("product-name");
var getProductStrength = localStorage.getItem("product-strength");
var getProductMeasurement = localStorage.getItem("product-measurement");
document.getElementById("product-name").innerHTML = getProductName + ' ' + getProductStrength + ' ' + getProductMeasurement;



</script>


{% endblock %}