{% extends "base.html" %}
{% block title %}
Insert new selection | Supplier submissions hub | NHSBSA
{% endblock %}
{% block breadcrumb %}
<ol class="nhsuk-breadcrumb__list">
  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../index">Index</a></li>
  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="./home-page">Supplier submissions hub</a></li>
  <li class="nhsuk-breadcrumb__item"><span class="nhsuk-breadcrumb__link">Insert new selection</span></li>
</ol>
{% endblock %}
{% block content %}

<h1>Insert new selection</h1>

<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h2 class="nhsuk-fieldset__heading">
        Do you want to add a new product or a new pack?
      </h2>
    </legend>

    <div class="nhsuk-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="new-product" name="create-new" type="radio" value="Product">
        <label class="nhsuk-label nhsuk-radios__label" for="new-product">
          Product
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="new-pack" name="create-new" type="radio" value="Pack">
        <label class="nhsuk-label nhsuk-radios__label" for="new-pack">
          Pack
        </label>
      </div>

    </div>
  </fieldset>

</div>

  <button class="nhsuk-button" type="submit">
    Continue
  </button>


  {% endblock %}