{% extends "base.html" %}
{% block content %}
<div class="grid-row">
  <div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
    <a class="nhsuk-back-link__link" href="../index">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back to index</a>
  </div>
  <div class="column-two-thirds">

    <h1>Supplier submissions hub</h1>

    <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="create-new">Insert new</a>
        </h2>
        <p class="nhsuk-card__description">Add a brand new submission.</p>
      </div>
    </div>
    </div>

    <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="#">Update current</a>
        </h2>
        <p class="nhsuk-card__description">Amend an existing product or pack.</p>
      </div>
    </div>
    </div>

    <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="#">Retrieve and update</a>
        </h2>
        <p class="nhsuk-card__description">Edit incomplete submissions or view all awaiting approval.</p>
      </div>
    </div>
    </div>

      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="#">Admin</a>
            </h2>
<!--            ability to update personal details? - contact name, number etc -->
            <p class="nhsuk-card__description">Update contact details or view all valid products and packs.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}