{% extends "base.html" %}
{% block title %}
Supplier submissions hub | NHSBSA
{% endblock %}
{% block content %}
<div class="grid-row">

  <div class="column-two-thirds">

    <h1>Supplier submissions hub</h1>

    <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="create-new">Insert new</a>
        </h2>
        <p class="nhsuk-card__description">Add a brand new submission.</p>
      </div>
    </div>
    </div>

    <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="#">Update current</a>
        </h2>
        <p class="nhsuk-card__description">Amend an existing product or pack.</p>
      </div>
    </div>
    </div>

    <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="#">Retrieve and update</a>
        </h2>
        <p class="nhsuk-card__description">Edit incomplete submissions or view all awaiting approval.</p>
      </div>
    </div>
    </div>

      <div class="nhsuk-grid-column-one-half">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="#">Admin</a>
            </h2>
<!--            ability to update personal details? - contact name, number etc -->
            <p class="nhsuk-card__description">Update contact details or view all valid products and packs.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}