{% extends "base.html" %}
{% block title %}
Design prototype medicines management | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="../index.html">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
</div>
<h1>Galpharm Pharmaceuticals LTD</h1>
<p>Please check and update the information provided as needs be.</p>

<dl class="nhsuk-summary-list">
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Company name
        </dt>
        <dd class="nhsuk-summary-list__value">
            Galpharm Pharmaceuticals LTD
        </dd>
        <dd class="nhsuk-summary-list__actions">
            <a href="#">
                Change<span class="nhsuk-u-visually-hidden">Company name</span>
            </a>
        </dd>
    </div>
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Contact number
        </dt>
        <dd class="nhsuk-summary-list__value">
            0191 2345678
        </dd>
        <dd class="nhsuk-summary-list__actions">
            <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> Contact number</span>
            </a>
        </dd>
    </div>
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Address
        </dt>
        <dd class="nhsuk-summary-list__value">
            73 Roman Rd<br>Leeds<br> LS2 5ZN
        </dd>
        <dd class="nhsuk-summary-list__actions">
            <a href="#">
                Change<span class="nhsuk-u-visually-hidden">Address</span>
            </a>
        </dd>
    </div>
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Email address
        </dt>
        <dd class="nhsuk-summary-list__value">
            <block>contact@galpharmpharmaceuticals.com<br>
                contact@galpharmpharmaceuticals.com</block>
        </dd>
        <dd class="nhsuk-summary-list__actions">
            <a href="#">
                Change<span class="nhsuk-u-visually-hidden">Email address</span>
            </a>
        </dd>
    </div>
</dl>
<p>Should there be additional information such as email addresses, you can add addtional attributes as required</p>
<button class="nhsuk-button" type="submit">
    Add attribute
</button>

{% endblock %}