<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: pack size and strength | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" id="back-link" href="../../dashboard">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to portal dashboard</a>
</div>

<span class="nhsuk-caption-l">
  AstraZeneca
</span>
<h1>Ongoing submissions</h1>

<p class="nhsuk-u-margin-bottom-6">A list of your ongoing submissions is displayed in the table. You can refine this list by searching for a reference number. In both instances, to view a submission in more detail select the link under the reference column.</p>

<div class="nhsuk-form-group">
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
<!--      <dl class="nhsuk-summary-list" id="current-search-criteria" style="display:none;">-->
<!--        <div class="nhsuk-summary-list__row">-->
<!--          <dt class="nhsuk-summary-list__key">-->
<!--            Current search criteria-->
<!--          </dt>-->
<!--          <dd class="nhsuk-summary-list__value">-->
<!--            5646-->
<!--          </dd>-->
<!--        </div>-->
<!--      </dl>-->

      <label class="nhsuk-label" for="reference-search">
        Search for reference
      </label>
      <input id="reference-search" class="nhsuk-input nhsuk-input--width-20" type="text"/>
    </div>
  <div class="nhsuk-grid-column-full">
      <button onclick="filter()" class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-right-5">Search for reference</button>
      <a href="product-submissions-main" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-5">Reset search</a>
    </div>
  </div>
</div>

<div class="nhsuk-body-m flex--space-between" style="display: flex">
  <div class="nhsuk-u-visually-hidden">Currently viewing</div>
  <div id="pageAndResultCount">Page 1 of 1 (14 results)</div>
  <div class="nhsuk-u-text-align--right show-mobile" style="display: flex">
  <div id="tableSortControls">
    <span>Sort:</span>
    <span><a aria-label="Sort results by eligibility" href="">type</a></span>

    <span> | </span>

    <span class="nhsuk-u-font-weight-bold">date received </span>
  </div>
</div>
</div>


<table class="govuk-table nhsuk-table-responsive" data-module="moj-sortable-table">
  <caption class="govuk-table__caption nhsuk-u-visually-hidden" id="submission-caption">Summary of all submissions</caption>
  <span id="table__assistiveHint" class="assistive-table-hint nhsuk-u-visually-hidden">
    Summary of all submissions. Each heading in the table can be sorted in ascending or descending order. Selecting Enter or clicking the mouse on the heading button, or by touch if using a touch device, will achieve this.</span>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">

    <th scope="col" class="govuk-table__header" aria-sort="ascending">Date received</th>

    <th scope="col" class="govuk-table__header" aria-sort="none">Type</th>

    <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>

    <th scope="col" class="govuk-table__header" aria-sort="none">Effective date</th>

    <th scope="col" class="govuk-table__header" aria-sort="none">Reference</th>
  </tr>
  </thead>

  <tbody class="nhsuk-table__body">

  <tr class="nhsuk-table__row ">

    <td class="nhsuk-table__cell" data-sort-value="1">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      01-05-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      New product</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--green">
        Under review
      </strong>
    </td>

    <td class="nhsuk-table__cell" data-sort-value="6">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      01-06-2024 </td>

    <td class="nhsuk-table__cell" data-sort-value="56465452">
      <span class="nhsuk-table-responsive__heading">Reference</span>
      <a href="new-product-submission-view" class="nhsuk-link nhsuk-link--no-visited-state">56465452</a></td>

  </tr>

  <tr class="nhsuk-table__row hide-filter">

    <td class="nhsuk-table__cell" data-sort-value="1">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      01-05-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      New pack</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--white">
        More detail
      </strong>
    </td>

    <td class="nhsuk-table__cell" data-sort-value="6">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      01-06-2024 </td>

    <td class="nhsuk-table__cell" data-sort-value="56465455">
      <span class="nhsuk-table-responsive__heading">Reference</span>
      <a href="new-pack-submission-view-more-detail" class="nhsuk-link nhsuk-link--no-visited-state">56465455</a></td>

  </tr>

  <tr class="nhsuk-table__row hide-filter">

    <td class="nhsuk-table__cell" data-sort-value="1">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      01-05-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      Price change</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--white">
        More detail
      </strong>
    </td>


    <td class="nhsuk-table__cell" data-sort-value="6">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      01-06-2024 </td>

    <td class="nhsuk-table__cell" data-sort-value="56465452">
      <span class="nhsuk-table-responsive__heading">Reference</span>
      <a class="nhsuk-link nhsuk-link--no-visited-state" href="price-change-only-submission-view">56465452</a></td>

  </tr>

  <tr class="nhsuk-table__row hide-filter">

    <td class="nhsuk-table__cell" data-sort-value="1">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      01-05-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      Price change</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--green">
        Under review
      </strong>
    </td>


    <td class="nhsuk-table__cell" data-sort-value="6">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      01-06-2024 </td>

    <td class="nhsuk-table__cell" data-sort-value="56465477">
      <span class="nhsuk-table-responsive__heading">Reference</span>
      <a class="nhsuk-link nhsuk-link--no-visited-state" href="price-change-zero-submission-view">56465477</a></td>

  </tr>

  <tr class="nhsuk-table__row hide-filter">

    <td class="nhsuk-table__cell" data-sort-value="3">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      03-05-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      Price change</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--green">
        Under review
      </strong>
    </td>


    <td class="nhsuk-table__cell" data-sort-value="6">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      01-06-2024 </td>

    <td class="nhsuk-table__cell" data-sort-value="56465488">
      <span class="nhsuk-table-responsive__heading">Reference</span>
      <a class="nhsuk-link nhsuk-link--no-visited-state" href="price-change-both-submission-view">56465488</a></td>

  </tr>

  <tr class="nhsuk-table__row hide-filter">

    <td class="nhsuk-table__cell" data-sort-value="2">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      02-05-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      Discontinue</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--green">
        Under review
      </strong>
    </td>

    <td class="nhsuk-table__cell" data-sort-value="4">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      31-05-2024</td>

    <td class="nhsuk-table__cell" data-sort-value="78787575">
      <span class="nhsuk-table-responsive__heading">Reference</span>
     <a class="nhsuk-link nhsuk-link--no-visited-state" href="discontinue-not-manuf-submission-view">78787575</a> </td>

  </tr>

  <tr class="nhsuk-table__row hide-filter">

    <td class="nhsuk-table__cell" data-sort-value="4">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      10-05-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      Discontinue</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--white">
        More detail
      </strong>
    </td>

    <td class="nhsuk-table__cell" data-sort-value="9">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      23-08-2024</td>

    <td class="nhsuk-table__cell" data-sort-value="78787599">
      <span class="nhsuk-table-responsive__heading">Reference</span>
     <a class="nhsuk-link nhsuk-link--no-visited-state" href="discontinue-oos-submission-view">78787599</a> </td>

  </tr>

  <tr class="nhsuk-table__row hide-filter">

    <td class="nhsuk-table__cell" data-sort-value="5">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      22-05-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      Discontinue</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--green">
        Under review
      </strong>
    </td>

    <td class="nhsuk-table__cell" data-sort-value="8">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      12-07-2024</td>

    <td class="nhsuk-table__cell" data-sort-value="78787511">
      <span class="nhsuk-table-responsive__heading">Reference</span>
     <a class="nhsuk-link nhsuk-link--no-visited-state" href="discontinue-divestment-submission-view">78787511</a> </td>

  </tr>

  <tr class="nhsuk-table__row hide-filter">

    <td class="nhsuk-table__cell" data-sort-value="6">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      24-05-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      Discontinue</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--green">
        Under review
      </strong>
    </td>

    <td class="nhsuk-table__cell" data-sort-value="7">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      05-07-2024</td>

    <td class="nhsuk-table__cell" data-sort-value="78787533">
      <span class="nhsuk-table-responsive__heading">Reference</span>
     <a class="nhsuk-link nhsuk-link--no-visited-state" href="discontinue-takeover-submission-view">78787533</a> </td>

  </tr>

  <tr class="nhsuk-table__row hide-filter">

    <td class="nhsuk-table__cell" data-sort-value="7">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      01-06-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      Product change</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--green">
        Under review
      </strong>
    </td>

    <td class="nhsuk-table__cell" data-sort-value="1">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      01-03-2024</td>

    <td class="nhsuk-table__cell" data-sort-value="78965258">
      <span class="nhsuk-table-responsive__heading">Reference</span>
     <a class="nhsuk-link nhsuk-link--no-visited-state" href="product-change-product-name">78965258</a> </td>

  </tr>

  <tr class="nhsuk-table__row hide-filter">

    <td class="nhsuk-table__cell" data-sort-value="8">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      03-06-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      Product change</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--green">
        Under review
      </strong>
    </td>

    <td class="nhsuk-table__cell" data-sort-value="2">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      01-04-2024</td>

    <td class="nhsuk-table__cell" data-sort-value="78965259">
      <span class="nhsuk-table-responsive__heading">Reference</span>
     <a class="nhsuk-link nhsuk-link--no-visited-state" href="product-change-ma-number">78965259</a> </td>

  </tr>
  <tr class="nhsuk-table__row hide-filter">

    <td class="nhsuk-table__cell" data-sort-value="9">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      06-06-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      Product change</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--white">
        More detail
      </strong>
    </td>

    <td class="nhsuk-table__cell" data-sort-value="3">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      10-04-2024</td>

    <td class="nhsuk-table__cell" data-sort-value="78965277">
      <span class="nhsuk-table-responsive__heading">Reference</span>
     <a class="nhsuk-link nhsuk-link--no-visited-state" href="product-change-licensed-route">78965277</a> </td>

  </tr>
  <tr class="nhsuk-table__row hide-filter">

    <td class="nhsuk-table__cell" data-sort-value="10">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      12-07-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      Product change</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--green">
        Under review
      </strong>
    </td>

    <td class="nhsuk-table__cell" data-sort-value="3">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      10-04-2024</td>

    <td class="nhsuk-table__cell" data-sort-value="78965289">
      <span class="nhsuk-table-responsive__heading">Reference</span>
     <a class="nhsuk-link nhsuk-link--no-visited-state" href="product-change-licensing-auth-unlicensed">78965289</a> </td>

  </tr>

  <tr class="nhsuk-table__row hide-filter">

    <td class="nhsuk-table__cell" data-sort-value="11">
      <span class="nhsuk-table-responsive__heading">Date received</span>
      19-07-2022</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>
      Product change</td>

    <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--green">
        Under review
      </strong>
    </td>

    <td class="nhsuk-table__cell" data-sort-value="11">
      <span class="nhsuk-table-responsive__heading">Effective date</span>
      24-08-2024</td>

    <td class="nhsuk-table__cell" data-sort-value="78965295">
      <span class="nhsuk-table-responsive__heading">Reference</span>
     <a class="nhsuk-link nhsuk-link--no-visited-state" href="product-change-licensing-auth-licensed">78965295</a> </td>

  </tr>

  </tbody>
</table>


<script src="/js/MOJ.js" defer></script>
<script src="../../js/dialog.js"></script>
<script>
  localStorage.clear();

  let captionTextElement = document.querySelector("#submission-caption");
  captionTextElement.innerHTML = "Summary of all submissions. Each heading in the table can be sorted in ascending or descending order. Selecting Enter or clicking the mouse on the heading button, or by touch if using a touch device, will achieve this.";

  window.addEventListener('resize', function(event) {
     console.log(window.innerWidth);
     if (window.innerWidth < 770) {
     captionTextElement.innerHTML = "Summary of all submissions."
     } else {
     captionTextElement.innerHTML = "Summary of all submissions. Each heading in the table can be sorted in ascending or descending order. Selecting Enter or clicking the mouse on the heading button, or by touch if using a touch device, will achieve this.";
     }
}, true);

function filter() {
  var hiddenRows = document.getElementsByClassName("hide-filter");
  var currentSearchCriteria = document.getElementById("current-search-criteria");

  for (let i = 0; i < hiddenRows.length; i++) {
    hiddenRows[i].style.display = "none";
  }

  currentSearchCriteria.style.display = "block";
}

</script>


{% endblock %}