<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: spc or Data Sheet | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="supplier-name.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to what is the supplier name</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        <span class="nhsuk-caption-l" id="discontinue-reason">
                Discontinue
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
        Additional supplier information
      </h1>
    </legend>
  <p>Do you have any of the following information for the supplier?</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Contact name</li>
      <li>Contact email address</li>
      <li>Contact phone number</li>
    </ul>

    <div class="nhsuk-radios" id="data-spc-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="1" name="data-extra-info" type="radio" value="yes" />
        <label class="nhsuk-label nhsuk-radios__label" for="1">
          Yes
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="2" name="data-extra-info" type="radio" value="no" />
        <label class="nhsuk-label nhsuk-radios__label" for="2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<a onclick="navigate()" class="nhsuk-button nhsuk-u-margin-top-3"
       id="next"
       name="next">Save and continue
</a>

<script type="text/javascript">
  console.log(localStorage);

  var radioButtons = document.getElementsByName("data-extra-info");

if (radioButtons) {
    var getExtraInfo = localStorage.getItem("supplier-extra-info");
        for (var radio of radioButtons) {
            if (getExtraInfo === radio.value) {
                radio.checked = true;
        }
    }
};


  function navigate() {
    let continueBtn = document.getElementById("next")
    var getExtraInfo = localStorage.getItem("supplier-extra-info");
    var radioButtons = document.getElementsByName("data-extra-info");

    for (var radio of radioButtons) {
        if (radio.checked) {
            localStorage.setItem("supplier-extra-info", radio.value);
            if (radio.value == 'yes') {
                continueBtn.href = "contact-name";
            } else if (radio.value == 'no') {
                continueBtn.href = "../pack-list-add";
            }
        }
    }

  }

  let discontinueReason = localStorage.getItem("discontinue-reason");

  let discontinueTitle = document.getElementById("discontinue-reason");

   let mergerProductChange = localStorage.getItem("change-company-name");

  if (discontinueReason || discontinueReason != null || discontinueReason != "") {
    discontinueTitle.innerHTML = '<span class="nhsuk-caption-l" id="discontinue-reason">Discontinue submission' + ': ' + discontinueReason +'<span class="nhsuk-u-visually-hidden"> - </span></span>';
  }

  if (mergerProductChange) {
     discontinueTitle.innerHTML = '<span class="nhsuk-caption-l" id="discontinue-reason">Company name change : company merger<span class="nhsuk-u-visually-hidden"> - </span></span>';
  }

</script>

{% endblock %}


