{% extends "base.html" %}
{% block title %}
Submit a new product: effective date | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a id="back-link" class="nhsuk-back-link__link" href="../reason.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    <span id="back-link-text">Go back to reason for discontinuation</span></a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" role="group">

    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        <span class="nhsuk-caption-l" id="discontinue-reason">
                Discontinue
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
        What is the supplier name?
      </h1>
    </legend>

    <p>If the reason for discontinuing a product or pack is &#39;takeover&#39; or &#39;product divestment&#39;, the name of the supplier it is being transferred to is required. </p>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="supplier-name">
        Supplier name
      </label>
      <input class="nhsuk-input" id="supplier-name" name="example" type="text">
    </div>

  </fieldset>

  <a class="nhsuk-button nhsuk-u-margin-top-5" onclick="storeName()" href="extra-information.html" id="continue-button" type="submit">
    Save and continue
  </a>

</div>

<script>
  console.log(localStorage);

  let discontinueReason = localStorage.getItem("discontinue-reason");

  let discontinueTitle = document.getElementById("discontinue-reason");

   let mergerProductChange = localStorage.getItem("change-company-name");

  if (discontinueReason || discontinueReason != null || discontinueReason != "") {
    discontinueTitle.innerHTML = 'Discontinue submission' + ': ' + discontinueReason +'<span class="nhsuk-u-visually-hidden"> - </span>';
  }


  let summaryPage = localStorage.getItem("supplier-summary");

  function storeName() {
    var supplierName = document.getElementById("supplier-name");
    localStorage.setItem("supplier-name", supplierName.value);
}

var getSupplierName = localStorage.getItem("supplier-name");
var suppName = document.querySelector("#supplier-name");

if (suppName != null) {
    if (getSupplierName != null) {
        suppName.defaultValue = getSupplierName;
    }
    if (getSupplierName != null && summaryPage != null) {
        document.getElementById("continue-button").href = "../pack-list";
    }
}

if (localStorage.getItem("change-company-name")) {
    var backLinkText = document.getElementById("back-link-text");
    backLinkText.innerHTML = "Go back to reason for company name change";

    var backLink = document.getElementById("back-link");
    backLink.href = "/mock-5/supplier-users/change-company-name/reason";
  }

</script>

{% endblock %}