{% extends "base.html" %}
{% block title %}
Submit a new product: product confirmation | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="govuk-panel govuk-panel--confirmation nhsuk-u-margin-bottom-5">
  <h1 class="govuk-panel__title">
    Submission updated
  </h1>
  <div class="govuk-panel__body">
    Notification sent to jane.smith@example.com</div>

</div>

<h2>Next Steps</h2>
<p>If the status remains as &#39;Ready&#39; or changes to &#39;More detail&#39; then <a class="nhsuk-link nhsuk-link--no-visited-state" href="submissions">view the submission in new submissions</a>.</p>
<p>If the status changes to anything else then <a class="nhsuk-link nhsuk-link--no-visited-state" href="../complete-submissions/submissions">view the submission in complete submissions</a>.</p>
<p>If only a message or comment is added, the location of the submission will not change.</p>

<p><a href="../dashboard" class="nhsuk-link nhsuk-link--no-visited-state">
  Return to portal dashboard
</a></p>


{% endblock %}