<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: pack size and strength | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
    <a class="nhsuk-back-link__link" id="back-link" href="submissions">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
             aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to summary of new submissions</a>
</div>

<h1>Discontinue submission</h1>

<div class="nhsuk-tabs" data-module="nhsuk-tabs">
    <h2 class="nhsuk-tabs__title">Contents</h2>
    <ul class="nhsuk-tabs__list">
        <li class="nhsuk-tabs__list-item nhsuk-tabs__lt-item--selected"
            id="heading-tab-submission"
            role="presentation"><a class="nhsuk-tabs__tab" href="#tab-submission" role="tab"
                                   id="submission-panel" aria-selected="true">Submission</a>
        </li>
        <li class="nhsuk-tabs__list-item" id="heading-tab-messages" role="presentation"><a
                class="nhsuk-tabs__tab" href="#tab-messages" role="tab" id="message-panel">Message
            board</a></li>
        <li class="nhsuk-tabs__list-item" id="heading-tab-summary" role="presentation"><a
                class="nhsuk-tabs__tab" href="#tab-summary" role="tab" id="summary-panel">Summary</a>
        </li>
    </ul>

    <div class="nhsuk-tabs__panel" id="tab-submission" role="tabpanel" tabindex="-1"
         aria-labelledby="tab1">
        <div class="nhsuk-tabs-panel-inner">
                    <h2>Submission</h2>
                    <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key update-width">
                                Submission type
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Discontinue
                            </dd>

                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Reference
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                69843354
                            </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Date received
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                27 May 2022
                            </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Effective date
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                3 June 2022
                            </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Supplier
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Lloyds Pharmacy Ltd
                            </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Submitted by
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Jane Jones
                            </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Email contact
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                <p>jane.jones@example.com</p>
                            </dd>

                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Submission status
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                <strong class="nhsuk-tag nhsuk-tag--white">
                                    More detail
                                </strong>
                            </dd>

                        </div>
                    </dl>
                    <div class="nhsuk-action-link nhsuk-u-margin-top-4">
                        <a class="nhsuk-action-link__link" href="discontinue/update-submission-status">
                            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"
                                 width="36" height="36">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                            </svg>
                            <span class="nhsuk-action-link__text">Update the submission status</span>
                        </a>
                    </div>
        </div>
    </div>

    <div class="nhsuk-tabs__panel" id="tab-messages" role="tabpanel" tabindex="-1"
         aria-labelledby="tab2">
        <div class="nhsuk-tabs-panel-inner">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <h2>Message board</h2>
                    <!--                          what is the email address for suppliers to contact in reply to a message? MPL 20DEC22-->
                    <p>Messages from the Medicines Management team will appear here. This may include information about a status update or requesting more detail. If you need to respond to a message, send an <a href="mailto: xxx@nhs.net">email</a>.</p>
                    <details class="nhsuk-details nhsuk-expander">
                        <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    20 September 2022 at 15:03 | Status update
                                </span>
                        </summary>
                        <div class="nhsuk-details__text">
                            <p>The status has been changed to 'actioned'. At this stage we do not require any further action on your behalf.</p>

                            <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
                            <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-3" style="color: #4c6272; font-weight: 400;">Further comments</h3>
                            <p style="color: #4c6272; font-weight: 400;" class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-2">Here is an example of a comment and how it will be presented to the user (comment left on 22 September at 2022 15:19).</p>
                            <p style="color: #4c6272; font-weight: 400;" class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-3">Here is another example of a comment and how it will be presented to the user if more than one comment is left (comment left on 21 September 2022 at 11:10).</p>
                        </div>

                    </details>

                    <details class="nhsuk-details nhsuk-expander">
                        <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                    03 September 2022 at 10:01 | More information required
                                </span>
                        </summary>
                        <div class="nhsuk-details__text">
                            <p>Thank you for clarifying the reason for no price and confirming the number of subpacks. We also require more images of artwork. </p>
                            <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
                            <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-3" style="color: #4c6272; font-weight: 400;">Further comments</h3>
                            <p style="color: #4c6272; font-weight: 400;" class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-3">No comments at present.</p>
                        </div>
                    </details>

                    <div class="nhsuk-action-link nhsuk-u-margin-top-6">
                        <a class="nhsuk-action-link__link" href="discontinue/update-submission-notes-detail">
                            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"
                                 width="36" height="36">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                            </svg>
                            <span class="nhsuk-action-link__text">Create a new message post</span>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="nhsuk-tabs__panel" id="tab-summary" role="tabpanel" tabindex="-1"
         aria-labelledby="tab3">
        <div class="nhsuk-tabs-panel-inner">
                    <h2>Summary</h2>

                    <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-top-6">

                        <div class="nhsuk-summary-list__row" id="effective-date">
                            <dt class="nhsuk-summary-list__key update-width">
                                Effective date
                            </dt>
                            <dd class="nhsuk-summary-list__value" id="pack-effective-date">23 August 2022
                            </dd>

                        </div>
                        <!--  if user changes reason then they must follow journey steps. If they go to change the reason and
                              then do not actually change it then they can return to the review page MPL 31JAN23-->

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key" id="discontinue-title">
                                Discontinue reason
                            </dt>
                            <dd class="nhsuk-summary-list__value" id="discontinue-reason-add" >
                                Out of stock
                            </dd>
                        </div>
                    </dl>

                    <div class="nhsuk-body-m flex--space-between nhsuk-u-margin-top-3" style="display: flex">
                        <div class="nhsuk-u-visually-hidden">Currently viewing</div>
                        <div id="pageAndResultCount">Page 1 of 1 (4 results)</div>
                    </div>

                    <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-4">
                        <caption class="nhsuk-table__caption">Selected packs to discontinue</caption>
                        <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" class="" scope="col">
                                Product name
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Pack size
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Subpack
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Price
                            </th>
                        </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row" id="delete-row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Product name </span>Aciclovir 200mg dispersible tablets
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Pack </span>30
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Subpack </span>2 &times; 15
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Price </span><span><span>299</span>p</span>
                            </td>
                        </tr >
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Product name </span>Bupenorphine 100mg capsules
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Pack </span>28
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Subpack </span>2 &times; 14
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Price </span><span><span>23</span>p</span>
                            </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Product name </span>Protein cornflakes
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Pack </span>1
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Subpack </span>
                                <!--          need to make sure empty table cells announce something MPL 20/10/22-->
                                <span class="nhsuk-u-visually-hidden">No Subpack information</span>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Price </span><span><span>99</span>p</span>
                            </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Product name </span>Boots Strawberry Pain Relief 3 Months Plus Paracetamol 120mg/5ml oral suspension
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Pack </span>30
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Subpack </span>3 &times; 10
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Price </span><span><span>99</span>p</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
                        <div class="nhsuk-grid-column-full">
                            <nav class="govuk-pagination" role="navigation" aria-label="results">
                                <div class="govuk-pagination__prev">
                                    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                                        </svg>
                                        <span class="govuk-pagination__link-title">Previous</span></a>
                                </div>
                                <ul class="govuk-pagination__list">
                                    <li class="govuk-pagination__item">
                                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                                            1
                                        </a>
                                    </li>
                                    <li class="govuk-pagination__item govuk-pagination__item--current">
                                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                                            2
                                        </a>
                                    </li>
                                    <li class="govuk-pagination__item">
                                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                                            3
                                        </a>
                                    </li>
                                </ul>
                                <div class="govuk-pagination__next">
                                    <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                    </svg></a>
                                </div>
                            </nav>
                        </div>
                    </div>

        </div>
    </div>

</div>

<!--<div class="tabs tabbed">-->
<!--    <div class="tabs-nav">-->
<!--        <ul class="tabs-list">-->
<!--            <li id="heading-tab-submission"><a href="#tab-submission">Submission</a></li>-->
<!--            <li id="heading-tab-messages"><a href="#tab-messages">Message board</a></li>-->
<!--            <li id="heading-tab-summary"><a href="#tab-summary">Summary</a></li>-->
<!--            <li id="heading-tab-uploads"><a href="#tab-uploads">Uploads</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div class="tabs-content">-->

<!--        <div class="tabs-panel nhsuk-u-padding-top-3" id="tab-submission">-->
<!--            <div class="tabs-panel-inner">-->
<!--                <div class="nhsuk-grid-row">-->
<!--                    <div class="nhsuk-grid-column-two-thirds">-->
<!--                        <h2>Product</h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="tabs-panel nhsuk-u-padding-top-3" id="tab-messages">-->
<!--            <div class="tabs-panel-inner">-->
<!--                <div class="nhsuk-grid-row">-->
<!--                    <div class="nhsuk-grid-column-full">-->
<!--                        <h2>Message board</h2>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="tabs-panel nhsuk-u-padding-top-3" id="tab-summary">-->
<!--            <div class="tabs-panel-inner">-->
<!--                <div class="nhsuk-grid-row">-->
<!--                    <div class="nhsuk-grid-column-three-quarters">-->
<!--                        <h2>Summary</h2>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="tabs-panel nhsuk-u-padding-top-3" id="tab-uploads">-->
<!--            <div class="tabs-panel-inner">-->
<!--                <div class="nhsuk-grid-row">-->
<!--                    <div class="nhsuk-grid-column-full">-->
<!--                        <h2 class="nhsuk-u-margin-bottom-6">Uploads</h2>-->


<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


{% endblock %}