<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: spc or Data Sheet | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="discontinue-effective-date.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to checklist</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        Reason for discontinuation
      </h1>
    </legend>
    <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="data-sheet-hint">
      Select the reason for this product being discontinued. You can only select one reason at a time.
    </div>

    <div class="nhsuk-radios" id="data-spc-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="no-longer-manufactured" name="data-spc" type="radio" value="pack-list-add" />
        <label class="nhsuk-label nhsuk-radios__label" for="no-longer-manufactured">
          No longer manufactured
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="temporarily-out-of-stock" name="data-spc" type="radio" value="how-long-oos" />
        <label class="nhsuk-label nhsuk-radios__label" for="temporarily-out-of-stock">
          Out of stock
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="company-merger" name="data-spc" type="radio" value="email-meds-man" />
        <label class="nhsuk-label nhsuk-radios__label" for="company-merger">
          Company merger
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="product-divestment" name="data-spc" type="radio" value="contact-details-for-new-company/supplier-name.html" />
        <label class="nhsuk-label nhsuk-radios__label" for="product-divestment">
          Product divestment
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="takeover" name="data-spc" type="radio" value="contact-details-for-new-company/supplier-name.html" />
        <label class="nhsuk-label nhsuk-radios__label" for="takeover">
          Takeover
        </label>
      </div>

    </div>
  </fieldset>
</div>

<input type="button" onclick="navigate" class="nhsuk-button nhsuk-u-margin-top-3"
       value="Continue"
       id="next"
       name="next">
</input>

<script type="text/javascript">



  const continueBtn = document.getElementById("next")

  continueBtn.addEventListener("click", navigate);


  function navigate() {
    const selected = document.querySelector('input[name="data-spc"]:checked').value;
    console.log(selected)
    location.href="/mock-5/discontinue-a-product/" + selected
  }



</script>

{% endblock %}


