<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: spc link or file upload | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="licensing-authority-data-sheet">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to have you got a Data Sheet?</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        <span class="nhsuk-caption-l" id="product-name-title">
                Submit a product change
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
        Upload the Data Sheet
      </h1>
    </legend>
    <div class="nhsuk-hint" id="contact-hint">
      To provide a Data Sheet, we will need a file upload. This can be in Word or PDF formats only. The largest size is 10 megabytes (MB).
    </div>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-u-margin-top-3" for="file-upload-1">
        Upload a file
      </label>
      <input class="gov-file-upload font-upload" id="file-upload-1" name="file-upload-1" type="file">
    </div>
  </fieldset>
</div>

<a class="nhsuk-button nhsuk-u-margin-top-2" onclick="storeFile()"
   id="continue-button"
   href="product-file-upload-success"
   type="submit">
  Save and continue
</a>

<script>
  let productChangeReason = localStorage.getItem("product-change-reason");

  let productTitle = document.getElementById("product-name-title");

  if (productChangeReason || productChangeReason != null || productChangeReason != "") {
    productTitle.innerHTML = '<span class="nhsuk-caption-l" id="product-change-reason">Submit a product change' + ': ' + productChangeReason +'<span class="nhsuk-u-visually-hidden"> - </span></span>';
  }
</script>
<script src="/js/newProduct.js"></script>
{% endblock %}


