{% extends "specials-logo-base.html" %}
{% block title %}
Submit a new product: spc or Data Sheet | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-8">

    <a class="nhsuk-back-link__link" href="product-summary-edit.html">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to summary edit</a>
</div>


<div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset" role="group">
        <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
            <h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l">
    Edit a new special product
  <span class="nhsuk-u-visually-hidden"> - </span>
</span>Edit container details
            </h1>
        </legend>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-3" id="delete-container">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p> If this container is not longer needed <a href="confirm-delete-container.html" >you can delete this container here</a>.</p>
        </div>
        <p class="nhsuk-u-margin-bottom-6">Before saving the added container, check you have added the correct details. </p>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                   Container
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Bottle-Amber glass
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="edit-container-edit.html">
                        Edit<span class="nhsuk-u-visually-hidden">Container</span>
                    </a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Pack size and UOM
                </dt>
                <dd class="nhsuk-summary-list__value">
                    10ml
                </dd>

                <dd class="nhsuk-summary-list__actions">


                        Edit<span class="nhsuk-u-visually-hidden">Pack size</span>

                </dd>

            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                   Pack quantity
                </dt>
                <dd class="nhsuk-summary-list__value">
                    10
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    Edit<span class="nhsuk-u-visually-hidden">Pack size</span>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    GTIN
                </dt>
                <dd class="nhsuk-summary-list__value">
                    5020850100014
                </dd>

                <dd class="nhsuk-summary-list__actions">

                        Edit<span class="nhsuk-u-visually-hidden">GTIN </span>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    AMPPID
                </dt>
                <dd class="nhsuk-summary-list__value">
                    22369611000001102
                </dd>

                <dd class="nhsuk-summary-list__actions">

                        Edit<span class="nhsuk-u-visually-hidden">AMPPID</span>

                </dd>

            </div>


        </dl>
    </fieldset>
</div>

<p class="nhsuk-u-margin-bottom-6" id="exit-without-saving">If you no longer require this container, you can <a class="nhsuk-link--no-visited-state" href="product-summary-edit.html">exit to manage containers without saving</a></p>

<a href="product-summary-edit.html" class="nhsuk-button nhsuk-u-margin-right-4"
   id="next"
>Save edit
</a>

<script>

    if (localStorage.getItem("add-container-summary") === "yes") {
        document.getElementById("delete-container").classList.add("nhsuk-u-visually-hidden");
    } else {
        document.getElementById("exit-without-saving").classList.add("nhsuk-u-visually-hidden");
    }
  // console.log(localStorage);
  //
  // let twoFATag = document.getElementById("2fa-tag");
  // let twoFAAction = document.getElementById("2fa-action");
  // let twoFANoAction = document.getElementById("2fa-no-action");
  // let twoFADeactivated = localStorage.getItem("2fa-deactivated")
  //
  // if (twoFADeactivated == 'yes') {
  // twoFATag.className = "nhsuk-tag nhsuk-tag--blue";
  // twoFATag.innerHTML = "Requires set up";
  // twoFAAction.style.display = "none";
  // twoFANoAction.style.display = "block";
  // } else if (twoFADeactivated == 'no' || !twoFADeactivated) {
  // twoFATag.className = "nhsuk-tag nhsuk-tag--green";
  // twoFATag.innerHTML = "Activated";
  // twoFAAction.style.display = "block";
  // twoFANoAction.style.display = "none";
  // }
  //
  // let accountStatusTag = document.getElementById("account-status-tag");
  // let accountStatusAction = document.getElementById("account-status-action");
  // let accountStatusDeactivated = localStorage.getItem("account-deactivated")
  // let accountStatusActivated = localStorage.getItem("account-activated")
  //
  // if (accountStatusDeactivated == 'yes' || accountStatusActivated == 'no') {
  // accountStatusTag.className = "nhsuk-tag nhsuk-tag--grey";
  // accountStatusTag.innerHTML = "Inactive";
  // }
  // if (accountStatusDeactivated == 'no' || accountStatusActivated == 'yes') {
  // accountStatusTag.className = "nhsuk-tag nhsuk-tag--white";
  // accountStatusTag.innerHTML = "Active";
  // }

</script>

{% endblock %}


