<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Add market authorisation (MA) number | Submit a product change: market authorisation number | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
    <a class="nhsuk-back-link__link" href="product-summary-edit.html">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
             aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        <span id="back-link-text">Go back to summary edit</span></a>
</div>

<div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset" aria-describedby="example-uom-hint" role="group">
        <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
            <h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l">
                Submit a new special product
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
                What is the form?
            </h1>
        </legend>

        <label class="nhsuk-label" for="product-form">
            Form
        </label>
        <div class="nhsuk-hint nhsuk-u-margin-bottom-3" id="example-uom-hint">
            If the form required is not found, choose 'Other' and continue to the next stage to capture this.
        </div>

        <select class="nhsuk-select" id="product-form" name="type">
            <option value=""></option>
            <option value="Cream">Cream</option>
            <option value="Eye drops">Eye drops</option>
            <option value="Gel">Gel</option>
            <option value="Infusion (Parenteral)">Infusion (Parenteral)</option>
            <option value="Injection">Injection</option>
            <option value="Lotion">Lotion</option>
            <option value="Nasal Powder">Nasal Powder</option>
            <option value="Oral Liquid - Suspension">Oral Liquid - Suspension</option>
            <option value="Solution">Solution</option>
            <option value="Other">Other</option>
        </select>


    </fieldset>
</div>

<a class="nhsuk-button nhsuk-u-margin-top-3" onclick="storeForm()"
   href="product-summary-edit" id="button"
   type="submit">
    Save edit
</a>

<script src="/js/gov.min.js"></script>

<script>
    console.log(localStorage);

    let allSelectIds = document.querySelectorAll('select[id]');
    let allInputIds = document.querySelectorAll('input[id]');


    accessibleAutocomplete.enhanceSelectElement({
        defaultValue: "",
        autoselect: true,
        showAllValues: true,
        confirmOnBlur: false,
        showNoOptionsFound: true,
        selectElement: document.querySelector("#product-form"),
    });

    let parentDiv = document.querySelector("#product-form").parentNode;
    let newLabel = document.createElement("label");
    newLabel.innerHTML = "Form";
    newLabel.style.display = "none";
    newLabel.setAttribute("for", document.querySelector("#product-form-select").id);
    parentDiv.appendChild(newLabel);

    function storeForm() {

        if (localStorage.getItem("summary-page")) {
            document.getElementById("continue-button").href = "product-summary"
        }

        var prodForm = document.getElementById("product-form");
        localStorage.setItem("special-product-form", prodForm.value);

        console.log(prodForm.value);

        if (prodForm.value === "Other") {
            document.getElementById("continue-button").setAttribute('href', "form-other");
        }

    }

    if (localStorage.getItem("special-product-form")) {
        document.getElementById("product-form").value = localStorage.getItem("special-product-form");
    }


</script>
{% endblock %}