<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: spc link or file upload | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="product-spc-upload-choice">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to provide SmPC or data sheet choice</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        SmPC or data sheet upload
      </h1>
    </legend>

    <p>
      File uploads can be in Word or PDF formats only. The largest size is 10 megabytes (MB).</p>

    <table role="table" class="nhsuk-table-responsive" id="hide-table">
      <caption class="nhsuk-table__caption">Summary of file uploads</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
         File name
        </th>
        <th role="columnheader" class="" scope="col">
          File size
        </th>
        <th role="columnheader" class="" scope="col">
          Action
        </th>
      </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row" id="hide-first-file">
        <td role="cell" class="nhsuk-table__cell" id="file-upload-name">
          <span class="nhsuk-table-responsive__heading">File name </span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">File size </span>2.3MB
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action</span><a id="remove-file-1" href="#">Remove</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row" id="hide-second-file">
        <td role="cell" class="nhsuk-table__cell" id="file-upload-name-2">
          <span class="nhsuk-table-responsive__heading">File name </span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">File size </span>2.93MB
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action</span><a id="remove-file-2" href="#">Remove</a>
        </td>
      </tr>
      </tbody>
    </table>

    <p class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-1" id="add-another-link"><a class="nhsuk-link" id="go-to-file-2" href="product-file-upload-2">Add another file</a></p>

    <p class="nhsuk-u-margin-bottom-1" id="add-link" style="display: none">No files uploaded. Add a file <a class="nhsuk-link" id="go-to-file-1"  href="product-file-upload">here</a></p>
  </fieldset>
</div>

<a class="nhsuk-button" onclick="store()"
   id="continue-button"
   href="../product-pack/pack-size-strength"
   type="submit">
  Continue
</a>

<script>


var linkUrl = localStorage.getItem("product-upload-file");
var linkUrl2 = localStorage.getItem("product-upload-file-2");
var removeLinkOne = document.getElementById("remove-file-1");
var removeRowOne = document.getElementById("hide-first-file");
var removeRowTwo = document.getElementById("hide-second-file");

console.log(localStorage);
console.log(linkUrl);
console.log(linkUrl2);

if (linkUrl != null) {
var linkUrlSplit = linkUrl.split("\\");
console.log(linkUrl.split("\\"));
var linkUrlFileName = linkUrlSplit[linkUrlSplit.length - 1];
console.log(linkUrlFileName);
var fileName = document.getElementById("file-upload-name");
fileName.innerHTML = linkUrlFileName;
} else {
removeRowOne.style.display = "none";
}
if (linkUrl2) {
var linkUrlSplit2 = linkUrl2.split("\\");
var linkUrlFileName2 = linkUrlSplit2[linkUrlSplit2.length - 1];
var fileName = document.getElementById("file-upload-name-2");
fileName.innerHTML = linkUrlFileName2;

var addLink = document.getElementById("add-link");
addLink.style.display = "none";
} else {
removeRowTwo.style.display = "none";
}

console.log(removeLinkOne);
removeLinkOne.addEventListener("click", function(e) {
	// e.target was the clicked element
	removeLinkOne.setAttribute('href', "product-file-upload-success");
	removeRowOne.style.display = "none";
	localStorage.removeItem("product-upload-file");
	var itemTwo = localStorage.getItem("product-upload-file-2");

	if (itemTwo == null) {
document.getElementById("hide-table").style.display = "none";
document.getElementById("add-another-link").style.display = "none";
document.getElementById("continue-button").style.display = "none";
document.getElementById("add-link").style.display = "block";
} else {
document.getElementById("add-link").style.display = "none";
document.getElementById("add-another-link").style.display = "block";
document.getElementById("go-to-file-2").setAttribute('href',  "product-file-upload");
}
	e.preventDefault();

});

var removeLinkTwo = document.getElementById("remove-file-2");
var removeRowTwo = document.getElementById("hide-second-file");

removeLinkTwo.addEventListener("click", function(e) {
	// e.target was the clicked element
	removeLinkTwo.setAttribute('href', "product-file-upload-success");
	removeRowTwo.style.display = "none";
	localStorage.removeItem("product-upload-file-2");
	var itemOne = localStorage.getItem("product-upload-file");
if (itemOne == null) {
document.getElementById("hide-table").style.display = "none";
document.getElementById("add-another-link").style.display = "none";
document.getElementById("continue-button").style.display = "none";
document.getElementById("add-link").style.display = "block";
} else {
document.getElementById("add-link").style.display = "none";
document.getElementById("add-another-link").style.display = "block";
document.getElementById("go-to-file-2").setAttribute('href',  "product-file-upload-2");
}
	e.preventDefault();
});



if (linkUrl != null && linkUrl2 == null) {
document.getElementById("go-to-file-2").setAttribute('href',  "product-file-upload-2");

} else if (linkUrl == null && linkUrl2 != null) {
console.log('working?');
document.getElementById("go-to-file-2").setAttribute('href',  "product-file-upload");
}

if (linkUrl == null && linkUrl2 == null) {
document.getElementById("hide-table").style.display = "none";
document.getElementById("add-another-link").style.display = "none";
document.getElementById("continue-button").style.display = "none";
document.getElementById("add-link").style.display = "block";
} else if (linkUrl && linkUrl2) {
document.getElementById("add-another-link").style.display = "none";
}

</script>
{% endblock %}


