<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: spc link or file upload | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="product-spc-upload-choice">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to provide SmPC or data sheet choice</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        Upload the SmPC or data sheet?
      </h1>
    </legend>
    <div class="nhsuk-hint" id="contact-hint">
      File upload can be in Word or PDF formats only. The largest size is 10 megabytes (MB).
    </div>
    <div class="govuk-form-group">
      <label class="nhsuk-label nhsuk-u-margin-top-3" for="file-upload-2">
        Upload a file
      </label>
      <input class="nhsuk-input " id="file-upload-2" name="file-upload-2" type="file" style="background-color: #ffffff;">
    </div>
  </fieldset>
</div>

<a class="nhsuk-button nhsuk-u-margin-top-2" onclick="store()"
   id="continue-button"
   href="product-file-upload-success"
   type="submit">
  Continue
</a>

<script>

var linkUrl = localStorage.getItem("product-link-url");

if (linkUrl != null) {
localStorage.removeItem("product-link-url");
}

function store(){
     var uploadFile = document.getElementById("file-upload-2");
     localStorage.setItem("product-upload-file-2", uploadFile.value);
    }

var fileUp = document.querySelector("#file-upload-2").value;
console.log(fileUp)
if (getUploadFile != null) {
fileUp = getUploadFile;
}


</script>
{% endblock %}


