{% extends "base.html" %}
{% block title %}
Submit a new product: effective date | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="product-check-list">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to submit a new product information</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        What is the effective date of the product?
      </h1>
    </legend>
    <div class="nhsuk-hint nhsuk-u-margin-bottom-3" id="example-hint">
      The date the product is available in the warehouse and cannot be in the past. If you add a date from today, it can take up to 2 full weeks to show on the database. The format is <strong>dd mm yyyy</strong>.
    </div>

    <div class="nhsuk-date-input" id="example">
      <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
            Day
          </label>
          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
      <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
            Month
          </label>
          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
      <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
            Year
          </label>
          <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>

  <a class="nhsuk-button nhsuk-u-margin-top-5" onclick="store()" href="product-name"
          type="submit">
    Continue
  </a>

</div>
<script>
function store(){
     var inputDay = document.getElementById("example-day");
     var inputMonth = document.getElementById("example-month");
     var inputYear = document.getElementById("example-year");
     localStorage.setItem("effective-day", inputDay.value);
     localStorage.setItem("effective-month", inputMonth.value);
     localStorage.setItem("effective-year", inputYear.value);
    }

var getEffectiveDay = localStorage.getItem("effective-day");
var getEffectiveMonth = localStorage.getItem("effective-month");
var getEffectiveYear = localStorage.getItem("effective-year");

var eDay = document.querySelector("#example-day");
if (getEffectiveDay != null) {
eDay.defaultValue = getEffectiveDay;
}

var eMonth = document.querySelector("#example-month");
if (getEffectiveMonth != null) {
eMonth.defaultValue = getEffectiveMonth;
}

var eYear = document.querySelector("#example-year");
if (getEffectiveYear != null) {
eYear.defaultValue = getEffectiveYear;
}

</script>
{% endblock %}