<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: pack price | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="product-should-display-price">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to pack should display price?</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading" id="heading">
        What is the price of the pack size?
      </h1>
    </legend>
    <div class="nhsuk-hint nhsuk-u-margin-bottom-3" id="example-hint">
      The price is the list price of each pack excluding VAT. A listed price will be only visible once accepted and live on dm+d. Enter price in pence.
    </div>

    <label class="nhsuk-label" for="product-price">
      Price in pence
    </label>
    <input class="nhsuk-input nhsuk-u-margin-bottom-2" id="product-price" name="strength" type="text" pattern="[0-9]*" inputmode="numeric" style="max-width: 22.8ex;">

  </fieldset>
</div>

<a class="nhsuk-button" onclick="store()"
   href="product-legal-category"
   type="submit">
  Continue
</a>

<script>
function store(){
     var prodPrice = document.getElementById("product-price");
     localStorage.setItem("product-price", prodPrice.value);
    }

    var prodPrice= document.getElementById("product-price");

var getProdPrice = localStorage.getItem("product-price");


var prodPrice = document.querySelector("#product-price");
if (getProdPrice != null) {
prodPrice.defaultValue = getProdPrice;
}

var getPrice = localStorage.getItem("pack-should-display-price");
var getSize = localStorage.getItem("pack-size");
var heading = document.getElementById("heading");

if (getPrice != null) {
heading.innerHTML = 'What is the price of the ' + getSize + ' pack?';
}

</script>
{% endblock %}