{% extends "base.html" %}
{% block title %}
Portal dashboard | Medicines Management design prototype | NHSBSA
{% endblock %}
{% block content %}
<div class="grid-row">

  <div class="column-two-thirds">
    <div class="nhsuk-card" style="color: #ffffff; background-color: #005eb8; text-align: center">
      <div class="nhsuk-card__content">
        <h1 class="nhsuk-card__heading">
          Portal dashboard
        </h1>
      </div>
    </div>

    <p>Create and track submissions through the portal dashboard.</p>
    <p>To view your products held on dictionary of medicines and devices (dm+d) visit <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="product-list/product-list.html">product list</a>.</p>

    <h2>Submission tasks</h2>

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                 href="submit-new-product/product/product-check-list">New product</a>
            </h2>
            <p class="nhsuk-card__description">Submit a new product.</p>
          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                 href="submit-new-pack/pack-check-list">New pack</a>
            </h2>
            <p class="nhsuk-card__description">Add a pack to an existing product.</p>
          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                 href="submit-new-price/price-check-list">Price change</a>
            </h2>
            <p class="nhsuk-card__description">Change one or more current prices, or set a price to zero.</p>
          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                 href="discontinue-a-product/discontinue-check-list.html">Discontinue</a>
            </h2>
            <p class="nhsuk-card__description">Stop a pack or advise on transferring a product to another supplier.</p>
          </div>
        </div>

      </li>
    </ul>

    <h2>Track submissions</h2>

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="product-submissions/product-submissions-main">Submissions</a>
            </h2>
            <p class="nhsuk-card__description">Displays a list of all submissions.</p>
          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                 href="product-list/product-list.html">Drafts</a>
            </h2>
            <p class="nhsuk-card__description">View or edit current drafts.</p>
          </div>
        </div>

      </li>
    </ul>

    <h2>Administration</h2>
    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="supplier-users/supplier-users">Portal users</a>
        </h2>
        <p class="nhsuk-card__description">Update portal users.</p>
      </div>
    </div>
  </li>

  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="supplier-users/view-company-details">Company details</a>
        </h2>
        <p class="nhsuk-card__description">Update company contacts. </p>
      </div>
    </div>
  </li>
</ul>
  </div>
</div>
{% endblock %}