{% extends "base.html" %}
{% block title %}
Submit a new product | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="dashboard">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to portal dashboard</a>
</div>

<h1>
  <span class="nhsuk-caption-l">
     Astrazeneca
     <span class="nhsuk-u-visually-hidden"> - </span>
   </span>Portfolio</h1>

<p>Your portfolio shows all products currently listed on dictionary of medicines and devices (dm+d), any recently actioned submissions and all discontinued lines. Submissions will only be visible once the effective date has passed. However,  it can also take up to 6 days further to appear due to the weekly update schedule. </p>

<details class="nhsuk-details nhsuk-u-margin-bottom-7">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      What does AMPP or SNOMED stand for?
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>SNOMED stands for Systematized Nomenclature of Medicine Clinical Terms.</p>
    <p>AMPP stands for Actual Medicinal Product Pack.</p>
  </div>
</details>


<div class="nhsuk-body-m flex--space-between" style="display: flex">
  <div class="nhsuk-u-visually-hidden">Currently viewing</div>
  <div id="pageAndResultCount">Page 1 of 1 (6 results)</div>
</div>
<table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5">
  <caption>Product list results</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
  <tr role="row">
    <th role="columnheader" class="" scope="col">
      Product name
    </th>
    <th role="columnheader" class="" scope="col">
      Pack
    </th>
    <th role="columnheader" class="" scope="col">
      Subpack
    </th>
    <th role="columnheader" class="" scope="col">
      AMPP/SNOMED code
    </th>
    <th role="columnheader" class="" scope="col">
      Price
    </th>
    <th>Status</th>
    <th role="columnheader" class="" scope="col">
      Action
    </th>
  </tr>
  </thead>
  <tbody class="nhsuk-table__body">
  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Product name </span>Aciclovir 200mg dispersible tablets
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Pack </span>30
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Subpack </span>
      <span class="nhsuk-u-visually-hidden">No Subpack information</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row" style="word-break:break-all">
      <span class="nhsuk-table-responsive__heading">AMPP/SNOMED code </span>
      <span>01234567891234567</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Price </span><span><span>279</span>p</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading select-tag">Status </span>
      <strong class="nhsuk-tag nhsuk-tag--blue mobile-tag">
        Active
      </strong>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading select-tag">Action </span>
      <p class="nhsuk-u-margin-bottom-0"><a class="nhsuk-link nhsuk-link--no-visited-state" href="portfolio-summary">View</a></p>
    </td>
  </tr>
  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Product name </span>Bupenorphine 100mg capsules
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Pack </span>28
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Subpack </span>
      <!--          need to make sure empty table cells announce something MPL 20/10/22-->
      <span class="nhsuk-u-visually-hidden">No Subpack information</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row" style="word-break:break-all">
      <span class="nhsuk-table-responsive__heading">AMPP/SNOMED code </span>
      <span>12345678912345678</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Price </span><span><span>233</span>p</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading select-tag">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--red mobile-tag">
        Discontinued
      </strong>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading select-tag">Action </span>
      <p class="nhsuk-u-margin-bottom-0">View</p>
    </td>
  </tr>
  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Product name </span>Cymbalta 30mg gastro-resistant capsules
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Pack </span>30
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Subpack </span>3 &times; 10 capsules
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row" style="word-break:break-all">
      <span class="nhsuk-table-responsive__heading">AMPP/SNOMED code </span>
      <span >23456789123456789</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Price </span>
      <span><span>315</span>p</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading select-tag">Status</span>
      <strong class="nhsuk-tag nhsuk-tag--red mobile-tag">
        Discontinued
      </strong>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading select-tag">Action </span>
      <p class="nhsuk-u-margin-bottom-0">View</p>
    </td>
  </tr>

  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Product name </span>Diamorphine 10mg tablets
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Pack </span>100
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Subpack </span>
      <span class="nhsuk-u-visually-hidden">No Subpack exists for Diamorphine 10mg tablets 100 pack</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row" style="word-break:break-all">
      <span class="nhsuk-table-responsive__heading">AMPP/SNOMED code </span>
      <span>23456789123456789</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Price </span>
      <span><span>162</span>p</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading select-tag">Status </span>
      <strong class="nhsuk-tag nhsuk-tag--blue mobile-tag">
        Active
      </strong>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading select-tag">View </span>
      <p class="nhsuk-u-margin-bottom-0">View</p>
    </td>
  </tr>
  <tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Product name </span>Methadone 50mg/5ml solution for injection ampoules
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Pack </span>10
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Subpack </span>
      <span class="nhsuk-u-visually-hidden">No Subpack exists for Methadone 50mg/5ml solution for injection ampoules 10 pack</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row" style="word-break:break-all">
      <span class="nhsuk-table-responsive__heading">AMPP/SNOMED code </span>
      <span>34567891234567891</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Price </span>
      222p
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading select-tag">Status </span>
      <strong class="nhsuk-tag nhsuk-tag--blue mobile-tag">
        Active
      </strong>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading select-tag">View </span>
      <p class="nhsuk-u-margin-bottom-0">View</p>
    </td>
  </tr><tr role="row" class="nhsuk-table__row">
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Product name </span>Piroxicam 20mg capsules
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Pack </span>30
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Subpack </span>5 &times; 4 capsules
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row" style="word-break:break-all">
      <span class="nhsuk-table-responsive__heading">AMPP/SNOMED code </span>
      <span>45678912345678912</span>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading">Price </span>
      453p
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading select-tag">Status </span>
      <strong class="nhsuk-tag nhsuk-tag--blue mobile-tag">
        Active
      </strong>
    </td>
    <td role="cell" class="nhsuk-table__cell center-table-row">
      <span class="nhsuk-table-responsive__heading select-tag">View </span>
      <p class="nhsuk-u-margin-bottom-0">View</p>
    </td>
  </tr>
  </tbody>
</table>

<div class="nhsuk-grid-row nhsuk-u-margin-top-3">
  <div class="nhsuk-grid-column-full">
    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span></a>
      </div>
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
            1
          </a>
        </li>
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg></a>
      </div>
    </nav>
  </div>
</div>


{% endblock %}