{% extends "base.html" %}
{% block title %}
Review details | Submit a product change | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="portfolio">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to portfolio</a>
</div>

<h1><span class="nhsuk-caption-l">
    Astrazeneca
  <span class="nhsuk-u-visually-hidden"> - </span>
</span>
  Aciclovir 200mg dispersible tablets</h1>

<dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key update-width">
      Product name
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-effective-date">Aciclovir 200mg dispersible tablets
    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Pack size
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-size">
      30
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Subpack
    </dt>
    <dd class="nhsuk-summary-list__value" id="subpack">
      <span class="nhsuk-u-visually-hidden">No subpack for Aciclovir 200mg dispersible tablets 30 pack</span>
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      AMPP/SNOMED code
    </dt>
    <dd class="nhsuk-summary-list__value" id="ampp-snomed">
      01234567891234567
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Global Trade Item Number (GTIN)
    </dt>
    <dd class="nhsuk-summary-list__value" id="gtin">
      12121212
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Price in pence
    </dt>
    <dd class="nhsuk-summary-list__value" id="price">
      279
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Status
    </dt>
    <dd class="nhsuk-summary-list__value" id="status">
      <strong class="nhsuk-tag nhsuk-tag--blue mobile-tag">
        Active
      </strong>
    </dd>
  </div>
  
</dl>


{% endblock %}