{% extends "base.html" %}
{% block title %}
Submit a new product: product summary | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="product-add-pack">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to product add pack</a>
</div>

<h1>Summary</h1>

<p class="nhsuk-u-margin-bottom-5">Check your answers before completing your submission. If you are not ready to submit you can store the information to return later.</p>

<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Product effective date
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-effective-date">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="product-effective-date">
        Change<span class="nhsuk-u-visually-hidden"> effective date</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Product name
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-name">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="product-name">
        Change<span class="nhsuk-u-visually-hidden"> product name</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Product has SmPC or data sheet
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-spc">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="product-spc">
        Change<span class="nhsuk-u-visually-hidden"> product SmPC/data sheet</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key" id="link-or-upload">
      SmPC or data sheet format
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-link-upload">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="product-spc-upload-choice">
        Change<span class="nhsuk-u-visually-hidden"> SmPC or data sheet format</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key" id="file-or-link">
      SmPC or data sheet uploaded files or url
    </dt>
    <dd class="nhsuk-summary-list__value" id="display-file-or-link">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="product-file-upload-success" id="link-url">
        Change<span class="nhsuk-u-visually-hidden"> SmPC or data sheet link or files</span>
      </a>

    </dd>

  </div>
</dl>

<h2 id="heading-pack-1">Pack 1</h2>

<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Pack size and type
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-size">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack/pack-size-strength">
        Change<span class="nhsuk-u-visually-hidden"> pack size or type</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Pack has subpack
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-subpack">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack/pack-subpack">
        Change<span class="nhsuk-u-visually-hidden"> if pack has subpack</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row" id="subpack-info">
    <dt class="nhsuk-summary-list__key">
      Number of subpacks
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-subpack-extra">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack/pack-subpack-extra">
        Change<span class="nhsuk-u-visually-hidden"> number of subpacks</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row" >
    <dt class="nhsuk-summary-list__key">
      Pack GTIN code
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-gtin">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack/pack-gtin">
        Change<span class="nhsuk-u-visually-hidden"> pack GTIN code</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Pack has packaging images
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-has-artwork">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack/pack-require-artwork">
        Change<span class="nhsuk-u-visually-hidden"> if pack has packaging images</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row" id="awaiting-artwork">
    <dt class="nhsuk-summary-list__key">
      Packaging images uploaded files
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-upload-artwork">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack/pack-artwork-upload-success">
        Change<span class="nhsuk-u-visually-hidden"> uploaded packaging images</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row" >
    <dt class="nhsuk-summary-list__key">
      Pack has price
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-should-display-price">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="product-should-display-price">
        Change<span class="nhsuk-u-visually-hidden"> if pack should have price</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row" id="hide-price">
    <dt class="nhsuk-summary-list__key">
      Price in pence
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-price">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="product-price">
        Change<span class="nhsuk-u-visually-hidden">pack price</span>
      </a>

    </dd>

  </div>

</dl>

<h2 id="heading-pack-2">Pack 2</h2>

<dl class="nhsuk-summary-list" id="pack-2-info">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Pack size and type
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-2-size">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack-extra/pack-2-size">
        Change<span class="nhsuk-u-visually-hidden"> pack size and type</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Pack has subpack
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-2-subpack">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack-extra/pack-2-subpack">
        Change<span class="nhsuk-u-visually-hidden"> if pack has subpack</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row" id="subpack-2-info">
    <dt class="nhsuk-summary-list__key">
      Number of subpacks
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-2-subpack-extra">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack-extra/pack-2-subpack-extra">
        Change<span class="nhsuk-u-visually-hidden"> number of subpacks</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row" >
    <dt class="nhsuk-summary-list__key">
      Pack GTIN code
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-2-gtin">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack-extra/pack-2-gtin">
        Change<span class="nhsuk-u-visually-hidden"> pack GTIN code</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Pack has packaging images
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-2-has-artwork">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack-extra/pack-2-require-artwork">
        Change<span class="nhsuk-u-visually-hidden"> if pack has packaging images</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row" id="awaiting-2-artwork">
    <dt class="nhsuk-summary-list__key">
      Packaging images uploaded files
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-2-upload-artwork">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack-extra/pack-2-artwork">
        Change<span class="nhsuk-u-visually-hidden"> packaging images uploaded files</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row" >
    <dt class="nhsuk-summary-list__key">
      Pack has price
    </dt>
    <dd class="nhsuk-summary-list__value" id="pack-2-should-display-price">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack-extra/product-2-should-display-price">
        Change<span class="nhsuk-u-visually-hidden"> if product should have price</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row" id="hide-2-price">
    <dt class="nhsuk-summary-list__key">
      Price in pence
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-2-price">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="../product-pack-extra/product-2-price">
        Change<span class="nhsuk-u-visually-hidden"> product price</span>
      </a>

    </dd>

  </div>

</dl>


<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row" >
    <dt class="nhsuk-summary-list__key">
      Product legal category
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-legal-category">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="product-legal-category">
        Change<span class="nhsuk-u-visually-hidden"> product legal category</span>
      </a>
    </dd>
  </div>

  <div class="nhsuk-summary-list__row" >
    <dt class="nhsuk-summary-list__key">
      Product is hospital only
    </dt>
    <dd class="nhsuk-summary-list__value" id="product-hospital-only">
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="product-usage">
        Change<span class="nhsuk-u-visually-hidden"> whether product is hospital only</span>
      </a>
    </dd>
  </div>
</dl>

<a class="nhsuk-button nhsuk-u-margin-top-3" href="../../confirmation"
   type="submit">
  Submit
</a>

<a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-3"
   id="save-alert">
  Save for later
</a>

<script>
var getEffectiveDay = localStorage.getItem("effective-day");
var getEffectiveMonth = localStorage.getItem("effective-month");
var getEffectiveYear = localStorage.getItem("effective-year");
document.getElementById("product-effective-date").innerHTML = getEffectiveDay + '/' + getEffectiveMonth + '/' + getEffectiveYear;

var getProductName = localStorage.getItem("product-name");
document.getElementById("product-name").innerHTML = getProductName;

var getProductHasSPC = localStorage.getItem("product-spc");
document.getElementById("product-spc").innerHTML = getProductHasSPC;

var getProductHasSPC = localStorage.getItem("product-spc");
document.getElementById("product-spc").innerHTML = getProductHasSPC;

var getProductLink = localStorage.getItem("product-link-url");
var getProductUp = localStorage.getItem("product-link-upload");
var getProductUpload = localStorage.getItem("product-upload-file");
var getProductUpload2 = localStorage.getItem("product-upload-file-2");

if (getProductLink != null) {
console.log(getProductLink);
  document.getElementById("product-link-upload").innerHTML = getProductUp;
  document.getElementById("file-or-link").innerHTML = 'SmPC or date sheet web address';
  document.getElementById("display-file-or-link").innerHTML = getProductLink;
  document.getElementById("link-url").setAttribute('href', "product-spc-upload-choice");

} else if (!getProductLink && (getProductUpload && !getProductUpload2)) {
  var linkUrlSplit = getProductUpload.split("\\");
  var linkUrlFileName = linkUrlSplit[linkUrlSplit.length - 1];
  document.getElementById("display-file-or-link").innerHTML = linkUrlFileName;
  document.getElementById("product-link-upload").innerHTML = getProductUp;
  document.getElementById("file-or-link").innerHTML = 'SmPC or date sheet uploaded file';

  } else if (!getProductLink && (!getProductUpload && getProductUpload2)) {
  var linkUrlSplit2 = getProductUpload2.split("\\");
  var linkUrlFileName2 = linkUrlSplit2[linkUrlSplit2.length - 1];
  document.getElementById("display-file-or-link").innerHTML = linkUrlFileName2;
  document.getElementById("product-link-upload").innerHTML = getProductUp;
  document.getElementById("file-or-link").innerHTML = 'SmPC or date sheet uploaded file';

  } else if (!getProductLink && (getProductUpload && getProductUpload2)) {
  var linkUrlSplit = getProductUpload.split("\\");
  var linkUrlFileName = linkUrlSplit[linkUrlSplit.length - 1];
  var linkUrlSplit2 = getProductUpload2.split("\\");
  var linkUrlFileName2 = linkUrlSplit2[linkUrlSplit2.length - 1];
  document.getElementById("display-file-or-link").innerHTML = linkUrlFileName + '<br>' + linkUrlFileName2;
  document.getElementById("product-link-upload").innerHTML = getProductUp;
  document.getElementById("file-or-link").innerHTML = 'SmPC or date sheet uploaded files';
  document.getElementById("link-url").setAttribute('href', "product-file-upload-success");
  }

var getPackSize = localStorage.getItem("pack-size");
var getPackType = localStorage.getItem("pack-type");
var getPackTypeOther = localStorage.getItem("pack-type-other");

if (getPackType != "other") {
document.getElementById("pack-size").innerHTML = getPackSize + ' ' + getPackType;
} else {
document.getElementById("pack-size").innerHTML = getPackSize + ' ' + getPackTypeOther;
}

if (localStorage.getItem("product-extra-pack") == 'yes' && getPackType != 'other') {
document.getElementById("heading-pack-1").innerHTML = getPackSize + ' ' + getPackType;
} else if (getPackType == 'other' && localStorage.getItem("product-extra-pack") == 'yes'){
document.getElementById("heading-pack-1").innerHTML = getPackSize + ' ' + getPackTypeOther;
} else if (localStorage.getItem("product-extra-pack") == 'no') {
document.getElementById("heading-pack-1").style["display"] = "none";
}

var getPackSubpack = localStorage.getItem("pack-subpack");
document.getElementById("pack-subpack").innerHTML = getPackSubpack;

if (getPackSubpack == 'no') {
document.getElementById("subpack-info").style["display"] = "none";
}

var getPackSubpackExtra = localStorage.getItem("pack-subpack-extra");
document.getElementById("pack-subpack-extra").innerHTML = getPackSubpackExtra

var getGtin = localStorage.getItem("pack-gtin");
document.getElementById("pack-gtin").innerHTML = getGtin;

var notAwaitingArtwork = localStorage.getItem("pack-should-display-artwork");
document.getElementById("pack-has-artwork").innerHTML = notAwaitingArtwork;

if (notAwaitingArtwork == 'no') {
document.getElementById("awaiting-artwork").style["display"] = "none";
}

var getProductArtwork = localStorage.getItem("pack-upload-artwork");
var getProductArtwork2 = localStorage.getItem("pack-upload-artwork-2");
var getProductArtwork3 = localStorage.getItem("pack-upload-artwork-3");
var getProductArtwork4 = localStorage.getItem("pack-upload-artwork-4");

var artworkArray = [];

artworkArray.push(getProductArtwork, getProductArtwork2, getProductArtwork3, getProductArtwork4);
console.log(artworkArray);

var filtered = artworkArray.filter(function (el) {
return el != null
});

for (let i = 0; i < filtered.length; i++) {
var splitUp = filtered[i].split("\\");
var fileForm = splitUp[splitUp.length - 1];
document.getElementById("pack-upload-artwork").innerHTML += fileForm + "<br>";
}


var getPackHasPrice = localStorage.getItem("pack-should-display-price");
document.getElementById("pack-should-display-price").innerHTML = getPackHasPrice;

if (getPackHasPrice == 'no') {
document.getElementById("hide-price").style["display"] = "none";
}

var getPackPrice = localStorage.getItem("product-price");
document.getElementById("product-price").innerHTML = getPackPrice;

var getLegalCategory = localStorage.getItem("product-legal-category");
document.getElementById("product-legal-category").innerHTML = getLegalCategory;

var getIfHosp = localStorage.getItem("product-hospital-only");
document.getElementById("product-hospital-only").innerHTML = getIfHosp;

var saveButton = document.getElementById("save-alert");
saveButton.addEventListener("click", function(){ alert("Work in progress!!"); });

var addExtra = localStorage.getItem("product-extra-pack");

if (addExtra == 'no') {
document.getElementById("pack-2-info").style["display"] = "none";
};

getPack2Size = localStorage.getItem("pack-2-size");
console.log('getPack2Size', getPack2Size);

if (addExtra != 'no') {
if (getPack2Size != null && (getPackType != null && getPackType != 'other')) {
document.getElementById("pack-2-size").innerHTML = getPack2Size + ' ' + getPackType;
document.getElementById("heading-pack-2").innerHTML = getPack2Size + ' ' + getPackType;
  } else if (getPack2Size != null && (getPackType != null && getPackType == 'other')) {
document.getElementById("pack-2-size").innerHTML = getPack2Size + ' ' + getPackTypeOther;
document.getElementById("heading-pack-2").innerHTML = getPack2Size + ' ' + getPackTypeOther;
  }
} else {
document.getElementById("pack-2-size").style["display"] = "none";
document.getElementById("heading-pack-2").style["display"] = "none";
}

getPack2Subpack = localStorage.getItem("pack-2-subpack");

if (getPack2Subpack != null) {
document.getElementById("pack-2-subpack").innerHTML = getPack2Subpack;
} else {
document.getElementById("pack-2-subpack").style["display"] = "none";
}

var getPack2SubpackExtra = localStorage.getItem("pack-2-subpack-extra");

if (getPack2Subpack == 'no') {
document.getElementById("subpack-2-info").style["display"] = "none";
}

if (getPack2SubpackExtra != null) {
document.getElementById("pack-2-subpack-extra").innerHTML = getPack2SubpackExtra;
} else {
document.getElementById("pack-2-subpack-extra").style["display"] = "none";
}

var get2Gtin = localStorage.getItem("pack-2-gtin");
if (get2Gtin != null) {
document.getElementById("pack-2-gtin").innerHTML = get2Gtin;
} else {
document.getElementById("pack-2-gtin").style["display"] = "none";
}

var notAwaiting2Artwork = localStorage.getItem("pack-2-should-display-artwork");
var get2Artwork = localStorage.getItem("pack-2-upload-artwork");
document.getElementById("pack-2-has-artwork").innerHTML = notAwaiting2Artwork;

if (notAwaiting2Artwork == 'no') {
document.getElementById("awaiting-2-artwork").style["display"] = "none";
} else {

var getProduct2Artwork = localStorage.getItem("pack-2-upload-artwork");
var getProduct2Artwork2 = localStorage.getItem("pack-2-upload-artwork-2");
var getProduct2Artwork3 = localStorage.getItem("pack-2-upload-artwork-3");
var getProduct2Artwork4 = localStorage.getItem("pack-2-upload-artwork-4");

var artwork2Array = [];

artwork2Array.push(getProduct2Artwork, getProduct2Artwork2, getProduct2Artwork3, getProduct2Artwork4);

var filtered2 = artwork2Array.filter(function (el) {
return el != null
});

for (let i = 0; i < filtered2.length; i++) {
var splitUp = filtered2[i].split("\\");
var fileForm = splitUp[splitUp.length - 1];
document.getElementById("pack-2-upload-artwork").innerHTML += fileForm + "<br>";
}
}

var getPack2HasPrice = localStorage.getItem("pack-2-should-display-price");

if (getPack2HasPrice != null) {
document.getElementById("pack-2-should-display-price").innerHTML = getPack2HasPrice;
} else {
document.getElementById("pack-2-should-display-price").style["display"] = "none";
}

if (getPack2HasPrice == 'no') {
document.getElementById("hide-2-price").style["display"] = "none";
}

var getPack2Price = localStorage.getItem("product-2-price");

if (getPack2Price != null) {
document.getElementById("product-2-price").innerHTML = getPack2Price;
} else {
document.getElementById("product-2-price").style["display"] = "none";
}



console.log(localStorage);

</script>
{% endblock %}