<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: spc or Data Sheet | Portal | NHSBSA
{% endblock %}
{% block content %}


<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        Do you want to deactivate two-factor authentication for this user?
      </h1>
    </legend>
    <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="data-sheet-hint">
      In the event a user needs this to be deactivated with immediate effect, this option can be disabled on their behalf. The user can reactivate this if they need to.
    </div>
    <a class="nhsuk-button secondary-color" href="edit-supplier-main.html">Go back</a>
    <a class="nhsuk-button" href="deactivate-2fa-confirmation.html">Deactivate</a>
  </fieldset>
</div>
<p>Return to the <a class="nhsuk-link nhsuk-link--no-visited-state" href="../dashboard">portal dashboard</a>.</p>

{% endblock %}


