{% extends "base.html" %}
{% block title %}
Replace your primary contact | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="remove-contact">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to remove contact</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        Replace your primary contact
      </h1>
    </legend>

    <p class="nhsuk-label--m">You must add a new contact as you are removing the only contact for
      your company.</p>

    <a class="nhsuk-button nhsuk-u-margin-top-5" href="add-contact-existing-user" id="continue-button" type="submit">
      Add new contact
    </a>
  </fieldset>
</div>
{% endblock %}