<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Company details | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" id="back-link" href="../dashboard">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to dashboard</a>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <span class="nhsuk-caption-l">
      AstraZeneca
    </span>
    <h1>Company details</h1>
  </div>
</div>

<h2>Name</h2>

<p class="nhsuk-u-font-size-32">AstraZeneca</p>

<p>The company name can be changed <a class="nhsuk-link nhsuk-link--no-visited-state" href="change-company-name/reason">
  here</a>.</p>

<!--<div class="nhsuk-grid-row">-->
<!--  <div class="nhsuk-grid-column-two-thirds">-->
<!--    <dl class="nhsuk-summary-list">-->
<!--      <div class="nhsuk-summary-list__row">-->
<!--        <dt class="nhsuk-summary-list__key">-->
<!--          Name-->
<!--        </dt>-->
<!--        <dd class="nhsuk-summary-list__value">-->
<!--          Amgen-->
<!--        </dd>-->
<!--        <dd class="nhsuk-summary-list__actions">-->
<!--          <a href="change-company-name/reason">-->
<!--            Change<span class="nhsuk-u-visually-hidden"> company name</span>-->
<!--          </a>-->
<!--        </dd>-->
<!--      </div>-->
<!--    </dl>-->
<!--  </div>-->
<!--</div>-->


<h2>Contacts</h2>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <table role="table" class="nhsuk-table-responsive primary-user-data nhsuk-u-margin-bottom-5">
      <caption class="nhsuk-table__caption">Primary contact</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Name
        </th>
        <th role="columnheader" class="" scope="col">
          Email
        </th>
        <th role="columnheader" class="" scope="col">
          Phone number
        </th>
        <th role="columnheader" class="" scope="col">
          Action
        </th>
      </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Name </span>John Smith
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Email </span>john.smith@nhs.net
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Phone number </span>07700 900362
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action</span>
          <a class="nhsuk-link nhsuk-link--no-visited-state" href="edit-user-2fa-not-set-up/edit-contact-main">Edit</a><span> | </span>
          <a class="nhsuk-link nhsuk-link--no-visited-state" href="remove-contact" onclick="lastContact('true')">Remove</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5 secondary-user-data">
      <caption class="nhsuk-table__caption">Secondary contacts</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Name
        </th>
        <th role="columnheader" class="" scope="col">
          Email
        </th>
        <th role="columnheader" class="" scope="col">
          Phone number
        </th>
        <th role="columnheader" class="file-size-width" scope="col">
          Action
        </th>
      </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Name </span>David Jones
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Email </span>david.jones@nhs.net
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Phone number </span>07700 905456
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action</span>
          <a class="nhsuk-link nhsuk-link--no-visited-state" href="edit-user-2fa-activated/edit-contact-secondary">Edit</a><span> | </span>
          <a class="nhsuk-link nhsuk-link--no-visited-state" href="remove-contact" onclick="lastContact('false')">Remove</a>
        </td>
      </tr>
<!--      <tr role="row" class="nhsuk-table__row">-->
<!--        <td role="cell" class="nhsuk-table__cell">-->
<!--          <span class="nhsuk-table-responsive__heading">Name </span>John Doe-->
<!--        </td>-->
<!--        <td role="cell" class="nhsuk-table__cell">-->
<!--          <span class="nhsuk-table-responsive__heading">Email </span>john.doe@test.com-->
<!--        </td>-->
<!--        <td role="cell" class="nhsuk-table__cell">-->
<!--          <span class="nhsuk-table-responsive__heading">Phone number </span>-->
<!--        </td>-->
<!--        <td role="cell" class="nhsuk-table__cell">-->
<!--          <span class="nhsuk-table-responsive__heading">Action</span>-->
<!--          <a class="nhsuk-link nhsuk-link&#45;&#45;no-visited-state" href="#">Edit</a><span> | </span>-->
<!--          <a class="nhsuk-link nhsuk-link&#45;&#45;no-visited-state" href="#">Remove</a>-->
<!--        </td>-->
<!--      </tr>-->
      </tbody>
    </table>
  </div>
</div>

<div id="message-container">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <table id="no-secondary-header" role="table" style="display:none;"
         class="nhsuk-table-responsive nhsuk-u-margin-bottom-4">
    <caption class="nhsuk-table__caption">Secondary contacts</caption>
  </table>
  <p id="not-submitted-message">No contacts.</p>
</div>
<p id="add-another-secondary-user" style="display: none;">Add another secondary contact <a href="add-user/add-contact-existing-user">here</a>.</p>



<script src="/js/companyAddContactInfo.js" onload="displayAddContactMessage(); displayContacts();">

</script>

{% endblock %}