<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Company details | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" id="back-link" href="../dashboard">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to dashboard</a>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <span class="nhsuk-caption-l">
      AstraZeneca
    </span>
    <h1>Company details</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="tabs tabbed">
    <div class="tabs-nav">
      <ul class="tabs-list">
        <li id="heading-tab-information"><a href="#tab-info">General information</a></li>
        <li id="heading-tab-users"><a href="#tab-contacts">Contacts</a></li>
      </ul>
    </div>
    <div class="tabs-content">
      <div class="tabs-panel nhsuk-u-padding-top-3" id="tab-info">
        <div class="tabs-panel-inner">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Company name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Amgen
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <a href="change-company-name/reason">
                      Change<span class="nhsuk-u-visually-hidden"> company name</span>
                    </a>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-panel nhsuk-u-padding-top-3" id="tab-contacts">
        <div class="tabs-panel-inner">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <table role="table" class="nhsuk-table-responsive primary-user-data">
                <caption class="nhsuk-table__caption">Primary contact</caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Name
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Email
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Phone number
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Action
                  </th>
                </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Name </span>John Smith
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Email </span>john.smith@nhs.net
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Phone number </span>07700 900362
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Action</span>
                    <a class="nhsuk-link nhsuk-link--no-visited-state" href="edit-user-2fa-not-set-up/edit-contact-main">Edit</a><span> | </span>
                    <a class="nhsuk-link nhsuk-link--no-visited-state" href="remove-contact" onclick="lastContact('false')">Remove</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="nhsuk-grid-row nhsuk-u-margin-top-6">
            <div class="nhsuk-grid-column-full">
              <table role="table" class="nhsuk-table-responsive secondary-user-data">
                <caption class="nhsuk-table__caption">Secondary contacts</caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Name
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Email
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Phone number
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Action
                  </th>
                </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Name </span>David Jones
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Email </span>david.jones@nhs.net
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Phone number </span>07700 905456
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Action</span>
                    <a class="nhsuk-link nhsuk-link--no-visited-state" href="edit-user-2fa-activated/edit-contact-secondary">Edit</a><span> | </span>
                    <a class="nhsuk-link nhsuk-link--no-visited-state" href="remove-contact" onclick="lastContact('true')">Remove</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Name </span>John Doe
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Email </span>john.doe@test.com
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Phone number </span>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Action</span>
                    <a class="nhsuk-link nhsuk-link--no-visited-state" href="#">Edit</a><span> | </span>
                    <a class="nhsuk-link nhsuk-link--no-visited-state" href="#">Remove</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div id="message-container">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <table id="no-secondary-header" role="table" style="display:none;"
                   class="nhsuk-table-responsive nhsuk-u-margin-bottom-4">
              <caption class="nhsuk-table__caption">Secondary contacts</caption>
            </table>
            <p id="not-submitted-message">You have not added a primary user contact.</p>
          </div>

          <div>
            <a id="primary-contact-button" class="nhsuk-button nhsuk-u-margin-top-6" href="add-user/add-contact-existing-user">Add primary contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/companyAddContactInfo.js" onload="displayAddContactMessage(); displayContacts();"></script>

{% endblock %}