{% extends "specials-logo-base.html" %}
{% block title %}
Submit a new product: effective date | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
  <a class="nhsuk-back-link__link" href="add-gtin">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    <span id="back-link-text">Go back to what is the GTIN of the pack</span></a>
</div>

<div class="nhsuk-form-group">
  <div class="nhsuk-form-group">

    <fieldset class="nhsuk-fieldset ">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
        <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-5"><span class="nhsuk-caption-l">
                Submit a special product change
              <span class="nhsuk-u-visually-hidden  "> - </span>
            </span>
          Do you want to add an Actual Medicinal Product Pack ID (AMPPID)?
        </h1>
      </legend>

      <div class="nhsuk-radios">

        <div class="nhsuk-radios__item nhsuk-u-margin-bottom-5">
          <input class="nhsuk-radios__input" id="yesRadio" name="agree" type="radio" value="yes">
          <label class="nhsuk-label nhsuk-radios__label" for="yesRadio">
            Yes, I want to add an AMPPID
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="noRadio" name="agree" type="radio" value="no">
          <label class="nhsuk-label nhsuk-radios__label" for="noRadio">
            No, I do not want to add an AMPPID
          </label>
        </div>

      </div>
    </fieldset>

  </div>

</div>

<a class="nhsuk-button nhsuk-u-margin-top-5" onclick="amppidRequired()"
   id="continue-button" type="submit">
  Save and continue
</a>

<script>
  localStorage.setItem("add-container-summary", "yes");

  console.log(localStorage);
  function amppidRequired() {
    var yesRadio = document.getElementById("yesRadio");
    var noRadio = document.getElementById("noRadio");

    if (yesRadio.checked) {
      localStorage.setItem("special-product-amppid-required", "yes");
      document.getElementById("continue-button").href = "add-amppid.html";
    } else if (noRadio.checked) {
      localStorage.setItem("special-product-amppid-required", "no");
      document.getElementById("continue-button").href = "add-container-summary.html";
    }
  }
</script>

{% endblock %}