{% extends "base.html" %}
{% block title %}
Submit a new product: product confirmation | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-card" style="color: #ffffff; background-color: #005eb8;">
  <div class="nhsuk-card__content">
    <h1 class="nhsuk-card__heading nhsuk-u-margin-bottom-7" style="text-align: center">
      We have received your request for review
    </h1>
    <p class="nhsuk-body-l"style="text-align: center">Reference 123456</p>
  </div>
</div>

<h2>Next Steps</h2>
<p>You will receive a response via email once we have reviewed your request.
  The Meds team may be in contact with you through email to verify any additional information they may require.</p>

<p><a href="landing.html">
  Return to landing page
</a></p>



{% endblock %}