{% extends "base.html" %}
{% block title %}
Does the contact have a phone number? | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="add-contact-email">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to contact's email</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        Does the contact have a phone number?
      </h1>
    </legend>
    <div class="nhsuk-radios nhsuk-radios--conditional">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="yes" name="contact" type="radio" aria-controls="phone-input" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="yes">
          Yes, I want to add a UK phone number
        </label>
      </div>
      <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="phone-input">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="phone">
            UK phone number
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="phone" type="text">
        </div>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="international" name="contact" type="radio" aria-controls="international-phone-input" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="international">
          Yes, I want to add an international phone number
        </label>
      </div>
      <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="international-phone-input">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="international-phone">
            International phone number
          </label>
          <div class="nhsuk-hint" id="hint-text">
            <span>Enter + and then your country code before your phone number.</span>
            <p><span>For example, </span><strong>+353</strong><span>7777888555</span></p>
          </div>
          <input class="nhsuk-input nhsuk-input--width-20" id="international-phone" type="text">
        </div>
      </div>
      <div class="nhsuk-radios__divider">or</div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="no" name="contact" type="radio" value="text">
        <label class="nhsuk-label nhsuk-radios__label" for="no">
          No
        </label>
      </div>
    </div>
  </fieldset>

  <a class="nhsuk-button nhsuk-u-margin-top-5" href="add-contact-summary.html" id="continue-button"
     type="submit">
  Continue
  </a>
</div>
{% endblock %}