{% extends "base.html" %}
{% block title %}
Design prototype medicines management | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-form-group">
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <span class="nhsuk-caption-l">Login</span>
            <h1 class="nhsuk-fieldset__heading">
              Would you like to set up two-factor authentication?
            </h1>
          </legend>

          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                No
              </label>
            </div>

          </div>
        </fieldset>

      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-do-dont-list">
      <h3 class="nhsuk-do-dont-list__label">Why set up two-factor authentication?</h3>
      <ul class="nhsuk-list nhsuk-list--tick">
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
          </svg>
          Makes your account more secure.
        </li>
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
          </svg>
          Only you have access to your authenticator code.
        </li>
        <li>
          <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
            <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
          </svg>
          Because its cool and stuff
        </li>
      </ul>
    </div>
  </div>
</div>
<a class="nhsuk-button" href="configure-two-factor-auth.html" id="submit" type="submit">
  Continue
</a>

{% endblock %}

