<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: pack size and strength | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-width-container">
    <div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
        <a class="nhsuk-back-link__link" id="back-link" href="../submission-view-price-change-2.html#tab-action">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                 aria-hidden="true" height="24" width="24">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Go back to submission view</a>
    </div>
    <h1 class="app-page-heading">
        <span class="nhsuk-caption-l">
            AstraZeneca
          <span class="nhsuk-u-visually-hidden"> - </span>
        </span>
        Action price change submission
    </h1>
</div>

<h2>Submission detail</h2>

        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key update-width">
                    Reference number
                </dt>
                <dd class="nhsuk-summary-list__value">
                    123456789
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Submitted by
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Jane Smith
                </dd>

            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Email contact
                </dt>
                <dd class="nhsuk-summary-list__value">
                    <a href="mailto:jane.smith@example.com">
                        jane.smith@example.com
                    </a>
                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Date received
                </dt>
                <dd class="nhsuk-summary-list__value">
                    01 May 2022
                </dd>

            </div>
        </dl>

<h2>Review price change</h2>

<dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-4">
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key update-width">
            Effective date
        </dt>
        <dd class="nhsuk-summary-list__value">
            01 June 2022
        </dd>

    </div>
</dl>

<div class="nhsuk-grid-row nhsuk-card-group">

    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <strong class="nhsuk-tag nhsuk-tag--green">
                    Confirmed
                </strong>
                <h3 class="nhsuk-card__heading nhsuk-u-margin-top-3">
                    Zero price summary

                </h3>
                <p><a class="nhsuk-link--no-visited-state nhsuk-u-margin-top-3" href="action-submission--check-zero-prices">View zero price changes</a></p>
            </div>
        </div>
    </div>
</div>

<p class="nhsuk-u-margin-bottom-6">To finalise this price change submission you must select the &#39;Complete&#39; button.</p>
<!--<div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>In order to complete this price change submission, you must confirm all price changes.</a></p>
</div>-->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <a class="nhsuk-button">Complete</a>
    </div>
</div>
<!--if all packs are complete then show this button, otherwise do not show it MPL 17FEB23-->


{% endblock %}
