{% extends "base.html" %}
{% block title %}
Submit a new product | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="action-submission--homepage">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to action price change</a>
</div>
  <h1>Zero price change summary</h1>
  <h2>Set reimbursement month</h2>
  <p>In order to confirm zero price changes, you must first set the reimbursement month for generic and proprietary
    products. Note the effective date is 01 June 2023.</p>
  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="reimbursement-month">
      Select the reimbursement month for generic products
    </label>
    <select class="nhsuk-select" id="reimbursement-month" name="reimbursement-month">
      <option value="Select a month" selected="selected">Select a month</option>
      <option value="JUN23">June 2023</option>
      <option value="JUL23">July 2023</option>
      <option value="AUG23">August 2023</option>
      <option value="SEP23">September 2023</option>
      <option value="OCT23">October 2023</option>
    </select>
  </div>
  <div class="nhsuk-form-group nhsuk-u-margin-bottom-8">
    <label class="nhsuk-label" for="proprietary-month">
      Select the reimbursement month for proprietary products
    </label>
    <select class="nhsuk-select" id="proprietary-month" name="reimbursement-month">
      <option value="Select a month" selected="selected">Select a month</option>
      <option value="JUN23">June 2023</option>
      <option value="JUL23">July 2023</option>
      <option value="AUG23">August 2023</option>
      <option value="SEP23">September 2023</option>
      <option value="OCT23">October 2023</option>
    </select>
  </div>

  <h2>Selected packs</h2>
  <p>Before confirming zero price changes, you must review all selected packs.</p>
  <div class="nhsuk-body-m flex--space-between nhsuk-u-margin-top-5" style="display: flex">
    <div class="nhsuk-u-visually-hidden">Currently viewing</div>
    <div id="pageAndResultCount">Page 1 of 1 (4 results)</div>
  </div>

  <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-3">
    <caption class="nhsuk-table__caption">Packs with price set at zero</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Product name
      </th>
      <th role="columnheader" class="" scope="col">
        Pack
      </th>
      <th role="columnheader" class="" scope="col">
        Subpack
      </th>
      <th role="columnheader" class="" scope="col">
        Reason for zero
      </th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
        <span class="nhsuk-table-responsive__heading">Product name </span>Aciclovir 200mg dispersible tablets
      </td>
      <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
        <span class="nhsuk-table-responsive__heading">Pack </span>25
      </td>
      <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
        <span class="nhsuk-table-responsive__heading">Subpack</span>10 × 2.5 tablets
      </td>
      <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
        <span class="nhsuk-table-responsive__heading">Reason for zero </span><span>Price match Part VIII in Drug Tariff</span>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
        <span class="nhsuk-table-responsive__heading">Product name </span>Bromocriptine 2.5mg tablets
      </td>
      <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
        <span class="nhsuk-table-responsive__heading">Pack </span>100
      </td>
      <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
        <span class="nhsuk-table-responsive__heading">Subpack </span>
        <!--          need to make sure empty table cells announce something MPL 20/10/22-->
        <span class="nhsuk-u-visually-hidden">No Subpack information</span>
      </td>
      <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
        <span class="nhsuk-table-responsive__heading">Reason for zero </span><span>Price no longer agreed</span>
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
        <span class="nhsuk-table-responsive__heading">Product name </span>Diazepam 2mg tablets
      </td>
      <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
        <span class="nhsuk-table-responsive__heading">Pack </span>1000
      </td>
      <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
        <span class="nhsuk-table-responsive__heading">Subpack </span>
        <!--          need to make sure empty table cells announce something MPL 20/10/22-->
        <span class="nhsuk-u-visually-hidden">No Subpack information</span>
      </td>
      <td role="cell" class="nhsuk-table__cell" style="vertical-align:middle">
        <span class="nhsuk-table-responsive__heading">Reason for zero </span><span>Example of a unique reason</span>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
    <div class="nhsuk-grid-column-full">
      <nav class="govuk-pagination" role="navigation" aria-label="results">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous</span></a>
        </div>
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
              1
            </a>
          </li>
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
        </div>
      </nav>
    </div>
  </div>

  <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>If you are not ready to confirm this zero price change summary then you must <a href="action-submission--homepage.html" class="nhsuk-link nhsuk-link--no-visited-state">mark as not confirmed and return to action price change</a>.</p>
  </div>
  <a href="action-submission--homepage--check-zero-prices-complete.html" class="nhsuk-button govuk-!-margin-right-4">Confirm</a>





{% endblock %}