{% extends "base.html" %}
{% block title %}
Portal dashboard | Medicines Management design prototype | NHSBSA
{% endblock %}
{% block content %}
<div class="grid-row">

  <div class="column-two-thirds">


        <h1>
          View product Summary
        </h1>
<h2>Product summary</h2>

      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

          <div class="nhsuk-summary-list__row ">
              <dt class="nhsuk-summary-list__key">
                  Product name
              </dt>
              <dd class="nhsuk-summary-list__value">
                  Trometamol (THAM,TRIS)3.6% injection
              </dd>
          </div>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                  Alternative name
              </dt>
              <dd class="nhsuk-summary-list__value">
                  Tris, Trometamol
              </dd>

              <dd class="nhsuk-summary-list__actions">
          </div>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                  Category
              </dt>
              <dd class="nhsuk-summary-list__value">
                  Sterile
              </dd>
          </div>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                  Form
              </dt>
              <dd class="nhsuk-summary-list__value">
                  Injection concentrate
              </dd>
          </div>
          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                 BNF listed
              </dt>
              <dd class="nhsuk-summary-list__value"> <strong class="nhsuk-tag nhsuk-tag--red">No</strong>

              </dd>
          </div>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                  BP monograph exists
              </dt>
              <dd class="nhsuk-summary-list__value">
                  <strong class="nhsuk-tag nhsuk-tag--red">No</strong>
              </dd>
          </div>

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                  Accredited
              </dt>
              <dd class="nhsuk-summary-list__value">
                  <strong class="nhsuk-tag nhsuk-tag--red">No</strong>
              </dd>
          </div>

<!--          <div class="nhsuk-summary-list__row">-->
<!--              <dt class="nhsuk-summary-list__key">-->
<!--                 Which accreditation-->
<!--              </dt>-->
<!--              <dd class="nhsuk-summary-list__value">-->

<!--              </dd>-->
<!--          </div>-->

      </dl>

      <hr aria-hidden="true">

<h2>Ingredients</h2>
      <p>There are currently no ingredients listed </p>

      <hr aria-hidden="true">

      <h2>Route/routes</h2>
      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                 Route
              </dt>
              <dd class="nhsuk-summary-list__value">
                  Intra-venous
              </dd>
          </div>
      </dl>

<hr aria-hidden="true">

      <h2>Summary information</h2>
      <table class="nhsuk-table">
          <caption class="nhsuk-table__caption"></caption>
          <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
              <th role="columnheader" class="" scope="col">
                  NHS Manufacturer name
              </th>
              <th role="columnheader" class="" scope="col">
                  Availablitiy
              </th>
              <th role="columnheader" class="" scope="col">
                  Shelf life  days
              </th>
              <th role="columnheader" class="" scope="col">
                 Shelf life Validation
              </th>
              <th role="columnheader" class="" scope="col">
                  Action
              </th>
          </tr>
          </thead>
          <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Northwick park hospital pharmacy technical services</td>
              <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--red">No</strong></td>
              <td class="nhsuk-table__cell ">730</td>
              <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--green">Yes</strong></td>
              <td class="nhsuk-table__cell " ><a href="view-product-summary-details.html">View</ahref></td>
          </tr>

          </tbody>
      </table>


  </div>
</div>

{% endblock %}