{% extends "base.html" %}
{% block title %}
Submit a new special product - What organisation is the user part of? |  Specials Profile Replacement | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-8">

    <a class="nhsuk-back-link__link" href="add-user-last-name.html ">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to what is the last name of the user</a>
</div>

<div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
        <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
            <h1 class="nhsuk-fieldset__heading">
                <span class="nhsuk-caption-l">
    Add new user account
  <span class="nhsuk-u-visually-hidden"> - </span>
</span>
                What organisation is the user part of?
            </h1>
        </legend>
        <div class="nhsuk-hint nhsuk-u-margin-bottom-5" id="data-sheet-hint">
            Select one option.
        </div>

        <div class="nhsuk-radios" id="data-spc-radios">

            <div class="nhsuk-radios__item nhsuk-u-margin-bottom-4">
                <input class="nhsuk-radios__input" id="org-nhsbsa" name="data-org" type="radio"
                       value="NHSBSA" />
                <label class="nhsuk-label nhsuk-radios__label" for="org-nhsbsa">
                    NHSBSA
                </label>
            </div>

            <div class="nhsuk-radios__item nhsuk-u-margin-bottom-4">
                <input class="nhsuk-radios__input" id="org-nhse" name="data-org" type="radio"
                       value="NHSE"/>
                <label class="nhsuk-label nhsuk-radios__label" for="org-nhse">
                    NHSE
                </label>
            </div>

            <div class="nhsuk-radios__item nhsuk-u-margin-bottom-4">
                <input class="nhsuk-radios__input" id="org-dhsc" name="data-org" type="radio"
                       value="DHSC" />
                <label class="nhsuk-label nhsuk-radios__label" for="org-dhsc">
                    DHSC
                </label>
            </div>

        </div>
    </fieldset>
</div>

<a href="add-user-email.html" class="nhsuk-button nhsuk-u-margin-top-3"
   value="Continue"
>Save and continue
</a>

</div>

{% endblock %}