{% extends "base.html" %}
{% block title %}
Submit a new special product - All drafts |  Specials Profile Replacement | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
    <a class="nhsuk-back-link__link" href="../dashboard.html">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to specials dashboard</a>
</div>

<div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
          <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-5">
            All Drafts
          </h1>
        </legend>

<p class="nhsuk-u-margin-bottom-5">The table shows requests that have not been submitted, but saved as draft. You can edit drafts and submit by selecting the relevant reference</p>


<div class="nhsuk-body-m flex--space-between" style="display: flex">
    <div class="nhsuk-u-visually-hidden">Currently viewing</div>
    <div id="pageAndResultCount">Page 1 of 1 (5 results)</div>
</div>

<table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-8">
    <caption class="nhsuk-table__caption">Product requests saved as draft</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
        <th role="columnheader" class="" scope="col">
            Date saved
        </th>
        <th role="columnheader" class="" scope="col">
            Request
        </th>
        <th role="columnheader" class="" scope="col">
            Product name
        </th>
        
        <th role="columnheader" class="" scope="col">
            Reference
        </th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date saved </span>01 Dec 2023
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Request </span>New product
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Product name </span>Lidocaine hydrochloride 10% Nebuliser Solution
        </td>
        
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reference</span>
            <a href="product-summary" class="nhsuk-link nhsuk-link--no-visited-state">202312015S</a>
        </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date saved </span>02 Dec 2023
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Request </span>Product change
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Product name </span>Anaphylaxis Kit (Guy's and St Thomas' PMU)
        </td>
        
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reference</span>
            <a href="product-change-summary" class="nhsuk-link nhsuk-link--no-visited-state">202312021S</a>
        </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date saved </span>03 Dec 2023
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Request </span>Product change
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Product name </span>Morphine Sulfate 2.5mg in 50ml Glucose 10% w/v Injection
        </td>
        
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reference</span>
            202312034S
        </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date saved </span>10 Dec 2023
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Request </span>New product
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Product name </span>Brilliant Green and Crystal Violet Paint
        </td>
        
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reference</span>
           202312101S
        </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date saved </span>11 Dec 2023
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Request </span>New product
        </td>
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Product name </span>Trometamol (THAM, TRIS) 3.6% Injection
        </td>
        
        <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Reference</span>
            202312111S
        </td>
    </tr>
    </tbody>
</table>


{% endblock %}