{% extends "base.html" %}
{% block title %}
Deleted user | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        Deleted user
      </h1>
    </legend>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          First name
        </dt>
        <dd class="nhsuk-summary-list__value">
          J***
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Last name
        </dt>
        <dd class="nhsuk-summary-list__value">
          S****
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Email
        </dt>
        <dd class="nhsuk-summary-list__value">
          j********@n**.n**
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Role
        </dt>
        <dd class="nhsuk-summary-list__value">
          Administrator
        </dd>
      </div>
    </dl>
    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>Return to <a class="nhsuk-link nhsuk-link--no-visited-state" href="../company/amgen">company information</a>.</p>
    </div>
  </fieldset>
</div>
{% endblock %}
