{% extends "base.html" %}
{% block title %}
Deleted user | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        Deleted user
      </h1>
    </legend>
   <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          First name
        </dt>
        <dd class="nhsuk-summary-list__value">
          J&#x2022;&#x2022;&#x2022;
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Last name
        </dt>
        <dd class="nhsuk-summary-list__value">
          S&#x2022;&#x2022;&#x2022;&#x2022;
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Email
        </dt>
        <dd class="nhsuk-summary-list__value">
          j&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;@n&#x2022;&#x2022;.n&#x2022;&#x2022;
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Role
        </dt>
        <dd class="nhsuk-summary-list__value">
          Administrator
        </dd>
      </div>
    </dl>
      <p>Return to <a class="nhsuk-link nhsuk-link--no-visited-state" href="../company/amgen">company information</a>.</p>
    </div>
   </div>
  </fieldset>
</div>
{% endblock %}
