<!DOCTYPE html>{% extends "base.html" %} {% block title %} Submit a new product: pack size and strength | Portal | NHSBSA {% endblock %} {% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4"><a class="nhsuk-back-link__link" id="back-link" href="submissions">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
         aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to summary of complete submissions</a>
</div>

<h1>Product change submission</h1>

<div class="nhsuk-tabs" data-module="nhsuk-tabs">
    <h2 class="nhsuk-tabs__title">Contents</h2>
    <ul class="nhsuk-tabs__list">
        <li class="nhsuk-tabs__list-item nhsuk-tabs__lt-item--selected" id="heading-tab-submission"><a class="nhsuk-tabs__tab" href="#tab-submission">Submission</a></li>
        <li class="nhsuk-tabs__list-item" id="heading-tab-messages"><a class="nhsuk-tabs__tab" href="#tab-messages">Message board</a></li>
        <li class="nhsuk-tabs__list-item" id="heading-tab-summary"><a class="nhsuk-tabs__tab" href="#tab-summary">Summary</a></li>
        <li class="nhsuk-tabs__list-item" id="heading-tab-uploads"><a class="nhsuk-tabs__tab" href="#tab-uploads">Uploads</a></li>

    </ul>

    <div class="nhsuk-tabs__panel" id="tab-submission">
        <div class="tabs-panel-inner">
            <h2>Submission</h2>
                        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key update-width"> Submission Type</dt>
                                <dd class="nhsuk-summary-list__value">Product change</dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key"> Product name</dt>
                                <dd class="nhsuk-summary-list__value">Bupenorphine 100mg capsules</dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key"> Reference</dt>
                                <dd class="nhsuk-summary-list__value">79855888</dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">Date received</dt>
                                <dd class="nhsuk-summary-list__value">3 June 2022</dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key"> Effective date</dt>
                                <dd class="nhsuk-summary-list__value">29 August 2022</dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key"> Supplier</dt>
                                <dd class="nhsuk-summary-list__value"> AstraZeneca</dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key"> Submitted by</dt>
                                <dd class="nhsuk-summary-list__value"> Jane Jones</dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key"> Email contact</dt>
                                <dd class="nhsuk-summary-list__value"><p>jane.jones@example.com</p></dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key"> Submission status</dt>
                                <dd class="nhsuk-summary-list__value"><strong class="nhsuk-tag nhsuk-tag--purple">
                                    Cancelled
                                </strong></dd>
                            </div>
                        </dl>
                    </div>
                </div>

        <div class="nhsuk-tabs__panel" id="tab-messages">
            <div class="tabs-panel-inner">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full"><h2>Message board</h2>
                        <p class="nhsuk-u-margin-bottom-5">Use the message board to communicate with the supplier. To amend a message, or follow up with
                            the supplier on the same query, add a comment through the 'Further comments' section within
                            the message. Otherwise, create a new message by using the 'Create a new message category'
                            link.</p>
                        <details class="nhsuk-details nhsuk-expander">
                            <summary class="nhsuk-details__summary"><span class="nhsuk-details__summary-text"> 20 September 2022 at 15:03 | Status update </span>
                            </summary>
                            <div class="nhsuk-details__text"><p>The status has been changed to 'actioned'. At this stage
                                we do not require any further action on your behalf.</p>
                                <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
                                <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-3"
                                    style="color: #4c6272; font-weight: 400;">Further comments</h3>
                                <p style="color: #4c6272; font-weight: 400;"
                                   class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-2">Here is an example of a comment
                                    and how it will be presented to the user (comment left on 22 September at 2022
                                    15:19).</p>
                                <p style="color: #4c6272; font-weight: 400;"
                                   class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-3">Here is another example of a
                                    comment and how it will be presented to the user if more than one comment is left
                                    (comment left on 21 September 2022 at 11:10).</p> <a href="update-add-comment"
                                                                                         class="nhsuk-u-font-size-16 nhsuk-link nhsuk-link--no-visited-state">Add
                                    a comment</a></div>
                        </details>
                        <details class="nhsuk-details nhsuk-expander">
                            <summary class="nhsuk-details__summary"><span class="nhsuk-details__summary-text"> 03 September 2022 at 10:01 | More information required </span>
                            </summary>
                            <div class="nhsuk-details__text"><p>Thank you for clarifying the reason for no price and
                                confirming the number of subpacks. We also require more images of artwork. </p>
                                <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
                                <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-3"
                                    style="color: #4c6272; font-weight: 400;">Further comments</h3>
                                <p style="color: #4c6272; font-weight: 400;"
                                   class="nhsuk-u-font-size-16 nhsuk-u-margin-bottom-3">No comments at present.</p> <a
                                        href="update-add-comment"
                                        class="nhsuk-u-font-size-16 nhsuk-link nhsuk-link--no-visited-state">Add a
                                    comment</a></div>
                        </details>
                        <!-- <p><a href="update-submission-notes-detail">Create a new message category</a></p>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="nhsuk-tabs__panel" id="tab-summary">
            <div class="tabs-panel-inner">
                <h2>Summary</h2>

                <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key update-width">
                            Effective date
                        </dt>
                        <dd class="nhsuk-summary-list__value" id="pack-effective-date">01 April 2024</dd>

                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Product name
                        </dt>
                        <dd class="nhsuk-summary-list__value" id="product-name">Bupenorphine 100mg capsules</dd>

                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Product change
                        </dt>
                        <dd class="nhsuk-summary-list__value" id="product-change-reason">Change to the marketing authorisation (MA) number</dd>

                    </div>
                </dl>

                <h3 id="heading-pack-1">MA number update</h3>

                <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

                    <div class="nhsuk-summary-list__row" id="first-section">
                        <dt class="nhsuk-summary-list__key update-width" id="new-details-title">MA numbers</dt>
                        <dd class="nhsuk-summary-list__value" id="new-details">EU/1/07/391/010<br>PLGB 15105/0119</dd>

                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key" id="reason-for-change">
                            Reason for change
                        </dt>
                        <dd class="nhsuk-summary-list__value" id="display-reason">New marketing authorisation number is required for drug</dd>

                    </div>

                </dl>
                    </div>
                </div>

        <div class="nhsuk-tabs__panel" id="tab-uploads">
            <div class="tabs-panel-inner">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full"><h2 class="nhsuk-u-margin-bottom-6">Uploads</h2>
                        <table role="table" class="nhsuk-table-responsive" id="hide-table">
                            <caption class="nhsuk-table__caption">SmPC or Data Sheet file uploads</caption>
                            <thead role="rowgroup" class="nhsuk-table__head">
                            <tr role="row">
                                <th role="columnheader" class="" scope="col"> File name</th>
                                <th role="columnheader" class="file-size-width" scope="col"> File size</th>
                            </tr>
                            </thead>
                            <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row" id="hide-first-file">

                                <td role="cell" class="nhsuk-table__cell" id="file-upload-name">
                                    <span class="nhsuk-table-responsive__heading">File name</span>
                                    <a href="#">test-SmPC.doc</a>
                                    </td>
                                <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">File size </span>8.25
                                    MB
                                </td>
                            </tr>
                            <tr role="row" class="nhsuk-table__row" id="hide-second-file">
                                <td role="cell" class="nhsuk-table__cell" id="file-upload-name-2">
                                    <span class="nhsuk-table-responsive__heading">File name</span>
                                    <a href="#">test-SmPC-other.doc</a>
                                  </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">File size </span>3.77
                                    MB
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-top-6" id="hide-table-two">
                            <caption class="nhsuk-table__caption">Artwork file uploads</caption>
                            <thead role="rowgroup" class="nhsuk-table__head">
                            <tr role="row">
                                <th role="columnheader" class="" scope="col"> File name</th>
                                <th role="columnheader" class="file-size-width" scope="col"> File size</th>
                            </tr>
                            </thead>
                            <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row" id="hide-first-file-two">
                                <td role="cell" class="nhsuk-table__cell" id="file-image-upload-name">
                                    <span class="nhsuk-table-responsive__heading">File name</span>
                                    <a href="#">test-image.png</a>
                                    </td>
                                <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">File size </span>8.25
                                    MB
                                </td>
                            </tr>
                            <tr role="row" class="nhsuk-table__row" id="hide-second-file-two">
                                <td role="cell" class="nhsuk-table__cell" id="file-image-upload-name-2">
                                    <span class="nhsuk-table-responsive__heading">File name</span>
                                    <a href="#">test-image-other.jpg</a>
                                    </td>
                                <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">File size </span>3.77
                                    MB
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

<script>
    window.onload = function() {
    var hasAllResults = localStorage.getItem("all-results");
    if (hasAllResults == 'yes') {
    document.getElementById("back-link").setAttribute('href', "../all-submissions/search-results");
    document.getElementById("back-link").innerHTML = "<svg class='nhsuk-icon nhsuk-icon__chevron-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' height='24' width='24'><path d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'></path></svg>Go back to search all submissions";
    }
};
</script>

{% endblock %}