{% extends "base.html" %}
{% block title %}
Portal dashboard | Medicines Management design prototype | NHSBSA
{% endblock %}
{% block content %}
<div class="grid-row">

  <div class="column-two-thirds">

    <div class="nhsuk-card" style="color: #ffffff; background-color: #005eb8; text-align: center">
      <div class="nhsuk-card__content">
        <h1 class="nhsuk-card__heading">
          Meds dashboard
        </h1>
      </div>
    </div>

    <h2>Submissions</h2>
    <p>From here, you can view existing submissions which are new or require action. You can also
      view any submission which was completed in the last 30 days.</p>

    <ul class="nhsuk-grid-row nhsuk-card-group">

      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-32">19</span>
                  <br>
                  <a class="nhsuk-card__link nhsuk-u-font-size-19 nhsuk-link--no-visited-state"
                     href="new-submissions/submissions">new or ongoing submissions</a>
                </span>
            </h2>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-32">14</span>
                  <br>
                    <a class="nhsuk-card__link nhsuk-u-font-size-19 nhsuk-link--no-visited-state"
                       href="complete-submissions/submissions">complete submissions in last 30 days</a>
                </span>
            </h2>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-32">All</span>
                  <br>
                  <span class="nhsuk-u-font-size-19">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                       href="all-submissions/search">select from a date range to view all submissions</a>
                  </span>
                </span>
            </h2>
          </div>
        </div>
      </li>
    </ul>

    <h2>Other areas</h2>

    <ul class="nhsuk-grid-row nhsuk-card-group">

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="company-directory/directory.html">Manage
                companies</a>
            </h2>
            <p class="nhsuk-card__description">Manage companies and their users.</p>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Manage meds
                users</a>
            </h2>
            <p class="nhsuk-card__description">Manage all meds users.</p>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                 href="company-request/new-company-requests.html">New company requests</a>
            </h2>
            <p class="nhsuk-card__description">View all company requests.</p>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                 href="company-directory/directory">Company directory</a>
            </h2>
            <p class="nhsuk-card__description">View all companies registered to the medicines
              management portal.</p>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>

{% endblock %}