{% extends "base.html" %}
{% block title %}
Submit a new special product - Summary |  Specials Profile Replacement | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-8">

    <a class="nhsuk-back-link__link" href="need-user-notes.html ">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to do you need to add notes for this PMU</a>
</div>

<span class="nhsuk-caption-l">Add a new PMU
</span>
<h1 class="nhsuk-u-margin-bottom-9"> Summary</h1>

<div class="nhsuk-inset-text nhsuk-u-margin-top-0">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>If the PMU is no longer needed you can <a href="../dashboard.html" class="nhsuk-link nhsuk-link--no-visited-state">exit without saving</a></p>

</div>

<dl class="nhsuk-summary-list nhsuk-u-margin-bottom-9">

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Host organisation
        </dt>
        <dd class="nhsuk-summary-list__value">
            Barts Health NHS Trust
        </dd>

        <dd class="nhsuk-summary-list__actions">

            <a href="edit-host-organisation">
                Edit<span class="nhsuk-u-visually-hidden"> host organisation</span>
            </a>

        </dd>

    </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Unit
        </dt>
        <dd class="nhsuk-summary-list__value">
            Barts and the London NHS trust-Specials manufacturing unit
        </dd>

        <dd class="nhsuk-summary-list__actions">

            <a href="edit-unit-details">
                Edit<span class="nhsuk-u-visually-hidden">Unit</span>
            </a>

        </dd>
    </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Manufacturers 'specials' (MS) licence
        </dt>

        <dd class="nhsuk-summary-list__value"> <strong class="nhsuk-tag nhsuk-tag--green">Yes</strong>

        </dd>
        <dd class="nhsuk-summary-list__actions">

            <a href="edit-status-MS.html">
                Edit<span class="nhsuk-u-visually-hidden">if there is a Manufacturers 'specials' (MS) licence</span>
            </a>

        </dd>
    </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Manufacturers investigational medicinal products (MIAIMP)
        </dt>

        <dd class="nhsuk-summary-list__value"> <strong class="nhsuk-tag nhsuk-tag--green">Yes</strong>

        </dd>
        <dd class="nhsuk-summary-list__actions">

            <a href="edit-status-MIAIMP.html">
                Edit<span class="nhsuk-u-visually-hidden">Home page</span>
            </a>

        </dd>
    </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Full wholesale dealer licence (WL)
        </dt>

        <dd class="nhsuk-summary-list__value"> <strong class="nhsuk-tag nhsuk-tag--red">No</strong>

        </dd>
        <dd class="nhsuk-summary-list__actions">

            <a href="edit-status-WL.html">
                Edit<span class="nhsuk-u-visually-hidden">Home page</span>
            </a>

        </dd>
    </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Manufacturer's/importer's licence (MIA)
        </dt>

        <dd class="nhsuk-summary-list__value"> <strong class="nhsuk-tag nhsuk-tag--red">No</strong>

        </dd>
        <dd class="nhsuk-summary-list__actions">

            <a href="edit-status-MIA.html">
                Edit<span class="nhsuk-u-visually-hidden">Home page</span>
            </a>

        </dd>
    </div>
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Website homepage
        </dt>

        <dd class="nhsuk-summary-list__value">
            <a href="#">www.trust-homepage.nhs.uk</a>

        </dd>
        <dd class="nhsuk-summary-list__actions">

            <a href="#">
                Edit<span class="nhsuk-u-visually-hidden">Home page</span>
            </a>

        </dd>
    </div>
</dl>


<h2>Contact information </h2>

<table class="nhsuk-table nhsuk-table-responsive nhsuk-u-margin-bottom-9">

    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">
        Contact information
    </caption>
    <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
        <th role="columnheader" class="" scope="col">
            Department
        </th>
        <th role="columnheader" class="" scope="col">
            Email
        </th>
        <th role="columnheader" class="" scope="col">
            Telephone
        </th>

        <th role="columnheader" class="" scope="col">
            Action
        </th>
    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Department</span>
            Ordering department</td>
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Email</span>
            Barts.pharmaceuticals@bartshealth.nhs.uk</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Telephone</span>
            02032460390</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action</span>
            <a class="nhsuk-link nhsuk-link--no-visited-state" href="edit-ordering-info.html">
            Edit
            <span class="nhsuk-u-visually-hidden"> user</span></a>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Department</span>
            Technical queries</td>
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Email</span>
            surinder.venkanahs@bartshealth.nhs.uk</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Telephone</span>
            02032460393</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action</span>
            <a class="nhsuk-link nhsuk-link--no-visited-state" href="edit-tech-queries-info.html">
            Edit
            <span class="nhsuk-u-visually-hidden"> user</span></a>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Department</span>
            Quality assurance queries</td>
        <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Email</span>
            John.nesnas@bartshealth.nhs.uk</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Telephone</span>
            02032460270</td>
        <td class="nhsuk-table__cell ">
            <span class="nhsuk-table-responsive__heading">Action</span>
            <a class="nhsuk-link nhsuk-link--no-visited-state" href="edit-tech-queries-info.html">
            Edit
            <span class="nhsuk-u-visually-hidden"> user</span></a>
    </tr>
    </tbody>
</table>

<!--   a BSA support user only adds a PMU admin, then the PMU admin can add further users once logged in on their side -->
<h2>Admin user</h2>

<dl class="nhsuk-summary-list nhsuk-u-margin-bottom-9">

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            First name
        </dt>
        <dd class="nhsuk-summary-list__value">
            Joe
        </dd>

        <dd class="nhsuk-summary-list__actions">

            <a href="edit/add-user-first-name">
                Edit <span class="nhsuk-u-visually-hidden"> first name</span>
            </a>

        </dd>

    </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Last name
        </dt>
        <dd class="nhsuk-summary-list__value">
            Bloggs
        </dd>

        <dd class="nhsuk-summary-list__actions">

            <a href="edit/add-user-last-name">
                Edit <span class="nhsuk-u-visually-hidden"> last name</span>
            </a>

        </dd>

    </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Email address
        </dt>
        <dd class="nhsuk-summary-list__value">
            joe.bloggs@nhs.net
        </dd>

        <dd class="nhsuk-summary-list__actions">

            <a href="edit/add-user-email">
                Edit <span class="nhsuk-u-visually-hidden"> email</span>
            </a>

        </dd>
    </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Telephone number
        </dt>
        <dd class="nhsuk-summary-list__value">
            <p>07700 900362</p>
        </dd>

        <dd class="nhsuk-summary-list__actions">

            <a href="edit/add-user-telephone">
                Edit <span class="nhsuk-u-visually-hidden"> phone number</span>
            </a>

        </dd>

    </div>

</dl>

<h2>Notes</h2>

    <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="add-notes">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Add notes</span>
        </a>
      
    </div>
      <a class="nhsuk-button nhsuk-u-margin-top-4" data-module="nhsuk-button" type="submit"
               href="../nhs-manufacturers-directory.html">
                Save to PMU directory
            </a>
       

{% endblock %}