{% extends "base.html" %}
{% block title %}
Submit a new product | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="../dashboard.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to dashboard</a>
</div>

<span class="nhsuk-caption-l">
  AstraZeneca
</span>
<h1>Product list</h1>

    <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-4">
      <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Product name
        </th>
        <th role="columnheader" class="" scope="col">
          Pack
        </th>
        <th role="columnheader" class="" scope="col">
        Subpack
        </th>
        <th role="columnheader" class="" scope="col">
        AMP / SNOMED code
        </th>
        <th role="columnheader" class="" scope="col">
          GTIN
        </th>
        <th role="columnheader" class="" scope="col">
          Price
        </th>
        <th role="columnheader" class="" scope="col">
          Status
        </th>
      </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Product name </span>Alprazolam
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Pack </span>30
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Subpack </span>2 &times; 15
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">AMP / SNOMED code </span>01234567
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">GTIN </span>12345
        </td>
        <td>
          <span class="nhsuk-table-responsive__heading">Price </span><span><span>299</span>p</span>
        </td>
        <td role="cell" class="nhsuk-table__cell center-table-row">
          <span class="nhsuk-table-responsive__heading select-tag">Status </span>
          <strong class="nhsuk-tag nhsuk-tag--green mobile-tag">
            Active
          </strong>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Product name </span>Cymbalta
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Pack </span>6
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Subpack </span>1 &times; 6
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">AMP / SNOMED code </span>01234567
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">GTIN </span>12345
        </td>
        <td>
          <span class="nhsuk-table-responsive__heading">Price </span><span><span>299</span>p</span>
        </td>
        <td role="cell" class="nhsuk-table__cell center-table-row">
          <span class="nhsuk-table-responsive__heading select-tag">Status </span>
          <strong class="nhsuk-tag nhsuk-tag--red mobile-tag">
            Discontinued
          </strong>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Product name </span>Paracetamol
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Pack </span>8
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Subpack </span>4 &times; 32
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">AMP / SNOMED code </span>01234567
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">GTIN </span>12345
        </td>
        <td>
          <span class="nhsuk-table-responsive__heading">Price </span><span><span>99</span>p</span>
        </td>
        <td role="cell" class="nhsuk-table__cell center-table-row">
          <span class="nhsuk-table-responsive__heading select-tag">Status </span>
          <strong class="nhsuk-tag nhsuk-tag--green mobile-tag">
            Active
          </strong>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Product name </span>Fexofenadine Hydrochloride
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Pack </span>24
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Subpack </span>2 &times; 12
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">AMP / SNOMED code </span>01234567
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">GTIN </span>12345
        </td>
        <td>
          <span class="nhsuk-table-responsive__heading">Price </span><span><span>119</span>p</span>
        </td>
        <td role="cell" class="nhsuk-table__cell center-table-row">
          <span class="nhsuk-table-responsive__heading select-tag">Status </span>
          <strong class="nhsuk-tag nhsuk-tag--green mobile-tag">
            Active
          </strong>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Product name </span>Aripipazole
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Pack </span>50
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Subpack </span>5 &times; 10
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">AMP / SNOMED code </span>01234567
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">GTIN </span>12345
        </td>
        <td>
          <span class="nhsuk-table-responsive__heading">Price </span><span><span>214</span>p</span>
        </td>
        <td role="cell" class="nhsuk-table__cell center-table-row">
          <span class="nhsuk-table-responsive__heading select-tag">Status </span>
          <strong class="nhsuk-tag nhsuk-tag--green mobile-tag">
            Active
          </strong>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Product name </span>Certraline
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Pack </span>60
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Subpack </span>2 &times 30
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">AMP / SNOMED code </span>01234567
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">GTIN </span>12345
        </td>
        <td>
          <span class="nhsuk-table-responsive__heading">Price </span><span><span>68</span>p</span>
        </td>
        <td role="cell" class="nhsuk-table__cell center-table-row">
          <span class="nhsuk-table-responsive__heading select-tag">Status </span>
          <strong class="nhsuk-tag nhsuk-tag--red mobile-tag">
            Discontinued
          </strong>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Product name </span>Acrivastine
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Pack </span>7
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Subpack </span>1 &times 7
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">AMP / SNOMED code </span>01234567
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">GTIN </span>12345
        </td>
        <td>
          <span class="nhsuk-table-responsive__heading">Price </span><span><span>32</span>p</span>
        </td>
        <td role="cell" class="nhsuk-table__cell center-table-row">
          <span class="nhsuk-table-responsive__heading select-tag">Status </span>
          <strong class="nhsuk-tag nhsuk-tag--green mobile-tag">
            Active
          </strong>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Product name </span>Clonedine Hydrochloride
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Pack </span>20
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Subpack </span>2 &times; 10
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">AMP / SNOMED code </span>01234567
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">GTIN </span>12345
        </td>
        <td>
          <span class="nhsuk-table-responsive__heading">Price </span><span><span>99</span>p</span>
        </td>
        <td role="cell" class="nhsuk-table__cell center-table-row">
          <span class="nhsuk-table-responsive__heading select-tag">Status </span>
          <strong class="nhsuk-tag nhsuk-tag--green mobile-tag">
            Active
          </strong>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Product name </span>Acetaminophen
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Pack </span>45
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Subpack </span>3 &times; 15
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">AMP / SNOMED code </span>01234567
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">GTIN </span>12345
        </td>
        <td>
          <span class="nhsuk-table-responsive__heading">Price </span><span><span>299</span>p</span>
        </td>
        <td role="cell" class="nhsuk-table__cell center-table-row">
          <span class="nhsuk-table-responsive__heading select-tag">Status </span>
          <strong class="nhsuk-tag nhsuk-tag--green mobile-tag">
            Active
          </strong>
        </td>
      </tr>
      </tbody>
    </table>
<!--  </div>-->
<!--</div>-->
<div class="nhsuk-grid-row nhsuk-u-margin-top-3">
  <div class="nhsuk-grid-column-full">
    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span></a>
      </div>
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
            1
          </a>
        </li>
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg></a>
      </div>
    </nav>
  </div>
</div>




{% endblock %}