{% extends "base.html" %}
{% block title %}
Submit a new special product -What is the category? |  Specials Profile Replacement | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-6">
    <a class="nhsuk-back-link__link" href="general-changes">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to product detail </a>
</div>

<div class="nhsuk-form-group">

    <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
            <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
            <span class="nhsuk-caption-l">
                Submit a special product change
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
                What is the category?
            </h1>
        </legend>

        <div class="nhsuk-radios">

            <div class="nhsuk-radios__item nhsuk-u-margin-bottom-3">
                <input class="nhsuk-radios__input" id="contact-1" name="category" type="radio" value="Sterile" checked="checked">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                    Sterile
                </label>
            </div>

            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-2" name="category" type="radio" value="Non-sterile">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                    Non-Sterile
                </label>
            </div>
        </div>
    </fieldset>

</div>

<a class="nhsuk-button nhsuk-u-margin-top-3" onclick="storeCategory()" href="general-changes.html" id="continue-button" type="submit">
    Save and continue
</a>

<script>
    console.log(localStorage);

    var radioButtons = document.getElementsByName("category");
    let summaryPage = localStorage.getItem("supplier-summary");

    if (radioButtons) {
        var getCategory = localStorage.getItem("special-product-category");
        var buttonLink = document.getElementById("continue-button");
        if (getCategory != null) {
            for (var radio of radioButtons) {
                if (getCategory === radio.value) {
                    radio.checked = true;
                }
            }
        }
    }
    ;

    function storeCategory() {
        var radioButtons = document.getElementsByName("category");
        var buttonLink = document.getElementById("continue-button");

        for (var radio of radioButtons) {
            if (radio.checked) {
                localStorage.setItem("special-product-category", radio.value);
                if (localStorage.getItem("summary-page")) {
                    buttonLink.href = "product-summary-edit"
                }
            }
        }
    }

</script>

{% endblock %}