{% extends "supplier-navbar-base.html" %}
{% block title %}
Portal dashboard | Medicines Management design prototype | NHSBSA
{% endblock %}
{% block content %}
<div class="grid-row">

  <div class="column-two-thirds">
    <h1 class="">
      All drafts
    </h1>

    <p class="nhsuk-u-margin-bottom-5">Select the appropriate section to view or update your drafts which have not been submitted.</p>

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                 href="new-product-drafts">New product</a>
            </h2>
            <p class="nhsuk-card__description">View or update new product drafts.</p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                 href="new-pack-drafts">New pack</a>
            </h2>
            <p class="nhsuk-card__description">View or update new pack drafts.</p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                 href="drafts">Price change</a>
            </h2>
            <p class="nhsuk-card__description">View or update price change drafts.</p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                 href="discontinue-drafts">Discontinue</a>
            </h2>
            <p class="nhsuk-card__description">View or update discontinue drafts.</p>
          </div>
        </div>

      </li>
    </ul>
  </div>
</div>

<script>
  console.log(localStorage);
</script>
{% endblock %}