<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new special product -  User Information |  Specials Profile Replacement | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-8">
    <a class="nhsuk-back-link__link" href="browse-user-requests.html">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to browse user requests</a>
</div>

<div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset" role="group">
        <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
            <h1 class="nhsuk-fieldset__heading">
                Browse user request for Adam Little
            </h1>
        </legend>



        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    First name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Adam
                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Last name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Little
                </dd>

            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Email
                </dt>
                <dd class="nhsuk-summary-list__value">
                    adam.little@domain-name.uk
                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Telephone
                </dt>
                <dd class="nhsuk-summary-list__value">
                    No number recorded
                </dd>

            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Organisation or company name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Organisation name
                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Job role
                </dt>
                <dd class="nhsuk-summary-list__value">
                    <p>Head of department</p>
                </dd>

            </div>

        </dl>
    </fieldset>
</div>

<!--   This section does not appear if they have been approved/rejected already MPL 30APR24-->
<div class="nhsuk-form-group">

    <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
                Do you want to approve or reject this request?
            </h1>
        </legend>

        <div class="nhsuk-hint nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-3">
           Once you send the response, an email is sent to notify the person of the response.
        </div>

        <div class="nhsuk-hint">
            If the response is to approve the request, the person will be given details of how to log in to the application.
        </div>

        <div class="nhsuk-radios">

            <div class="nhsuk-radios__item nhsuk-u-margin-bottom-3">
                <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="approve">
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                    Approve
                </label>
            </div>

            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="reject">
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    Reject
                </label>
            </div>

        </div>
    </fieldset>
</div>

<!--  User is directed back to the list of user requests, and the status is updated  MPL 30APR24-->
<a class="nhsuk-button nhsuk-u-margin-top-4" href="browse-user-requests">Send response</a>



{% endblock %}


