{% extends "base.html" %}
{% block title %}
Submit a new product: product confirmation | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="govuk-panel govuk-panel--confirmation nhsuk-u-margin-bottom-5">
  <h1 class="govuk-panel__title">
    We have received your submission for review
  </h1>
  <div class="govuk-panel__body">
    Reference <span id="reference">56465452</span></div>
</div>

<h2>Next Steps</h2>
<p>You will receive a response via email once we have reviewed your submission. It can take up to 2 weeks to accept the discontinue submission. The Meds team may be in contact with you through email to verify imagery or contents.</p>

<p><a class="nhsuk-link nhsuk-link--no-visited-state" href="../../dashboard" class="nhsuk-link nhsuk-link--no-visited-state">
  Return to the portal dashboard
</a></p>

{% endblock %}