<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: pack size and strength | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
    <a class="nhsuk-back-link__link" id="back-link" href="submission-view">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to view submission</a>
</div>

<h1>Add your comment</h1>

<div class="nhsuk-form-group">
    <div class="nhsuk-hint" id="comment-hint">
        This comment will be added to message category, 'Status update'.
    </div>
    <label class="nhsuk-label" for="comment-detail">
        Comment
    </label>
    <textarea class="nhsuk-textarea" id="comment-detail" name="example" rows="5" aria-describedby="example-hint"></textarea>
</div>

<a class="nhsuk-button nhsuk-u-margin-top-4" href="update-submission-review"
   onclick="storeComment()" id="continue-button" type="submit">
    Continue
</a>

<script>
    var commentDetail = document.getElementById("comment-detail");

    function storeComment() {
    localStorage.setItem("comment-detail", commentDetail.value);
    }

  var getComment = localStorage.getItem("comment-detail");

    if (getComment != null) {
        commentDetail.defaultValue = getComment;
    }
</script>

{% endblock %}