<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: pack size and strength | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
    <a class="nhsuk-back-link__link" id="back-link" href="update-submission-status-notes">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to would you like to add notes for the supplier?</a>
</div>

<!--<h1>Update new product review</h1>-->

<!--<div class="nhsuk-do-dont-list">-->
<!--    <h3 class="nhsuk-do-dont-list__label">Amendments</h3>-->
<!--    <dl class="nhsuk-summary-list">-->

<!--        <div class="nhsuk-summary-list__row">-->
<!--            <dt class="nhsuk-summary-list__key">-->
<!--                Status-->
<!--            </dt>-->
<!--            <dd class="nhsuk-summary-list__value">-->
<!--                <strong class="nhsuk-tag nhsuk-tag&#45;&#45;red">-->
<!--                    Rejected-->
<!--                </strong>-->
<!--            </dd>-->

<!--        </div>-->

<!--        <div class="nhsuk-summary-list__row">-->
<!--            <dt class="nhsuk-summary-list__key">-->
<!--                Notes-->
<!--            </dt>-->
<!--            <dd class="nhsuk-summary-list__value">-->
<!--                This product submission has been rejected as is does not fulfil certain conditions.-->
<!--            </dd>-->

<!--        </div>-->

<!--    </dl>-->
<!--</div>-->

<div class="nhsuk-form-group">

    <fieldset class="nhsuk-fieldset" aria-describedby="nationality-hint">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-u-margin-bottom-4">
                How do you want to notify the supplier of this change?
            </h1>
        </legend>

        <div class="nhsuk-hint" id="nationality-hint">
            A notification is sent to the supplier to alert them of a change to the status of their submission. Details of the change is not be included in this message.
        </div>

        <div class="nhsuk-checkboxes">

            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british" aria-describedby="nationality-1-item-hint">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-1">
                    Email
                </label>
                <div class="nhsuk-hint nhsuk-checkboxes__hint" id="nationality-1-item-hint">
                    this will be sent to jane.smith@example.com
                </div>
            </div>

            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-2">
                    SMS
                </label>
                <div class="nhsuk-hint nhsuk-checkboxes__hint" id="nationality-1-item-hint">
                    this will be sent to 07700 900362
                </div>
            </div>

        </div>
    </fieldset>

</div>

<a class="nhsuk-button nhsuk-u-margin-top-4" href="update-submission-review" id="continue-button" type="submit">
    Continue
</a>





{% endblock %}