{% extends "base.html" %}
{% block title %}
Submit a new product: product confirmation | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-card" style="color: #ffffff; background-color: #005eb8;">
  <div class="nhsuk-card__content">
    <h1 class="nhsuk-card__heading nhsuk-u-margin-bottom-7" style="text-align: center">
      Company account has been created
    </h1>
    <p class="nhsuk-body-l"style="text-align: center">Reference 123456</p>
  </div>
</div>

<h2>Their next steps</h2>
<p>They will receive an email with a generated password which will allow them to log into the system.</p>
<p>Now that their company has access to the system, it is up to them to add additional users to the service to manage
their companies products.</p>

<p><a href="new-company-requests.html">
  Return to new requests
</a></p>



{% endblock %}