{% extends "base.html" %}
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Design prototype medicines management</h1>


    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Mock 1
    </span>
      </summary>
      <div class="nhsuk-details__text">
        <ol>
          <li><a href="/mock-1/home-page">Home Page</a></li>
        </ol>

      </div>
    </details>

  </div>
</div>
{% endblock %}