{% extends "base.html" %}
{% block title %}
Design prototype medicines management | NHSBSA
{% endblock %}
{% block content %}
<h1 class="heading-xlarge">Design prototype Medicines Management</h1>

<div class="nhsuk-grid-row nhsuk-u-margin-left-0">

<!--    <div class="nhsuk-action-link">-->
<!--      <a class="nhsuk-action-link__link nhsuk-link&#45;&#45;no-visited-state" href="/mock-1/login">-->
<!--        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">-->
<!--          <path d="M0 0h24v24H0z" fill="none"></path>-->
<!--          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>-->
<!--        </svg>-->
<!--        <span class="nhsuk-action-link__text">Go to prototype one</span>-->
<!--      </a>-->
<!--    </div>-->

<!--    <div class="nhsuk-action-link">-->
<!--      <a class="nhsuk-action-link__link nhsuk-link&#45;&#45;no-visited-state" href="/mock-2/login">-->
<!--        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">-->
<!--          <path d="M0 0h24v24H0z" fill="none"></path>-->
<!--          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>-->
<!--        </svg>-->
<!--        <span class="nhsuk-action-link__text">Go to prototype two</span>-->
<!--      </a>-->
<!--    </div>-->

<!--    <div class="nhsuk-action-link">-->
<!--      <a class="nhsuk-action-link__link nhsuk-link&#45;&#45;no-visited-state" href="/mock-3/login">-->
<!--        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">-->
<!--          <path d="M0 0h24v24H0z" fill="none"></path>-->
<!--          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>-->
<!--        </svg>-->
<!--        <span class="nhsuk-action-link__text">Go to prototype three</span>-->
<!--      </a>-->
<!--    </div>-->

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Supplier

        </h3>
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link nhsuk-link--no-visited-state" href="/mock-5/dashboard">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                 aria-hidden="true" width="36" height="36">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">Go to dashboard</span>
          </a>
        </div>

      </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading">
              Meds Team

            </h3>
            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link nhsuk-link--no-visited-state" href="/meds-mock-1/dashboard">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Go to dashboard</span>
              </a>
            </div>
          </div>
        </div>
      </li>

    </ul>

    <h2>Miscellaneous tasks</h2>

    <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link nhsuk-link--no-visited-state" href="/register/landing">
          <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" height="36" viewBox="0 0 24 24"
               width="36" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Go to pre login</span>
        </a>
      </div>
    </div>

  <div class="nhsuk-grid-column-one-third">
    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link nhsuk-link--no-visited-state" href="/login-journey/index">
        <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" height="36" viewBox="0 0 24 24"
             width="36" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Go to login journey</span>
      </a>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third">
    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link nhsuk-link--no-visited-state" href="/edit-contact/landing">
        <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" height="36" viewBox="0 0 24 24"
             width="36" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Edit supplier contact</span>
      </a>
    </div>
  </div>
    </div>

    <h2 class="nhsuk-u-margin-top-2">Individual pages</h2>
    <h3>Supplier</h3>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      New Product and New Pack
    </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Access individual pages here. For the full journey choose the 'Go to...' links.</p>

        <div class="nhsuk-grid-column-one-half">
          <h3>New Product</h3>
          <ol class="nhsuk-list nhsuk-list--number">
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-check-list">checklist</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-effective-date">effective date</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-name">product name</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-spc">got a SmPC or Data Sheet?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-no-spc">no SmPC or Data Sheet</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-file-upload">SmPC or Data Sheet file upload</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-file-upload-success">SmPC or Data Sheet file upload success</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack/pack-size-strength">pack size and type</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack/pack-strength-other">pack type other</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack/pack-subpack">is there subpack information?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack/pack-subpack-extra">what is the subpack information</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack/pack-gtin">pack gtin</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack/pack-require-artwork">pack has artwork?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack/pack-artwork">pack artwork upload</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack/pack-artwork-upload-success">pack artwork upload success</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-should-display-price">display a price?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-price">YES price - list price in pence</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-price-confirm">YES price - confirm price</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-reason-no-price">NO price - list the reason</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-legal-category">what is legal category?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-usage">used in hospitals only?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-add-pack">add another pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack-extra/pack-2-size">pack size in extra pack</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack-extra/pack-2-subpack">is there subpack info in extra pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack-extra/pack-2-subpack-extra">subpack info in extra pack</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack-extra/pack-2-gtin">gtin extra pack</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack-extra/pack-2-require-artwork">artwork for extra pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack-extra/pack-2-artwork">artwork upload for extra pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack-extra/pack-2-artwork-upload-success">artwork upload success for extra pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack-extra/product-2-should-display-price">display a price for extra pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack-extra/product-2-price">YES price - list price in pence for extra pack</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product/product-2-price-confirm">YES price - confirm price</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack-extra/pack-2-reason-no-price">NO price - list the reason for extra pack</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack-extra/pack-2-legal category">what is legal category of extra pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-product/product-pack-extra/pack-2-usage">used in hospitals only for extra pack?</a></li>
          </ol>
        </div>

        <div class="nhsuk-grid-column-one-half">
          <h3>New Pack</h3>
          <ol class="nhsuk-list nhsuk-list--number">
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/pack-check-list">checklist</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-effective-date">pack effective date</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/select-product">associated product name</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-spc">got a SmPC or Data Sheet?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-no-spc">no SmPC or Data Sheet</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-file-upload">SmPC or Data Sheet file upload</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-file-upload-success">SmPC or Data Sheet file upload success</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-size-and-type">pack size and UOM</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-type-other">pack UOM other</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-subpack">is there subpack information?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-subpack-extra">what is the subpack information</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-gtin">pack gtin</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-require-artwork">pack has artwork?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-artwork">pack artwork upload</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-artwork-upload-success">pack artwork upload success</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-should-display-price">display a price?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-price">YES price - list price in pence</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-price-confirm">YES price - confirm price</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/pack-reason-no-price">NO price - list the reason</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/legal-category">what is legal category?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/initial-pack/used-in-hospitals">used in hospitals only?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/add-extra-pack">add another pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/extra-pack/pack-size-2">pack size in extra pack</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/extra-pack/subpack-2">is there subpack info in extra pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/extra-pack/subpack-extra-2">subpack info in extra pack</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/extra-pack/gtin-2">gtin extra pack</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/extra-pack/extra-pack-2-require-artwork">artwork for extra pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/extra-pack/extra-pack-2-artwork">artwork upload for extra pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/extra-pack/extra-pack-2-artwork-upload-success">artwork upload success for extra pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/extra-pack/pack-should-display-price">display a price for extra pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/extra-pack/pack-price">YES price - list price in pence for extra pack</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/extra-pack/pack-price-confirm">YES price - confirm price</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/extra-pack/pack-reason-no-price">NO price - list the reason for extra pack</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/extra-pack/legal-category">what is legal category of extra pack?</a></li>
            <li><a tabindex="-1" class="nhsuk-link nhsuk-link--no-visited-state" href="../mock-5/submit-new-pack/extra-pack/hospitals-only-2">used in hospitals only for extra pack?</a></li>
          </ol>
        </div>

      </div>
    </details>

</div>


<script>
  localStorage.clear();
</script>
{% endblock %}