{% extends "base.html" %}
{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Design prototype medicines management prototype</h1>

    <h2>Sprints</h2>
    <ul>
      <li><a href="/sprint-18/stories">Sprint 18</a></li>
    </ul>

    <h2>Stories</h2>
    <ul>
      <li><a href="/tce-650/index">Insert VTM (TCE-650)</a></li>
      <li><a href="/tce-863/index">Insert VMPP Combination Packs (TCE-863)</a></li>
      <li><a href="/tce-868/insert-amp-name">Insert AMP (TCE-868)</a></li>
      <li><a href="/tce-938/index">Update VMP (TCE-938)</a></li>
      <li><a href="/tce-200-attributetypesearch/index">Code maintenance(TCEs: 179, 200, 806)</a></li>
      <li><a href="/tce-1105/index">Part IX Quick Price Max (TCE-1105)</a></li>
    </ul>
  </div>
</div>
{% endblock %}