{% extends "base.html" %}
{% block title %}
Portal dashboard | Medicines Management design prototype | NHSBSA
{% endblock %}
{% block content %}
    <div class="nhsuk-card" style="color: #ffffff; background-color: #005eb8; text-align: center">
      <div class="nhsuk-card__content">
        <h1 class="nhsuk-card__heading">
          Specials dashboard
        </h1>
      </div>
    </div>

    <h2>Requests</h2>
    <p>Various requests sent in by Pharmaceutical Manufacturer Unit (PMU) categorised as new or ongoing, approved and authored.</p>

    <ul class="nhsuk-grid-row nhsuk-card-group">

      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-32">5</span>
                  <br>
                  <a class="nhsuk-card__link nhsuk-u-font-size-19 nhsuk-link--no-visited-state"
                     href="new-or-ongoing-requests">Date received</a>
                </span>
            </h2>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-32">5</span>
                  <br>
                    <a class="nhsuk-card__link nhsuk-u-font-size-19 nhsuk-link--no-visited-state"
                       href="completed">Product name</a>
                </span>
            </h2>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-32">-</span>
                  <br>
                  <span class="nhsuk-u-font-size-19">
                    <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                       href="all-submissions/search">Status</a>
                  </span>
                </span>
            </h2>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <span class="nhsuk-card__link">
                  <span class="nhsuk-u-font-size-32">5</span>
                  <br>
                    <a class="nhsuk-card__link nhsuk-u-font-size-19 nhsuk-link--no-visited-state"
                       href="completed">Product name</a>
                </span>
            </h2>
          </div>
        </div>
      </li>
      

    </ul>

    <h2>Product enquiries</h2>

    <ul class="nhsuk-grid-row nhsuk-card-group">

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="company-directory/directory.html">Special product enquiries</a>
            </h2>
            <p class="nhsuk-card__description">View enquiries from companies regarding special products outside their portfolio.</p>
          </div>
        </div>
      </li>
    </ul>

    <h2>Pharmaceutical Manufacturer Units (PMUs)</h2>

    <ul class="nhsuk-grid-row nhsuk-card-group">

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="view-products">Special products</a>
            </h2>
            <p class="nhsuk-card__description">View and search for special products from all registered PMUs.</p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                 href="nhs-manufacturers-directory.html">PMU directory</a>
            </h2>
            <p class="nhsuk-card__description">Scan a list of all registered PMUs, as well as the ability to view in more detail.</p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link nhsuk-link--no-visited-state"
                 href="company-request/new-company-requests.html">New PMU requests</a>
            </h2>
            <p class="nhsuk-card__description">View new PMU requests.</p>
          </div>
        </div>
      </li>
    </ul>

<h2>Administration</h2>

<ul class="nhsuk-grid-row nhsuk-card-group">
<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  <div class="nhsuk-card nhsuk-card--clickable">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
        <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="user/list-of-users.html">User accounts</a>
      </h2>
      <p class="nhsuk-card__description">View and manage user accounts for all registered public sector organisations.</p>
    </div>
  </div>
</li>
</ul>

{% endblock %}