!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Select a reason | Submit a product change | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="upload-artwork.html" id="back-link">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to review details</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset">
    <h1>
        <span class="nhsuk-caption-l" id="product-name-title">
                Submit a pack change
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
      Do you have images of the packaging to upload?
    </h1>

    <div class="nhsuk-hint nhsuk-u-margin-bottom-3" id="contact-hint-artwork">
      The packaging is sometimes referred to as artwork. The images will not be displayed on dm+d.
    </div>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      What the images should show
    </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>The images should display:</p>
        <ul>
          <li>name of the product</li>
          <li>Marketing Authorisation Holder (MAH)</li>
          <li>GTIN code</li>
          <li>Product License Number</li>
          <li>supplier name</li>
        </ul>
      </div>
    </details>

    <div class="nhsuk-radios" id="display-price-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="data-yes" name="display-artwork" type="radio" value="yes" />
        <label class="nhsuk-label nhsuk-radios__label" for="data-yes">
          Yes
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="data-no" name="display-artwork" type="radio" value="no" />
        <label class="nhsuk-label nhsuk-radios__label" for="data-yes">
          No
        </label>
      </div>

    </div>
  </fieldset>
</div>

<a onclick="storeArtworkYesOrNo()" class="nhsuk-button nhsuk-u-margin-top-3"
   id="continue-button" href="../summary"
   name="next">Continue
</a>

<script>
  window.onload = function() {
    if (localStorage.getItem("subpack-change") == 'delete') {
    document.getElementById("back-link").setAttribute('href', "subpack-information");
    document.getElementById("back-link").innerHTML = "<svg class='nhsuk-icon nhsuk-icon__chevron-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' height='24' width='24'><path d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'></path></svg>Go back to detail the change to the subpack information";
      } else if (localStorage.getItem("subpack-change") == 'amend') {
    document.getElementById("back-link").setAttribute('href', "pack-subpack-confirmation");
    document.getElementById("back-link").innerHTML = "<svg class='nhsuk-icon nhsuk-icon__chevron-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' height='24' width='24'><path d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'></path></svg>Go back to confirm subpack size";
      } else if (localStorage.getItem("subpack-change") == 'add') {
    document.getElementById("back-link").setAttribute('href', "pack-subpack-confirmation");
    document.getElementById("back-link").innerHTML = "<svg class='nhsuk-icon nhsuk-icon__chevron-left' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' height='24' width='24'><path d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'></path></svg>Go back to confirm subpack size";
      }
   }
</script>

<script src="/js/newPack.js"></script>

{% endblock %}


<!--<script type="text/javascript">-->

<!--  function doesItHaveArtworkYesOrNo() {-->
<!--    var radioButtons = document.getElementsByName("data");-->
<!--    var buttonLink = document.getElementById("continue-button");-->

<!--    for (var radio of radioButtons) {-->
<!--      if (radio.checked) {-->
<!--        localStorage.setItem("product", radio.value);-->
<!--        if (radio.value == 'yes') {-->
<!--          buttonLink.href = "upload-artwork";-->
<!--        } else if (radio.value == 'no') {-->
<!--          buttonLink.href = "summary";-->
<!--        }-->
<!--      }-->
<!--    }-->
<!--  }-->




<!--</script>-->



