<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: pack artwork | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="extra-pack-2-artwork-upload-success">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to pack images of packaging uploaded files</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading" id="heading">
        Upload images of packaging
      </h1>
    </legend>
    <div class="nhsuk-hint" id="contact-hint">
      Files accepted are JPG, BMP, PNG, TIFF or PDF. The largest size of each file is 5MB.
    </div>
    <div class="govuk-form-group">
      <label class="nhsuk-label nhsuk-u-margin-top-3" for="extra-pack-file-upload-3">
        Upload a file
      </label>
      <input class="nhsuk-input " id="extra-pack-file-upload-3" name="extra-pack-file-upload-3" type="file" style="background-color: #ffffff;">
    </div>
  </fieldset>
</div>

<a class="nhsuk-button nhsuk-u-margin-top-2" onclick="storeExtraPackFileThreeUpload()"
   id="continue-button"
   href="extra-pack-2-artwork-upload-success"
   type="submit">
  Continue
</a>

<script src="/js/newPack.js"></script>
{% endblock %}


