{% extends "base.html" %}
{% block title %}
Submit a new product | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="product-list">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to selected packs</a>
</div>

<h1 id="skip-to-top">
  <span class="nhsuk-caption-l">
     Price change submission
     <span class="nhsuk-u-visually-hidden"> - </span>
   </span>Price input</h1>

<h2>Aciclovir 200mg dispersible tablets</h2>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-3">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Pack size and UOM
        </dt>
        <dd class="nhsuk-summary-list__value">
          30 tablet
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Current price
        </dt>
        <dd class="nhsuk-summary-list__value">
          279p
        </dd>

      </div>

    </dl>
  </div>
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="example-with-hint-text-aciclovir">
        What is the new price?
      </label>
      <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="example-with-hint-text-aciclovir">
        Enter price in pence.
      </div>
      <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="aciclovir" name="weight" type="text" spellcheck="false">
        <div class="govuk-input__suffix" aria-hidden="true">pence</div>
      </div>
      <!--      <input class="nhsuk-input nhsuk-input&#45;&#45;width-10" id="example-with-hint-text" name="example-with-hint-text" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">-->
    </div>
  </div>
  <div class="nhsuk-grid-column-full skip-links">
    <a class="nhsuk-back-to-top__link nhsuk-u-font-size-16" href=#submit>
      <svg class="nhsuk-icon skip-to-bottom-link"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           aria-hidden="true">
        <path
                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
        </path>
      </svg>
      Skip to bottom</a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a class="nhsuk-back-to-top__link nhsuk-u-font-size-16" href="#skip-to-top">
      <svg class="nhsuk-icon"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           aria-hidden="true">
        <path
                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
        </path>
      </svg>
      Back to top</a>
  </div>
</div>

<hr class="nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-5" />

<h2>Bupenorphine 100mg capsules</h2>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-3">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Pack size and UOM
        </dt>
        <dd class="nhsuk-summary-list__value">
          28 capsules
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Current price
        </dt>
        <dd class="nhsuk-summary-list__value">
          233p
        </dd>

      </div>

    </dl>
  </div>
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="example-with-hint-text-bromocriptine">
        What is the new price?
      </label>
      <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="example-with-hint-text-bromocriptine">
        Enter price in pence.
      </div>
      <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="bromocriptine" name="weight" type="text" spellcheck="false">
        <div class="govuk-input__suffix" aria-hidden="true">pence</div>
      </div>
      <!--      <input class="nhsuk-input nhsuk-input&#45;&#45;width-10" id="example-with-hint-text" name="example-with-hint-text" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">-->
    </div>
  </div>
  <div class="nhsuk-grid-column-full skip-links">
    <a class="nhsuk-back-to-top__link nhsuk-u-font-size-16" href=#submit>
      <svg class="nhsuk-icon skip-to-bottom-link"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           aria-hidden="true">
        <path
                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
        </path>
      </svg>
      Skip to bottom</a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a class="nhsuk-back-to-top__link nhsuk-u-font-size-16" href="#skip-to-top">
      <svg class="nhsuk-icon"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           aria-hidden="true">
        <path
                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
        </path>
      </svg>
      Back to top</a>
  </div>
</div>

<hr class="nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-5" />

<h2>Cymbalta 30mg gastro-resistant capsules</h2>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-3">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Pack size and UOM
        </dt>
        <dd class="nhsuk-summary-list__value">
          30 capsules
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Subpack
        </dt>
        <dd class="nhsuk-summary-list__value">
          3 &times; 10 capsules
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Current price
        </dt>
        <dd class="nhsuk-summary-list__value">
          315p
        </dd>

      </div>
    </dl>
  </div>
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="example-with-hint-text-strawberry">
        What is the new price?
      </label>
      <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="example-with-hint-text-strawberry">
        Enter price in pence.
      </div>
      <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="strawberry" name="weight" type="text" spellcheck="false">
        <div class="govuk-input__suffix" aria-hidden="true">pence</div>
      </div>
      <!--      <input class="nhsuk-input nhsuk-input&#45;&#45;width-10" id="example-with-hint-text" name="example-with-hint-text" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">-->
    </div>
  </div>
  <div class="nhsuk-grid-column-full skip-links">
    <a class="nhsuk-back-to-top__link nhsuk-u-font-size-16" href=#submit>
      <svg class="nhsuk-icon skip-to-bottom-link"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           aria-hidden="true">
        <path
                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
        </path>
      </svg>
      Skip to bottom</a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a class="nhsuk-back-to-top__link nhsuk-u-font-size-16" href="#skip-to-top">
      <svg class="nhsuk-icon"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           aria-hidden="true">
        <path
                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
        </path>
      </svg>
      Back to top</a>
  </div>
</div>

<hr class="nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-5" />

<h2>Diamorphine 10mg tablets</h2>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-3">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Pack size and UOM
        </dt>
        <dd class="nhsuk-summary-list__value">
          100 tablet
        </dd>

      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Current price
        </dt>
        <dd class="nhsuk-summary-list__value">
          162p
        </dd>

      </div>

    </dl>
  </div>
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="example-with-hint-text-aciclovir">
        What is the new price?
      </label>
      <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="example-with-hint-text-aciclovir">
        Enter price in pence.
      </div>
      <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="aciclovir" name="weight" type="text" spellcheck="false">
        <div class="govuk-input__suffix" aria-hidden="true">pence</div>
      </div>
      <!--      <input class="nhsuk-input nhsuk-input&#45;&#45;width-10" id="example-with-hint-text" name="example-with-hint-text" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">-->
    </div>
  </div>
  <div class="nhsuk-grid-column-full skip-links">
    <a class="nhsuk-back-to-top__link nhsuk-u-font-size-16" href=#submit>
      <svg class="nhsuk-icon skip-to-bottom-link"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           aria-hidden="true">
        <path
                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
        </path>
      </svg>
      Skip to bottom</a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a class="nhsuk-back-to-top__link nhsuk-u-font-size-16" href="#skip-to-top">
      <svg class="nhsuk-icon"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           aria-hidden="true">
        <path
                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
        </path>
      </svg>
      Back to top</a>
  </div>
</div>

<hr class="nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-5" />

<h2>Methadone 50mg/5ml solution for injection ampoules</h2>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-3">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Pack size and UOM
        </dt>
        <dd class="nhsuk-summary-list__value">
          10 ampoules
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Current price
        </dt>
        <dd class="nhsuk-summary-list__value">
          222p
        </dd>

      </div>

    </dl>
  </div>
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="example-with-hint-text-bromocriptine">
        What is the new price?
      </label>
      <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="example-with-hint-text-bromocriptine">
        Enter price in pence.
      </div>
      <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="bromocriptine" name="weight" type="text" spellcheck="false">
        <div class="govuk-input__suffix" aria-hidden="true">pence</div>
      </div>
      <!--      <input class="nhsuk-input nhsuk-input&#45;&#45;width-10" id="example-with-hint-text" name="example-with-hint-text" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">-->
    </div>
  </div>
  <div class="nhsuk-grid-column-full skip-links">
    <a class="nhsuk-back-to-top__link nhsuk-u-font-size-16" href=#submit>
      <svg class="nhsuk-icon skip-to-bottom-link"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           aria-hidden="true">
        <path
                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
        </path>
      </svg>
      Skip to bottom</a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a class="nhsuk-back-to-top__link nhsuk-u-font-size-16" href="#skip-to-top">
      <svg class="nhsuk-icon"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           aria-hidden="true">
        <path
                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
        </path>
      </svg>
      Back to top</a>
  </div>
</div>

<hr class="nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-5" />

<h2>Piroxicam 20mg capsules</h2>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-3">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Pack size and UOM
        </dt>
        <dd class="nhsuk-summary-list__value">
          30 capsules
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Subpack
        </dt>
        <dd class="nhsuk-summary-list__value">
          5 &times; 4 capsules
        </dd>

      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Current price
        </dt>
        <dd class="nhsuk-summary-list__value">
          453p
        </dd>

      </div>
    </dl>
  </div>
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="example-with-hint-text-strawberry">
        What is the new price?
      </label>
      <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="example-with-hint-text-strawberry">
        Enter price in pence.
      </div>
      <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="strawberry" name="weight" type="text" spellcheck="false">
        <div class="govuk-input__suffix" aria-hidden="true">pence</div>
      </div>
      <!--      <input class="nhsuk-input nhsuk-input&#45;&#45;width-10" id="example-with-hint-text" name="example-with-hint-text" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">-->
    </div>
  </div>
  <div class="nhsuk-grid-column-full skip-links">
    <a class="nhsuk-back-to-top__link nhsuk-u-font-size-16" href=#submit>
      <svg class="nhsuk-icon skip-to-bottom-link"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           aria-hidden="true">
        <path
                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
        </path>
      </svg>
      Skip to bottom</a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a class="nhsuk-back-to-top__link nhsuk-u-font-size-16" href="#skip-to-top">
      <svg class="nhsuk-icon"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
           aria-hidden="true">
        <path
                d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
        </path>
      </svg>
      Back to top</a>
  </div>
</div>

<a class="nhsuk-button nhsuk-u-margin-top-7" onclick=""
   href="check-prices" id="submit" type="submit">
  Save prices and continue
</a>

<script>
  if (localStorage.getItem("price-change-type") ==  "zero price") {
      document.getElementById("submit").href = "price-zero-reason";
  }
</script>

{% endblock %}