{% extends "base.html" %}
{% block title %}
Submit a new product | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="input-price">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to price input</a>
</div>

<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
    <h1 class="nhsuk-fieldset__heading nhsuk-u-margin-bottom-4">
      <span class="nhsuk-caption-l">
     Price change submission
     <span class="nhsuk-u-visually-hidden"> - </span>
   </span>Confirm the price change
    </h1>
  </legend>

  <p>Due to the large price difference, please review the following price update.</p>
  <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
  <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

    <div class="nhsuk-summary-list__row">
      <dt class="price-update-summary">
        Product name
      </dt>
      <dd class="nhsuk-summary-list__value">
        Methadone 50mg/5ml solution for injection ampoules
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="price-update-summary">
       Pack size and UOM
      </dt>
      <dd class="nhsuk-summary-list__value">
        10 ampoule
      </dd>

    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="price-update-summary">
        New price
      </dt>
      <dd class="nhsuk-summary-list__value">
        566p or £5.66
      </dd>

    </div>

  </dl>
  </div>
  </div>

  <div class="nhsuk-hint nhsuk-u-margin-bottom-4">
    Is this the correct price update for this product?
  </div>

  <div class="nhsuk-form-group">

    <div class="nhsuk-radios nhsuk-radios--conditional">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
          Yes, this is the correct price change
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="contact-3" name="example-hints" type="radio" value="text" aria-controls="conditional-contact-3" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
          No, I want to amend this price change
        </label>
      </div>

      <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-3">

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="weight">
            Price in pence
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">pence</div>
          </div>
        </div>

      </div>

      <div class="nhsuk-radios__divider">or</div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
          No, I want to remove this price change
        </label>
      </div>

    </div>
  </div>

</fieldset>

<a class="nhsuk-button nhsuk-u-margin-top-5" onclick="" href="check-prices" id="continue-button" type="submit">
  Continue
</a>




{% endblock %}