{% extends "base.html" %}
{% block title %}
Submit a new product: product denied | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="nhsuk-card" style="color: #ffffff; background-color: #DA291C;">
  <div class="nhsuk-card__content">
    <h1 class="nhsuk-card__heading" style="text-align: center">
      Your PMU request is denied
    </h1>
    <h2 style="text-align: center">Company name: </h2>
  </div>
</div>

<h2>Next Steps</h2>
<p>You can track this PMU <a class="nhsuk-link nhsuk-link--no-visited-state" href="#"> request here</a></p>


<p><a href="all-PMU-request.html" class="nhsuk-link nhsuk-link--no-visited-state">
  Return to all PMU requests
</a></p>


{% endblock %}