{% extends "base.html" %}
{% block title %}
Submit a new product: product confirmation | Portal | NHSBSA
{% endblock %}
{% block content %}



<div class="govuk-panel govuk-panel--confirmation nhsuk-u-margin-bottom-5"style="color: #ffffff; background-color: #005eb8;">
  <h1 class="govuk-panel__title">
    Your draft has been saved
  </h1>
  <div class="govuk-panel__body">
    Reference <span id="reference">56465452</span></div>
</div>

<h2>Next Steps</h2>
<p>Your pack has been saved as a draft and no submission has been made. You can return to the draft to edit and submit at any point through the dashboard.</p>

<p><a class="nhsuk-link nhsuk-link--no-visited-state" href="../../dashboard">
  Return to the portal dashboard
</a></p>

<script>

var getProductName = localStorage.getItem("product-name");
var getProductStrength = localStorage.getItem("product-strength");
var getProductMeasurement = localStorage.getItem("product-measurement");
document.getElementById("product-name").innerHTML = getProductName;



</script>


{% endblock %}