<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: spc link or file upload | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="does-have-artwork.html">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to pack has images of packaging?</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">        <span class="nhsuk-caption-l" id="product-name-title">
                Submit a pack change
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
        Images of packaging upload
      </h1>
    </legend>

    <p id="artwork-limit">Files accepted are JPG, BMP, PNG, TIFF or PDF. The largest size of each file is 5 MB.</p>

    <table role="table" class="nhsuk-table-responsive" id="hide-table">
      <caption class="nhsuk-table__caption">Summary of images of packaging uploads</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
         File name
        </th>
        <th role="columnheader" class="" scope="col">
          File size
        </th>
        <th role="columnheader" class="" scope="col">
          Action
        </th>
      </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row" id="hide-first-file">
        <td role="cell" class="nhsuk-table__cell" id="file-upload-name">
          <span class="nhsuk-table-responsive__heading">File name </span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">File size </span>2.30 MB
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action</span><a id="remove-file-1" href="#">Remove</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row" id="hide-second-file">
        <td role="cell" class="nhsuk-table__cell" id="file-upload-name-2">
          <span class="nhsuk-table-responsive__heading">File name </span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">File size </span>2.93 MB
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action</span><a id="remove-file-2" href="#">Remove</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row" id="hide-third-file">
        <td role="cell" class="nhsuk-table__cell" id="file-upload-name-3">
          <span class="nhsuk-table-responsive__heading">File name </span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">File size </span>2.10 MB
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action</span><a id="remove-file-3" href="#">Remove</a>
        </td>
      </tr>
      <tr role="row" class="nhsuk-table__row" id="hide-fourth-file">
        <td role="cell" class="nhsuk-table__cell" id="file-upload-name-4">
          <span class="nhsuk-table-responsive__heading">File name </span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">File size </span>2.93 MB
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action</span><a id="remove-file-4" href="#">Remove</a>
        </td>
      </tr>
      </tbody>
    </table>

    <p class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-1" id="add-another-link"><a class="nhsuk-link" id="go-to-file-2" href="pack-artwork-2">Add another file</a></p>

    <p class="nhsuk-u-margin-bottom-1" id="add-link" style="display: none">No images uploaded. Add an image <a class="nhsuk-link" id="go-to-file-1"  href="pack-artwork">here</a></p>
  </fieldset>
</div>

<a class="nhsuk-button" onclick="uploadArtworkFiles()"
   id="continue-button"
   href="final-summary.html"
   type="submit">
  Continue
</a>

<script src="/js/newPack.js"></script>
{% endblock %}


