!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Select a reason | Submit a product change | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="select-pack">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to select pack</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        <span class="nhsuk-caption-l" id="product-name-title">
                Submit a pack change
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>
        Select a cause for the pack change
      </h1>
    </legend>

    <div class="nhsuk-radios" id="data-discontinue-reason-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="legal-category" name="data-pack-change-reason" type="radio" value="legal category" />
        <label class="nhsuk-label nhsuk-radios__label" for="legal-category">
          Change to the legal category
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="change-gtin" name="data-pack-change-reason" type="radio" value="GTIN code" />
        <label class="nhsuk-label nhsuk-radios__label" for="change-gtin">
        Change to the GTIN code
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="change-subpack-info" name="data-pack-change-reason" type="radio" value="subpack information" />
        <label class="nhsuk-label nhsuk-radios__label" for="change-subpack-info">
        Change to the subpack information
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="change-availability-restrictions" name="data-pack-change-reason" type="radio" value="availability restrictions" />
        <label class="nhsuk-label nhsuk-radios__label" for="change-availability-restrictions">
        Change to the availability restrictions
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="change-storage-conditions" name="data-pack-change-reason" type="radio" value="storage conditions" />
        <label class="nhsuk-label nhsuk-radios__label" for="change-storage-conditions">
          Change to the storage conditions
        </label>
      </div>
      

    </div>
  </fieldset>
</div>

<a onclick="saveReason()" class="nhsuk-button nhsuk-u-margin-top-3"
       id="next" href="summary.html"
       name="next">Save and continue
</a>

<script type="text/javascript">

  if (localStorage.getItem("summary-page")) {
     localStorage.removeItem("summary-page");
  }

  const continueBtn = document.getElementById("next")

  function saveReason() {
    var radioButtons = document.getElementsByName("data-pack-change-reason");

    for (var radio of radioButtons) {
      if (radio.checked) {
          localStorage.setItem("pack-change-reason", radio.value);
       }
     }
  }

var radioReasonButtons = document.getElementsByName("data-pack-change-reason");

if (radioReasonButtons.length != 0) {

var getProductChangeReason = localStorage.getItem("pack-change-reason");

    if (getProductChangeReason != null) {
        for (var radio of radioReasonButtons) {
            if (getProductChangeReason === radio.value) {
                radio.checked = true;
            }
        }
      }
    };




</script>

{% endblock %}


