{% extends "base.html" %}
{% block title %}
Submit a new special product -New special product request sent? |  Specials Profile Replacement | NHSBSA
{% endblock %}
{% block content %}


<div class="govuk-panel govuk-panel--confirmation nhsuk-u-margin-bottom-5">
  <h1 class="govuk-panel__title" id="submission-detail">
    New special product request sent
  </h1>
  <div class="govuk-panel__body">
    Reference <strong>SR-000000</strong>
  </div>
</div>

<h2>Next Steps</h2>
<p>You can track this new special product request in <a class="nhsuk-link nhsuk-link--no-visited-state" href="../product-submissions-main.html"> ongoing special requests</a></p>


<p><a href="../dashboard.html" class="nhsuk-link nhsuk-link--no-visited-state">
  Return to specials dashboard
</a></p>


{% endblock %}