<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: pack size and strength | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="pack-size-and-type">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to pack size and type</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading" id="heading">
        Detail the type of pack
      </h1>
    </legend>
    <div class="nhsuk-hint nhsuk-u-margin-bottom-3" id="example-hint">
      For example, tablets, ml or doses.
    </div>


    <label class="nhsuk-label" for="pack-type-other">
      Pack type
    </label>
    <input class="nhsuk-input nhsuk-u-margin-bottom-3" id="pack-type-other" name="size" type="text" pattern="[0-9]*" inputmode="numeric">

  </fieldset>
</div>

<a class="nhsuk-button nhsuk-u-margin-top-2" onclick="storePackTypeOther()"
   href="pack-subpack" id="continue-button"
   type="submit">
  Continue
</a>

<script src="/js/newPack.js"></script>
{% endblock %}