{% extends "base.html" %}
{% block title %}
Submit a new product: name | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="pack-effective-date">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to effective date</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        Select a product
      </h1>
    </legend>

    <div class="nhsuk-hint nhsuk-u-margin-bottom-3" id="name-hint-detail">
      This includes the name, amount, measurement and presentation / form. For example, &#39;Product Name 200mg tablets&#39;.
    </div>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="product-name">
        Select a product
      </label>
      <select class="nhsuk-select" id="product-name" name="name">
        <option value=""></option>
        <option value="Forticreme dessert chocolate">Forticreme dessert chocolate</option>
        <option value="Enfamil AR powder">Enfamil AR powder</option>
        <option value="Caloreen powder">Caloreen powder</option>
        <option value="Fortisip liquid banana">Fortisip liquid banana</option>
        <option value="Fortisip Multi Fibre liquid chicken">Fortisip Multi Fibre liquid chicken</option>
        <option value="Fortisip Multi Fibre liquid chocolate">Fortisip Multi Fibre liquid chocolate</option>
        <option value="Fortisip Multi Fibre liquid vanilla">Fortisip Multi Fibre liquid vanilla</option>
        <option value="Fortisip Multi Fibre liquid orange">Fortisip Multi Fibre liquid orange</option>
        <option value="Fortisip Multi Fibre liquid strawberry">Fortisip Multi Fibre liquid strawberry</option>
        <option value="Duobar bar natural">Duobar bar natural</option>
      </select>
    </div>
  </fieldset>
</div>

  <a class="nhsuk-button nhsuk-u-margin-top-2" onclick="storeName()"
     href="pack-spc" id="continue-button" type="submit">
    Continue
  </a>

<script src="/js/newPack.js"></script>

<script>

accessibleAutocomplete.enhanceSelectElement({
            defaultValue: "",
            autoselect: true,
            showAllValues: true,
            confirmOnBlur: false,
            showNoOptionsFound: true,
            selectElement: document.querySelector("#product-name"),
        });

        let parentDiv = document.querySelector("#product-name").parentNode;
        let newLabel = document.createElement("label");
        newLabel.innerHTML = "Company";
        newLabel.style.display = "none";
        newLabel.setAttribute("for", document.querySelector("#product-name-select").id);
        console.log(newLabel);
        parentDiv.appendChild(newLabel);

</script>

{% endblock %}