{% extends "specials-logo-base.html" %}
{% block title %}
Submit a new special product - Container detail? |  Specials Profile Replacement | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-8">

    <a class="nhsuk-back-link__link" href="manage-container-updated">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back to containers</a>
</div>


<div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset" role="group">
        <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
            <h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l">
    Submit a special product change
  <span class="nhsuk-u-visually-hidden"> - </span>
</span>Container detail
            </h1>
        </legend>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-3" id="delete-container">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p> If this container is no longer needed <a href="confirm-delete-container.html" >you can remove this container here</a></p>
        </div>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                   Container
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Bottle-Amber glass
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="edit-container.html">
                        Edit<span class="nhsuk-u-visually-hidden">Container</span>
                    </a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Pack
                </dt>
                <dd class="nhsuk-summary-list__value">
                    10ml
                </dd>

                <dd class="nhsuk-summary-list__actions">


                        Edit<span class="nhsuk-u-visually-hidden">Pack size</span>

                </dd>

            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Packs per box
                </dt>
                <dd class="nhsuk-summary-list__value">
                    10
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    Edit<span class="nhsuk-u-visually-hidden">Pack size</span>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    GTIN
                </dt>
                <dd class="nhsuk-summary-list__value">
                    5020850100014
                </dd>

                <dd class="nhsuk-summary-list__actions">

                        Edit<span class="nhsuk-u-visually-hidden">GTIN </span>

                </dd>

            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    In stock?
                </dt>
                <dd class="nhsuk-summary-list__value">
                    <strong class="nhsuk-tag nhsuk-tag--red">
                        No
                    </strong>
                </dd>

                <dd class="nhsuk-summary-list__actions">

                        Edit<span class="nhsuk-u-visually-hidden">if pack is in stock</span>

                </dd>
            </div>
            
        </dl>
    </fieldset>
</div>

<a href="manage-container-updated" class="nhsuk-button nhsuk-u-margin-right-4"
   id="next"
>Save container
</a>

{% endblock %}


