{% extends "base.html" %}
{% block title %}
Design prototype medicines management | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-form-group">
      <h1 class="nhsuk-label-wrapper">
        <span class="nhsuk-caption-l">Login</span>
        <label class="nhsuk-label nhsuk-label--l" for="password">
          What is your password?
        </label>
      </h1>
      <div class="nhsuk-hint" id="example-with-hint-text-hint">
        Please enter the password for example@nhs.co.uk
      </div>
<!--      <input class="nhsuk-input nhsuk-input&#45;&#45;width-20" id="password" name="password" type="password">-->

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="password">
          Password
        </label>

        <input class="nhsuk-input nhsuk-input--width-20" id="password" name="password" type="password" value="1234ABC!" data-module="moj-password-reveal">

      </div>

    </div>
  </div>
</div>
<a class="nhsuk-button nhsuk-button--secondary" href="enter-username.html">
  Go back
</a>
<a class="nhsuk-button" href="enter-two-factor-auth.html" id="submit" type="submit">
  Continue
</a>
{% endblock %}

