{% extends "base.html" %}
{% block title %}
Submit a new product: product confirmation | Portal | NHSBSA
{% endblock %}
{% block content %}

<div class="govuk-panel govuk-panel--confirmation nhsuk-u-margin-bottom-5">
  <div class="nhsuk-card__content">
    <h1 class="nhsuk-card__heading" style="text-align: center">
      Application submitted to register for Specials application
    </h1>
  </div>
</div>

<h2>Next Steps</h2>
<p>An email has been sent to the admin user of this PMU to detail their next steps.
  <!--    <a class="nhsuk-link nhsuk-link&#45;&#45;no-visited-state" href="view-status-confirmation"> request here</a></p>-->


<p><a href="../../index.html" class="nhsuk-link nhsuk-link--no-visited-state">Return to login</a></p>


{% endblock %}