{% extends "supplier-navbar-base.html" %}
{% block title %}
Enter your new password | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        Enter your new password
      </h1>
    </legend>
    <div class="nhsuk-hint" id="hint-text">
      Your new password must contain:
    </div>
    <div class="nhsuk-hint">
      <ul>
        <li>at least 8 characters in total</li>
        <li>at least 1 UPPERCASE character</li>
        <li>at least 1 lowercase character</li>
        <li>at least 1 number</li>
        <li>at least 1 special character</li>
        <li>no blank spaces at the start or end</li>
      </ul>
    </div>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="new">
        New password
      </label>
      <input class="nhsuk-input" id="new" name="example" type="text">
    </div>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="confirm">
        Confirm new password
      </label>
      <input class="nhsuk-input" id="confirm" name="example" type="text">
    </div>
  </fieldset>

  <a href="account-details" class="nhsuk-button nhsuk-u-margin-top-4">
    Change password
  </a>
  <div class="nhsuk-u-margin-top-2">
    <a href="account-details" class="nhsuk-link nhsuk-link--no-visited-state">
      I do not want to change my password
    </a>
  </div>
</div>
{% endblock %}