{% extends "supplier-navbar-base.html" %}
{% block title %}
Edit email address | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="account-details">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to account details</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        Edit email address
      </h1>
    </legend>
    <div class="nhsuk-body-m">
      After submitting the change, you will receive an email to confirm the change of email address.
    </div>
    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>The email address will show as 'pending confirmation' until the confirmation email has been
        responded to.</p>
    </div>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="example">
        Email address
      </label>
      <input class="nhsuk-input" id="example" name="example" type="text" value="johnsmith@nhs.net">
    </div>

  </fieldset>

  <a class="nhsuk-button nhsuk-u-margin-top-5" href="account-details" id="continue-button"
     type="submit" onclick="changeEmail()">
    Submit
  </a>
</div>

<script src="/js/editUser.js"></script>
{% endblock %}