{% extends "supplier-navbar-base.html" %}
{% block title %}
Enter your current password | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        Enter your current password
      </h1>
    </legend>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="current">
        Current password
      </label>
      <input class="nhsuk-input" id="current" name="example" type="text">
    </div>
  </fieldset>

  <a href="change-password" class="nhsuk-button nhsuk-u-margin-top-4">
    Continue
  </a>
  <div class="nhsuk-u-margin-top-2">
    <a href="account-details" class="nhsuk-link nhsuk-link--no-visited-state">
      I do not want to change my password
    </a>
  </div>
</div>
{% endblock %}