<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Submit a new product: spc or Data Sheet | Portal | NHSBSA
{% endblock %}
{% block content %}
<div class="nhsuk-back-link nhsuk-u-margin-bottom-4">
  <a class="nhsuk-back-link__link" href="edit-supplier-main">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back to portal user information</a>
</div>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label--xl">
      <h1 class="nhsuk-fieldset__heading">
        Do you want to reset two-factor authentication for this user?
      </h1>
    </legend>
    <div class="nhsuk-hint nhsuk-u-margin-bottom-4" id="data-sheet-hint">
      If reset, the user can to set up two-factor authentication when they next access the portal. An administrator cannot reactivate this on behalf of a user.
    </div>

    <div class="nhsuk-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
          Yes
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          No
        </label>
      </div>

    </div>
  </fieldset>
</div>
<a class="nhsuk-button" href="edit-supplier-main" onclick="requireYesOrNo()"
   id="continue-button">Save change and review</a>

<script>

    var radioButtons = document.getElementsByName("example");

    function requireYesOrNo() {
    var buttonLink = document.getElementById("continue-button");

    for (var radio of radioButtons) {
        if (radio.checked) {
        localStorage.setItem("2fa-deactivated", radio.value);
      }
    }
}

</script>

{% endblock %}


