{% extends "base.html" %}
{% block title %}
Submit a new special product - New special product request sent |  Specials Profile Replacement | NHSBSA
{% endblock %}
{% block content %}


<div class="govuk-panel govuk-panel--confirmation nhsuk-u-margin-bottom-5">
  <h1 class="govuk-panel__title" id="submission-detail">
    Browse user request sent
  </h1>
  <div class="govuk-panel__body">
    Reference <strong>SR-000000</strong>
  </div>
</div>

<h2>Next Steps</h2>
<p>You will be contacted within 3 working days with a response to your browse user request. If your request is successful, you will be given a link to log in to your account where you will be prompted to create a password. If you have any questions in the meantime, please contact xxxxxx@nhsbsa.mnhs.uk </p>

  <p><a class="nhsuk-link nhsuk-link--no-visited-state" href="../../index.html"> Return to login page</a></p>


{% endblock %}